//圖片區塊

.area-figure {

//預設================================================================

	&.default {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//相簿================================================================

	&.album {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('camera');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {

			}

			/*a*/.div {

				&:hover {

					.essay {
						background-color: $light-gray;
					}
				}
			}

			.img {

				span {
					@extend %bg-cover;
					display: block;
					height: 80px;
				}

				img {
					display: none;
				}
			}

			.essay {
				padding: $interval-m;
				background-color: $light;
				transition: $transition;
			}

			.figcaption {
				@extend %caption;

				span {
					
				}
			}

			.label {
				@extend %label;

				ul {

				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark;
			}

			.p {
				@extend %paragraph;

				p {

				}

				span {

				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//連結================================================================

	&.link {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('public');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {

			}

			/*a*/.div {

				&:hover {

					.essay {
						background-color: $light-gray;
					}
				}
			}

			.img {

				span {
					@extend %bg-cover;
					display: block;
					height: 80px;
				}

				img {
					display: none;
				}
			}

			.essay {
				padding: $interval-m;
				background-color: $light;
				transition: $transition;
			}

			.figcaption {
				@extend %caption;

				span {
					
				}
			}

			.label {
				@extend %label;

				ul {

				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark;
			}

			.p {
				@extend %paragraph;

				p {

				}

				span {

				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片敘述(圖片-標題-標籤-內文)================================================================

	&.page-figure {
		overflow: hidden;

		&:hover {

			.ct {

				.p {
					display: block;
				}
			}
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				position: relative;
			}

			.div {

			}

			.img {

				span {
					@extend %bg-cover;
					display: block;
					padding-bottom: 68%;
				}

				img {
					display: none;
				}
			}

			.essay {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: $interval-m;
				background-color: $black;
				background-color: rgba( $black, $opacity-h );
			}

			.figcaption {
				@extend %ellipsis;
				margin: $interval-s 0;
				font-size: $font-size-l;
				color: $white;

				span {
					color: inherit;
				}
			}

			.label {

				ul {
					@extend %reset;
					color: $gray;
					font-size: $font-size-s;
				}

				li {
					@extend %ellipsis;
					color: inherit;
					font-size: inherit;
				}

				span {

				}
			}

			/*i*/.mark {

			}

			.p {
				display: none;

				p {
					@extend %reset;
					margin: $interval-s 0;
					color: $white;
				}

				span {

				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片敘述(圖片-標題-標籤)================================================================

	&.page-img-figcaption-label {
		overflow: hidden;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				position: relative;
			}

			.div {

			}

			.img {

				span {
					@extend %bg-cover;
					display: block;
					padding-bottom: 68%;
				}

				img {
					display: none;
				}
			}

			.essay {

			}

			.figcaption {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: $interval-m;
				background-color: $black;
				background-color: rgba( $black, $opacity-h );
				font-size: $font-size-l;
				color: $white;

				span {
					color: inherit;
				}
			}

			.label {
				position: absolute;
				top: $interval-s;
				left: $interval-s;

				ul {
					@extend %reset;
				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark-extend;
			}

			.p {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: $interval-m;
				background-color: $black;
				background-color: rgba( $black, $opacity-h );

				p {
					@extend %reset;
					margin: $interval-s 0;
					color: $white;
				}

				span {

				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片敘述(圖片-標題)================================================================

	&.page-img-figcaption {
		overflow: hidden;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				position: relative;
			}

			.div {

			}

			.img {

				span {
					@extend %bg-cover;
					display: block;
					padding-bottom: 68%;
				}

				img {
					display: none;
				}
			}

			.figcaption {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: $interval-m;
				background-color: $black;
				background-color: rgba( $black, $opacity-h );
				font-size: $font-size-l;
				color: $white;

				span {
					color: inherit;
				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片敘述(圖片-標籤)================================================================

	&.page-img-label {
		overflow: hidden;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				position: relative;
			}

			.div {

			}

			.img {

				span {
					@extend %bg-cover;
					display: block;
					padding-bottom: 68%;
				}

				img {
					display: none;
				}
			}

			.label {
				position: absolute;
				top: $interval-s;
				left: $interval-s;

				ul {
					@extend %reset;
				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark-extend;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片敘述(圖片-標題-內文)================================================================

	&.page-img-figcaption-p {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			$pic_w: 150px;

			> .in {
				
			}

			/*a*/.div {
				position: relative;
				background-color: $light;
				transition: $transition;

				&:hover {
					background-color: $light-gray;
				}
			}

			.img {

				span {
					@extend %bg-cover;
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					bottom: 0;
					width: $pic_w;

					@include media('phone') {
						position: static;
						width: auto;
					}
				}

				img {
					display: none;

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}
			}

			.essay {
				padding: $interval-l;
				padding-left: $pic_w + $interval-l;

				@include media('phone') {
					padding-left: $interval-l;
				}
			}

			.figcaption {
				@extend %caption;

				span {
					
				}

				a {

				}
			}

			.p {
				@extend %paragraph;

				p {

				}

				span {

				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片敘述(圖片-標籤-內文)================================================================

	&.page-img-label-p {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			$pic_w: 150px;

			> .in {
				
			}

			/*a*/.div {
				position: relative;
				background-color: $light;
				transition: $transition;

				&:hover {
					background-color: $light-gray;
				}
			}

			.img {

				span {
					@extend %bg-cover;
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					bottom: 0;
					width: $pic_w;

					@include media('phone') {
						position: static;
						width: auto;
					}
				}

				img {
					display: none;

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}
			}

			.essay {
				padding: $interval-l;
				padding-left: $pic_w + $interval-l;

				@include media('phone') {
					padding-left: $interval-l;
				}
			}

			.label {
				margin-bottom: $interval-m;

				ul {
					@extend %reset;
				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark-extend;
			}

			.p {
				@extend %paragraph;

				p {

				}

				span {

				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片敘述(圖片-內文)================================================================

	&.page-img-p {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			$pic_w: 150px;

			> .in {
				
			}

			/*a*/.div {
				position: relative;
				background-color: $light;
				transition: $transition;

				&:hover {
					background-color: $light-gray;
				}
			}

			.img {

				span {
					@extend %bg-cover;
					position: absolute;
					display: block;
					top: 0;
					left: 0;
					bottom: 0;
					width: $pic_w;

					@include media('phone') {
						position: static;
						width: auto;
					}
				}

				img {
					display: none;

					@include media('phone') {
						display: block;
						width: 100%;
					}
				}
			}

			.p {
				@extend %paragraph;
				padding: $interval-l;
				padding-left: $pic_w + $interval-l;

				@include media('phone') {
					padding-left: $interval-l;
				}

				p {

				}

				span {

				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}