//表單區塊

//連結================================================================

.area-form.link {

	@include js(false) {
		display: none;
	}

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %title;

		> .in {

		}

		h4 {

			&:before {
				@include icon-font('public');
			}
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		.select {

		}

		select {
			width: 100%;
		}

		option {
			width: 100%;
		}
	}

	.ft {
		@extend %footer-btns;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}