//編輯區塊

.area-editor {

//預設================================================================

	&.default {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('mode_edit');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//聯絡資訊編輯================================================================

	&.address {
		@extend %area-mobile-no-header;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article;

			> .in {
				
			}

			a {
				@extend %a;

				&.is-map {

					&:after {
						@include icon-font('map');
						margin-left: $interval-s;
					}
				}
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//使用者編輯================================================================

	&.user-edit {
		@extend %area-page-no-header;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article-extend;

			> .in {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//系統資訊================================================================

	&.system-info {
		@extend %area-page-no-header;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article;

			> .in {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//錯誤訊息================================================================

	&.error-info {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				$color: #c40;

				@extend %title;
				color: $color;
				font-size: $font-size-xl;

				&:before {
					@include icon-font('error');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article-extend;

			> .in {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//cp 頁框架================================================================

	&.cp {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				display: none;
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}