//客製區塊

//視訊================================================================

.area-customize.video {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %title;

		> .in {

		}

		h4 {

			&:before {
				@include icon-font('movie');
			}
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		.video {
			margin-bottom: $interval-s;

			video {
				width: 100%;
			}

			source {

			}

			object {
				min-height: 45px;
				width: 100%;
				margin-bottom: $interval-s;
			}

			span {
				display: block;
				padding: $interval-s;
				background-color: $light;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.essay {
			
		}

		.caption {
			@extend %caption;

			span {
				
			}

			a {

			}
		}

		.label {
			@extend %label;

			ul {

			}

			li {

			}

			span {

			}
		}

		/*i*/.mark {
			@extend %mark;
		}

		.p {
			@extend %article-extend;

			p {

			}

			span {

			}
		}
	}

	.ft {
		@extend %footer-btns;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}