//編輯區塊

//聯絡資訊================================================================

.area-editor.address {

	.base-content & {
		@extend %area-mobile-no-header;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article;
			font-size: $font-size-s;

			> .in {
				
			}

			a {
				@extend %a;

				&.is-map {

					&:after {
						@include icon-font('map');
						margin-left: $interval-s;
					}
				}
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-footer & {
		font-size: $font-size-s;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			a {
				@extend %a;

				&.is-map {

					&:after {
						@include icon-font('map');
						margin-left: $interval-s;
					}
				}
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}