//表單區塊

//內頁搜尋================================================================

.area-form.page-search {

	&.is-active {

		.hd {

			h4 {

				&:before {
					@include icon-font('arrow_drop_up');
				}
			}
		}

		.ct {
			display: block;
		}
	}

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {

			&:before {
				@include icon-font('arrow_drop_down');
			}
		}

		span {
				
		}

		a {

		}
	}

	.ct {
		$height: 30px;

		display: none;
		background-color: $light;
		padding: $interval-s;

		> .in {

		}

		.fieldset {
			display: inline-block;
			margin: $interval-s;

			span {
				display: inline-block;
				vertical-align: middle;

				&:before {
					content: attr(data-before);
				}

				&:after {
					content: attr(data-after);
				}

				&.select {

				}

				&.date {

				}

				&.search {

				}

				&.submit {

				}

				&.reset {

				}
			}

			select {
				line-height: $height;
				height: $height;
				max-width: 120px;

				option {

				}
			}

			input {

				&[type="search"] {
					line-height: $height;
					height: $height;
				}

				&[type="date"] {
					line-height: $height;
					height: $height;
				}

				&[type="submit"] {
					@extend %btn-imp;
				}

				&[type="reset"] {
					
				}
			}
		}
	}

	.ft {
		@extend %footer;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}