//文章區塊

//連結================================================================

.area-essay.link {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %title;

		> .in {

		}

		h4 {

			&:before {
				@include icon-font('photo');
			}
		}

		span {
				
		}

		a {

		}
	}

	.ct {
		$pic_w: 150px;

		> .in {
			
		}

		/*a*/.div {
			position: relative;
			background-color: $light;
			transition: $transition;

			&:hover {
				background-color: $light-gray;
			}
		}

		.img {

			span {
				@extend %bg-cover;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				bottom: 0;
				width: $pic_w;

				@include media('phone') {
					position: static;
					width: auto;
				}
			}

			img {
				display: none;

				@include media('phone') {
					display: block;
					width: 100%;
				}
			}
		}

		.essay {
			padding: $interval-l;
			padding-left: $pic_w + $interval-l;

			@include media('phone') {
				padding-left: $interval-l;
			}
		}

		.caption {
			@extend %caption;

			span {
				
			}

			a {

			}
		}

		.label {
			@extend %label;

			ul {

			}

			li {

			}

			span {

			}
		}

		/*i*/.mark {
			@extend %mark;
		}

		.p {
			@extend %paragraph;

			p {

			}

			span {

			}
		}
	}

	.ft {
		@extend %footer-btns;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}