//雪碧圖

$icon-spacing: $interval-l; //圖片合併間距
$icon-repeat: no-repeat; //不重複
$icon-layout: horizontal; //水平排列
$icon-sprite-dimensions: false; //自動使用大小
$disabled-magic-sprite-selectors: true; //_hover 自動轉成 :hover

//指定路徑/副檔名
@import 'icon/*.png';

//合併
@include all-icon-sprites;