//變數

//灰階================================================================
	$white: #ffffff; //非常淺
	$light: #f5f5f5; //淺色
	$light-gray: #e0e0e0; //淺灰
	$gray: #898989; //灰色
	$deep-gray: #646464; //深灰
	$deep: #343434; //深色
	$black: #1a1a1a; //非常深


//版面顏色================================================================
	$main-color: #f59534 !default; //主色
	$main-color-hover: darken($main-color, 10);
	$sec-color: #0595d6 !default; //第二搭配色
	$sec-color-hover: darken($sec-color, 10);
	$third-color: #fff !default; //第三搭配色
	$third-color-hover: darken($third-color, 10);
	$fourth-color: #fff !default; //第四搭配色
	$fourth-color-hover: darken($fourth-color, 10);


//文字顏色================================================================
	$title-color: #ea5741 !default; //標題色
	$title-color-hover: darken($title-color, 10);
	$span-color: #a1c765 !default; //附註色
	$span-color-hover: darken($span-color, 10);


//模組顏色===============================================================
	$color-map: (
		facebook: #3c5998,
		google: #cb3726,
		twitter: #6aaed0,
		line: #4bc700,
		email: #666666
	);

	$color-list: #fff #fff;


//文字樣式================================================================
	$base-font-style: '微軟正黑體', Arial, 'Helvetica Neue', Helvetica, sans-serif, '新細明體';


//文字大小================================================================
	$font-size-xs: .8em;
	$font-size-s: .9em;
	$font-size-m: 1em;
	$font-size-l: 1.1em;
	$font-size-xl: 1.4em;


//文字圖示================================================================
	$icon-font-size: 24px; //文字圖示大小
	$icon-font-color: $main-color; //文字圖示顏色


//文字厚度================================================================
	$font-weight-n: 400;
	$font-weight-b: 700;


//文字行高================================================================
	$line-height-xs: 1;
	$line-height-s: 1.2;
	$line-height-m: 1.4;
	$line-height-l: 2;
	$line-height-xl: 2.4;


//文字間格================================================================
	$letter-spacing-xs: 1px;
	$letter-spacing-s: 2px;
	$letter-spacing-m: 3px;
	$letter-spacing-l: 4px;
	$letter-spacing-xl: 5px;


//透明度================================================================
	$opacity-vl: .3;
	$opacity-l: .5;
	$opacity-m: .5;
	$opacity-h: .8;
	$opacity-vh: .9;


//間隔設定================================================================
	$interval-xs: 3px;
	$interval-s: 6px;
	$interval-m: 10px;
	$interval-l: 20px;
	$interval-xl: 30px;


//RWD寬度================================================================
	$pc-width: 1010px;
	$pad-width: 768px;
	$phone-width: 660px;


//基本動畫速度================================================================
	$transition: 300ms;


//圖片檔名================================================================
	$header-logo-src: 'header_logo.png'; 
	$footer-logo-src: 'footer_logo.png';


//全頁文字================================================================
	$body-font-color: $deep !default; //網站文字顏色
	$body-font-size-s: $font-size-xs !default; //small
	$body-font-size-m: $font-size-s !default; //medium
	$body-font-size-l: $font-size-m !default; //large


//預設空文字================================================================
	$content: '\200B'; //空偽類的字元


//預設陰影================================================================
	$box-shadow: 0 0 $interval-m $light-gray;
	$text-shadow: 0 0 $interval-m $deep-gray;


//預設線條================================================================
	$border-style: solid;
	$border-width: 1px;
	$border-color: $light-gray;
	$border: $border-width $border-style $border-color;


//預設圓角================================================================
	$border-radius: $interval-s;


//連結顏色================================================================
	$link-color: $deep !default; //連結顏色
	$visited-color: $deep !default; //造訪過連結顏色
	$hover-color: $main-color !default; //指標移入連結顏色，不可與任何底色重疊 
	$active-color: $deep !default; //點擊連結顏色


//按鈕樣式================================================================
	$btn-bg-color: $gray; //按鈕背景色
	$btn-hover-bg-color: $deep-gray; //按鈕滑入顏色
	$btn-text-color: $white; //按鈕文字顏色
	$btn-padding: $interval-s $interval-m; //按鈕內邊距，決定按鈕大小
	$btn-border: 0; //按鈕線框


//輸入框樣式================================================================
	$input-padding: $interval-m;
	$input-border: transparent;
	$input-bg-color: transparent;