//變數與擴展功能

//灰階
$white: #ffffff;
$light: #f1f1f1; //淺
$light-gray: #d2d2d2; //淺灰
$gray: #cecece; //灰
$deep-gray: #999999; //深灰
$deep: #3c3c3c; //深
$black: #1a1a1a; //

//版面顏色
$main-color: #ed1c80 !default; //主色
$main-color-hover: darken($main-color, 10);
$sec-color: #16a185 !default; //搭配色
$sec-color-hover: darken($sec-color, 10);
$third-color: #f4865e !default; //第三色
$third-color-hover: darken($third-color, 10);

//文字顏色
$title-color: #8b45ae !default; //文章標題
$title-color-hover: darken($title-color, 10);
$span-color: #9f2139 !default; //文章附註
$span-color-hover: darken($span-color, 10);

//透明度
$opacity-l: .4;
$opacity-m: .5;
$opacity-h: .8;

//字高
$line-height-s: 1.2;
$line-height-m: 1.6;
$line-height-l: 2;
$line-height-xl: 2.4;

//文字大小
$font-size-xs: .8em;
$font-size-s: .9em;
$font-size-m: 1em; 
$font-size-l: 1.1em;
$font-size-xl: 1.4em;

//間隔設定
$interval-s: 3px;
$interval-m: 6px;
$interval-l: 10px;
$interval-xl: 20px;

//文字樣式
$base-font-style: '微軟正黑體', Arial, 'Helvetica Neue', Helvetica, sans-serif, '新細明體';

//文字厚度
$font-weight-n: 400;
$font-weight-b: 700;

//圖片檔名
// $header-logo-src: 'header_logo.png'; 
// $footer-logo-src: 'footer_logo.png';
// $left-src: 'left216.png';
// $right-src: 'right216.png';

//RWD寬度
$pc-width: 970px;
$pad-width: 768px;
$phone-width: 480px;


//基本樣式設定================================================================

//全頁文字
$body-font-color: $deep !default; //網站文字顏色
$body-font-size-l: $font-size-m !default;
$body-font-size-m: $font-size-s !default;
$body-font-size-s: $font-size-xl !default;

//預設空文字
$content: '\200B'; //空偽類的字元

//預設陰影
$box-shadow: 0 0 6px $deep-gray;
$text-shadow: 0 0 6px $deep;

//預設線條
$border: 1px solid $light-gray;

//預設線條
$border-radius: 4px;

//連結顏色
$link-color: $deep !default; //連結顏色
$visited-color: $deep !default; //造訪過連結顏色
$hover-color: $sec-color !default; //指標移入連結顏色，不可與任何底色重疊 
$active-color: $deep !default; //點擊連結顏色

//按鈕樣式
$btn-bg-color: $deep-gray; //按鈕背景色
$btn-hover-bg-color: $deep; //按鈕滑入顏色
$btn-text-color: $white; //按鈕文字顏色
$btn-padding: $interval-m $interval-xl; //按鈕內邊距，決定按鈕大小
$btn-border: $border; //按鈕線框




//RWD 核心================================================================

$breakpoints: (
  pc: '(max-width: #{$pc-width}) and (min-width: #{$pad-width + 1})',
  pad: '(max-width: #{$pad-width}) and (min-width: #{$phone-width + 1})',
  phone: '(max-width: #{$phone-width})'
);

@mixin at-breakpoint($name){

	@if map-has-key($breakpoints, $name){
		@media #{map-get($breakpoints, $name)} {
			@content;
		}
	}@else{
		@warn 'Couldn\'t find a breakpoint named #{$name}.';
	}
}




//extend 方法================================================================

%clear{ //清除浮動的方法，用於偽類
	content: $content;
	display: block;
	height: 0;
	clear: both;
}

%hide-text{ //隱藏文字的方法
	text-indent: -9999px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

%ellipsis{ //超過範圍文字變成'...'的方法
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}





//extend 排版================================================================

%center{ //齊中寬度
	width: $pc-width;
	margin: 0 auto;
}




//extend 模組================================================================

%title{ //模組title
	padding: $interval-l 0;
	margin-bottom: $interval-l;
	font-size: $font-size-l;
	color: $main-color;
}

%text{ //輸入框樣式
	padding: $interval-s;
	border: $border;
	vertical-align: middle;
}

%icon{ //偽類行內
	content: $content;
	display: inline-block;
	vertical-align: middle;
}

%btn{ //按鈕樣式
	display: inline-block;
	padding: $btn-padding;
	border: $btn-border;
	border-radius: $border-radius;
	line-height: 1;
	vertical-align: middle;
	color: $btn-text-color;
	cursor: pointer;
	font-size: $font-size-s;
	background-color: $btn-bg-color;

	&:link{
		color: $btn-text-color;
	}

	&:visited{
		color: $btn-text-color;
	}

	&:hover{
		background-color: $btn-hover-bg-color;
	}

	&:active{
		color: $btn-text-color;
	}
}

%table{ //表單樣式

	tr{

		&:nth-child(2n){
			background-color: $light;
		}

		th,td{ //th,td共同設定
			padding: $interval-l;
			
			a{
				color: inherit;

				&:hover{
					color: $hover-color;
				}
			}
		}

		th{ //標題設定
			font-size: $font-size-l;
			color: $title-color;
		}

		td{
			line-height: $line-height-m;
		}
	}
}




//mixin 樣式集================================================================

@mixin bgToPic($img_src, $picsize: true){ //依圖改變大小並置中，$img_src為圖片檔名，$picsize為false就不匯出寬高，$size調整大小比例

	@if( $picsize != false ){
		width: image-width($img_src);
		height: image-height($img_src);
	}

	background-image: image-url($img_src);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; //IE9+
}

@mixin icon($img_name){ //取雪碧圖icon
	@extend %icon;
	@extend .icon-#{$img_name};
}

@mixin icon-btn($img_name){ //只有icon圖片的按鈕
	display: inline-block;
	@extend %hide-text;

	&:before{
		@extend %icon;
		@extend .icon-#{$img_name};
		display: block;
	}
}



//extend 實例擴充================================================================

%flex-1{
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	flex: 1 0 auto;
}