//框架

body {
	font-size: $body-font-size-m; //預設大小，應與font-size-m同大
	font-family: $base-font-style;
	color: $body-font-color;

	&.font-size-l { //大字
		font-size: $body-font-size-l;
	}

	&.font-size-m { //中字
		font-size: $body-font-size-m;
	}

	&.font-size-s { //小字
		font-size: $body-font-size-s;
	}

	> form {
		
	}

	a {
		color: $link-color;
		text-decoration: none;

		&:link {
			color: $link-color;
		}

		&:visited {
			color: $visited-color;
		}
		
		&:hover {
			color: $hover-color;
		}

		&:active {
			color: $active-color;
		}
	}

	input{

		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			@extend %btn;
		}

		&[type="text"],
		&[type="email"],
		&[type="number"],
		&[type="password"],
		&[type="search"],
		&[type="number"] {
			@extend %text;
		}

		&[type="radio"] {
			
		}
	}

	select {
		@extend %text;

		option {

		}
	}

	label {
		cursor: pointer;
	}
}

.mobile { //mobile 行動載具

	> .container {

		> .inner {

		}
	}
}

.extend { //extend 額外資訊

	> .container {

		> .inner {

		}
	}
}

.wrapper { //wrapper 固定佈局

	> .container {

		> .inner {

		}
	}

	> .container > .inner > .header { //header 頁首資訊

		> .container {

			> .inner {

			}
		}

		.info { //info 資訊欄

			> .container {

				> .inner {

				}
			}
			
			.msg-tool { //msg-tool 資訊與工具

				> .container {

					> .inner {

					}
				}
			}
		}
	}

	> .container > .inner > .content { //content 主要內容

		> .container {

			> .inner {

			}
		}

		.group {

			> .container {

				> .inner {

				}
			}
		}

		.aside { //aside 內頁側邊

			> .container {

				> .inner {

				}
			}
		}

		.section { //section 內頁內容區塊

			> .container {

				> .inner {

				}
			}

			> .container > .inner > .header{ //header 頁首資訊

				> .container {

					> .inner {

					}
				}

				.info{ //info 資訊欄

					> .container {

						> .inner {

						}
					}

					.msg-tool{ //msg-tool 資訊與工具

						> .container {

							> .inner {

							}
						}
					}
				}
			}

			> .container > .inner > .content{ //content 主要內容

				> .container {

					> .inner {

					}
				}

				.article{ //article 文章內容

					> .container {

						> .inner {

						}
					}

					> .container > .inner > .header{ //header 頁首資訊

						> .container {

							> .inner {

							}
						}
					}

					> .container > .inner > .content{ //content 主要內容

						> .container {

							> .inner {

							}
						}
					}

					> .container > .inner > .footer{ //footer 頁尾資訊

						> .container {

							> .inner {

							}
						}
					}
				}
			}

			> .container > .inner > .footer{ //footer 頁尾資訊

				> .container {

					> .inner {

					}
				}
			}
		}
	}

	> .container > .inner > .footer { //footer 頁尾資訊

		> .container {

			> .inner {

			}
		}

		.info { //info 資訊欄

			> .container {

				> .inner {

				}
			}
			
			.msg-tool { //msg-tool 資訊與工具

				> .container {

					> .inner {

					}
				}
			}
		}
	}
}

@include at-breakpoint(phone) { //phone

}

@include at-breakpoint(pad) { //pad

}

@include at-breakpoint(pc) { //pc
	
}