//框架

body {
	font-size: $body-font-size-m; //預設大小，應與font-size-m同大
	font-family: $base-font-style;
	color: $body-font-color;

	&.font-size-l { //大字
		font-size: $body-font-size-l;
	}

	&.font-size-m { //中字
		font-size: $body-font-size-m;
	}

	&.font-size-s { //小字
		font-size: $body-font-size-s;
	}

	> form {
		
	}

	a {
		color: $link-color;
		text-decoration: none;

		&:link {
			color: $link-color;
		}

		&:visited {
			color: $visited-color;
		}
		
		&:hover {
			color: $hover-color;
		}

		&:active {
			color: $active-color;
		}
	}

	input{

		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			@extend %btn;
		}

		&[type="text"],
		&[type="email"],
		&[type="number"],
		&[type="password"],
		&[type="search"],
		&[type="number"] {
			@extend %text;
		}

		&[type="radio"] {
			
		}
	}

	select {
		@extend %text;

		option {

		}
	}

	label {
		cursor: pointer;
	}
}

#root { //拖曳根結點

	> .container {

		> .inner {

		}
	}
}

#mobile { //行動載具

	> .container {

		> .inner {

		}
	}

	.list-group-nav { //選單列表

		> .container {

			> .inner {

			}
		}

		> .container > .inner > .header {

			h3 {

				span {

				}
			}
		}

		> .container > .inner > .content {
			
			> ul {

				> li {

				}
			}
		}

		> .container > .inner > .footer {
			
		}
	}
}

#extend { //額外資訊

	> .container {

		> .inner {

		}
	}
}

#wrapper { //固定佈局

	> .container {

		> .inner {

		}
	}
}

#header { //頁首資訊

	> .container {

		> .inner {

		}
	}

	.group-info { //資訊群組

		> .container {

			> .inner {

			}
		}
		
		.group-msg-tool { //資訊與工具群組

			> .container {

				> .inner {

				}
			}
		}
	}

	.list-group-nav { //選單列表

		> .container {

			> .inner {

			}
		}

		> .container > .inner > .header {

			h3 {

				span {
					
				}
			}
		}

		> .container > .inner > .content {
			
			> ul {

				> li {

				}
			}
		}

		> .container > .inner > .footer {
			
		}
	}
}

#content { //主要內容

	> .container {

		> .inner {

		}
	}
}

#index { //首頁內容區塊

	> .container {

		> .inner {

		}
	}

	.tab-group-sample { //頁籤範例

		> .container {

			> .inner {

			}
		}
	}
}

#aside { //內頁側欄區塊

	> .container {

		> .inner {

		}
	}
}

#section { //內頁內容區塊

	> .container {

		> .inner {

		}
	}

	> .container > .inner > .header{ //頁首資訊

		> .container {

			> .inner {

			}
		}
	}

	> .container > .inner > .content{ //主要內容

		> .container {

			> .inner {

			}
		}
	}

	> .container > .inner > .footer{ //頁尾資訊

		> .container {

			> .inner {

			}
		}
	}
}

#article{ //文章

	> .container {

		> .inner {

		}
	}

	> .container > .inner > .header{ //頁首資訊

		> .container {

			> .inner {

			}
		}
	}

	> .container > .inner > .content{ //主要內容

		> .container {

			> .inner {

			}
		}
	}

	> .container > .inner > .footer{ //頁尾資訊

		> .container {

			> .inner {

			}
		}
	}
}

#footer { //頁尾資訊

	> .container {

		> .inner {

		}
	}

	.list-group-nav { //選單列表

		> .container {

			> .inner {

			}
		}

		> .container > .inner > .header {

			h3 {

				span {
					
				}
			}
		}

		> .container > .inner > .content {
			
			> ul {

				> li {

				}
			}
		}

		> .container > .inner > .footer {
			
		}
	}

	.group-info { //資訊群組

		> .container {

			> .inner {

			}
		}
		
		.group-msg-tool { //資訊與工具群組

			> .container {

				> .inner {

				}
			}
		}
	}
}

@include at-breakpoint(phone) {

}

@include at-breakpoint(pad) {

}

@include at-breakpoint(pc) {
	
}