//雪碧圖

$icon-spacing: 0; //圖片合併間距
$icon-repeat: no-repeat; //不重複
$icon-layout: horizontal; //水平排列
$icon-sprite-dimensions: false; //自動使用大小
$disabled-magic-sprite-selectors: true; //-hover 自動轉成 :hover

@import 'icon/*.png'; //指定路徑/副檔名

@include all-icon-sprites; //合併