.icon-font-chrome {
	content: "\e600";
}
.icon-font-firefox {
	content: "\e601";
}
.icon-font-IE {
	content: "\e602";
}
.icon-font-opera {
	content: "\e603";
}
.icon-font-safari {
	content: "\e604";
}
