//格線系統

$min_set_length: 1;
$max_set_length: 10;

@for $i from $min_set_length through $max_set_length{ //自動算子group的寬度

	.group[data-child="#{$i}"]{

		> .container{

			> .inner{

				> .group{
					float: left;
					width: 100% / $i;
				}
		
				&:after{
					@extend %clear;
				}
			}
		}
	}
}

@include at-breakpoint(phone){ //phone

	@for $i from $min_set_length through $max_set_length{ //自動算子group的寬度

		.group[data-child="#{$i}"]{

			> .container{

				> .inner{

					> .group{
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
}

@include at-breakpoint(pad){ //pad

	@for $i from $min_set_length through $max_set_length{ //自動算子group的寬度

		.group[data-child="#{$i}"]{

			> .container{

				> .inner{

					> .group{
						float: none;
						min-width: 25%;

						.group{
							min-width: 50%;
						}
					}
				}
			}
		}
	}
}