//文字圖示樣式

@if( $icon-font ) {

	/*
	本 sass 引入 icomoon 圖示字型，用以作為文字圖示。

	詳細資訊請參閱 https://icomoon.io/，教學請參閱 http://www.minwt.com/html/12931.html

	1 將 icon 包下載回來後，將包裡的 fonts 目錄檔案 .eot .svg .ttf .woff 檔案複製到 /Images/icon-font
	2 修改 style.css 裡的項目，步驟如下：
		1 將 @font-face 與 [class^="icon-"], [class*=" icon-"] 樣式刪除
		2 將 ":before" 字串全數刪除
		3 將 ".icon-" 取代成 ".icon-font-"
		4 將修改的內容複製至 /Sass/_bace_icon-font.scss
	*/

	//開始================================================================

	.icon-font-error {
		content: "\e000";
	}
	.icon-font-error_outline {
		content: "\e001";
	}
	.icon-font-warning {
		content: "\e002";
	}
	.icon-font-add_alert {
		content: "\e003";
	}
	.icon-font-album {
		content: "\e004";
	}
	.icon-font-av_timer {
		content: "\e005";
	}
	.icon-font-closed_caption {
		content: "\e006";
	}
	.icon-font-equalizer {
		content: "\e007";
	}
	.icon-font-explicit {
		content: "\e008";
	}
	.icon-font-fast_forward {
		content: "\e009";
	}
	.icon-font-fast_rewind {
		content: "\e00a";
	}
	.icon-font-games {
		content: "\e00b";
	}
	.icon-font-hearing {
		content: "\e00c";
	}
	.icon-font-high_quality {
		content: "\e00d";
	}
	.icon-font-loop {
		content: "\e00e";
	}
	.icon-font-mic {
		content: "\e00f";
	}
	.icon-font-mic_none {
		content: "\e010";
	}
	.icon-font-mic_off {
		content: "\e011";
	}
	.icon-font-movie {
		content: "\e012";
	}
	.icon-font-library_add {
		content: "\e013";
	}
	.icon-font-library_books {
		content: "\e014";
	}
	.icon-font-library_music {
		content: "\e015";
	}
	.icon-font-new_releases {
		content: "\e016";
	}
	.icon-font-not_interested {
		content: "\e017";
	}
	.icon-font-pause {
		content: "\e018";
	}
	.icon-font-pause_circle_filled {
		content: "\e019";
	}
	.icon-font-pause_circle_outline {
		content: "\e01a";
	}
	.icon-font-play_arrow {
		content: "\e01b";
	}
	.icon-font-play_circle_filled {
		content: "\e01c";
	}
	.icon-font-play_circle_outline {
		content: "\e01d";
	}
	.icon-font-playlist_add {
		content: "\e01e";
	}
	.icon-font-queue {
		content: "\e01f";
	}
	.icon-font-queue_music {
		content: "\e020";
	}
	.icon-font-radio {
		content: "\e021";
	}
	.icon-font-recent_actors {
		content: "\e022";
	}
	.icon-font-repeat {
		content: "\e023";
	}
	.icon-font-repeat_one {
		content: "\e024";
	}
	.icon-font-replay {
		content: "\e025";
	}
	.icon-font-shuffle {
		content: "\e026";
	}
	.icon-font-skip_next {
		content: "\e027";
	}
	.icon-font-skip_previous {
		content: "\e028";
	}
	.icon-font-snooze {
		content: "\e029";
	}
	.icon-font-stop {
		content: "\e02a";
	}
	.icon-font-subtitles {
		content: "\e02b";
	}
	.icon-font-surround_sound {
		content: "\e02c";
	}
	.icon-font-video_collection {
		content: "\e02d";
	}
	.icon-font-videocam {
		content: "\e02e";
	}
	.icon-font-videocam_off {
		content: "\e02f";
	}
	.icon-font-volume_down {
		content: "\e030";
	}
	.icon-font-volume_mute {
		content: "\e031";
	}
	.icon-font-volume_off {
		content: "\e032";
	}
	.icon-font-volume_up {
		content: "\e033";
	}
	.icon-font-web {
		content: "\e034";
	}
	.icon-font-hd {
		content: "\e035";
	}
	.icon-font-sort_by_alpha {
		content: "\e036";
	}
	.icon-font-airplay {
		content: "\e037";
	}
	.icon-font-forward_10 {
		content: "\e038";
	}
	.icon-font-forward_30 {
		content: "\e039";
	}
	.icon-font-forward_5 {
		content: "\e03a";
	}
	.icon-font-replay_10 {
		content: "\e03b";
	}
	.icon-font-replay_30 {
		content: "\e03c";
	}
	.icon-font-replay_5 {
		content: "\e03d";
	}
	.icon-font-business {
		content: "\e03e";
	}
	.icon-font-call {
		content: "\e03f";
	}
	.icon-font-call_end {
		content: "\e040";
	}
	.icon-font-call_made {
		content: "\e041";
	}
	.icon-font-call_merge {
		content: "\e042";
	}
	.icon-font-call_missed {
		content: "\e043";
	}
	.icon-font-call_received {
		content: "\e044";
	}
	.icon-font-call_split {
		content: "\e045";
	}
	.icon-font-chat {
		content: "\e046";
	}
	.icon-font-clear_all {
		content: "\e047";
	}
	.icon-font-comment {
		content: "\e048";
	}
	.icon-font-contacts {
		content: "\e049";
	}
	.icon-font-dialer_sip {
		content: "\e04a";
	}
	.icon-font-dialpad {
		content: "\e04b";
	}
	.icon-font-email {
		content: "\e04c";
	}
	.icon-font-forum {
		content: "\e04d";
	}
	.icon-font-import_export {
		content: "\e04e";
	}
	.icon-font-invert_colors_off {
		content: "\e04f";
	}
	.icon-font-live_help {
		content: "\e050";
	}
	.icon-font-location_off {
		content: "\e051";
	}
	.icon-font-location_on {
		content: "\e052";
	}
	.icon-font-message {
		content: "\e053";
	}
	.icon-font-chat_bubble {
		content: "\e054";
	}
	.icon-font-chat_bubble_outline {
		content: "\e055";
	}
	.icon-font-no_sim {
		content: "\e056";
	}
	.icon-font-phone {
		content: "\e057";
	}
	.icon-font-portable_wifi_off {
		content: "\e058";
	}
	.icon-font-contact_phone {
		content: "\e059";
	}
	.icon-font-ring_volume {
		content: "\e05a";
	}
	.icon-font-speaker_phone {
		content: "\e05b";
	}
	.icon-font-stay_current_landscape {
		content: "\e05c";
	}
	.icon-font-stay_current_portrait {
		content: "\e05d";
	}
	.icon-font-stay_primary_landscape {
		content: "\e05e";
	}
	.icon-font-stay_primary_portrait {
		content: "\e05f";
	}
	.icon-font-swap_calls {
		content: "\e060";
	}
	.icon-font-textsms {
		content: "\e061";
	}
	.icon-font-voicemail {
		content: "\e062";
	}
	.icon-font-vpn_key {
		content: "\e063";
	}
	.icon-font-phonelink_erase {
		content: "\e064";
	}
	.icon-font-phonelink_lock {
		content: "\e065";
	}
	.icon-font-phonelink_ring {
		content: "\e066";
	}
	.icon-font-phonelink_setup {
		content: "\e067";
	}
	.icon-font-present_to_all {
		content: "\e068";
	}
	.icon-font-add {
		content: "\e069";
	}
	.icon-font-add_box {
		content: "\e06a";
	}
	.icon-font-add_circle {
		content: "\e06b";
	}
	.icon-font-add_circle_outline {
		content: "\e06c";
	}
	.icon-font-archive {
		content: "\e06d";
	}
	.icon-font-backspace {
		content: "\e06e";
	}
	.icon-font-block {
		content: "\e06f";
	}
	.icon-font-clear {
		content: "\e070";
	}
	.icon-font-content_copy {
		content: "\e071";
	}
	.icon-font-content_cut {
		content: "\e072";
	}
	.icon-font-content_paste {
		content: "\e073";
	}
	.icon-font-create {
		content: "\e074";
	}
	.icon-font-drafts {
		content: "\e075";
	}
	.icon-font-filter_list {
		content: "\e076";
	}
	.icon-font-flag {
		content: "\e077";
	}
	.icon-font-forward {
		content: "\e078";
	}
	.icon-font-gesture {
		content: "\e079";
	}
	.icon-font-inbox {
		content: "\e07a";
	}
	.icon-font-link {
		content: "\e07b";
	}
	.icon-font-mail {
		content: "\e07c";
	}
	.icon-font-markunread {
		content: "\e07d";
	}
	.icon-font-redo {
		content: "\e07e";
	}
	.icon-font-remove {
		content: "\e07f";
	}
	.icon-font-remove_circle {
		content: "\e080";
	}
	.icon-font-remove_circle_outline {
		content: "\e081";
	}
	.icon-font-reply {
		content: "\e082";
	}
	.icon-font-reply_all {
		content: "\e083";
	}
	.icon-font-report {
		content: "\e084";
	}
	.icon-font-save {
		content: "\e085";
	}
	.icon-font-select_all {
		content: "\e086";
	}
	.icon-font-send {
		content: "\e087";
	}
	.icon-font-sort {
		content: "\e088";
	}
	.icon-font-text_format {
		content: "\e089";
	}
	.icon-font-undo {
		content: "\e08a";
	}
	.icon-font-font_download {
		content: "\e08b";
	}
	.icon-font-access_alarm {
		content: "\e08c";
	}
	.icon-font-access_alarms {
		content: "\e08d";
	}
	.icon-font-access_time {
		content: "\e08e";
	}
	.icon-font-add_alarm {
		content: "\e08f";
	}
	.icon-font-airplanemode_inactive {
		content: "\e090";
	}
	.icon-font-airplanemode_active {
		content: "\e091";
	}
	.icon-font-battery_alert {
		content: "\e092";
	}
	.icon-font-battery_charging_full {
		content: "\e093";
	}
	.icon-font-battery_full {
		content: "\e094";
	}
	.icon-font-battery_std {
		content: "\e095";
	}
	.icon-font-battery_unknown {
		content: "\e096";
	}
	.icon-font-bluetooth {
		content: "\e097";
	}
	.icon-font-bluetooth_connected {
		content: "\e098";
	}
	.icon-font-bluetooth_disabled {
		content: "\e099";
	}
	.icon-font-bluetooth_searching {
		content: "\e09a";
	}
	.icon-font-brightness_auto {
		content: "\e09b";
	}
	.icon-font-brightness_high {
		content: "\e09c";
	}
	.icon-font-brightness_low {
		content: "\e09d";
	}
	.icon-font-brightness_medium {
		content: "\e09e";
	}
	.icon-font-data_usage {
		content: "\e09f";
	}
	.icon-font-developer_mode {
		content: "\e0a0";
	}
	.icon-font-devices {
		content: "\e0a1";
	}
	.icon-font-dvr {
		content: "\e0a2";
	}
	.icon-font-gps_fixed {
		content: "\e0a3";
	}
	.icon-font-gps_not_fixed {
		content: "\e0a4";
	}
	.icon-font-gps_off {
		content: "\e0a5";
	}
	.icon-font-location_disabled {
		content: "\e0a6";
	}
	.icon-font-location_searching {
		content: "\e0a7";
	}
	.icon-font-graphic_eq {
		content: "\e0a8";
	}
	.icon-font-network_cell {
		content: "\e0a9";
	}
	.icon-font-network_wifi {
		content: "\e0aa";
	}
	.icon-font-nfc {
		content: "\e0ab";
	}
	.icon-font-now_wallpaper {
		content: "\e0ac";
	}
	.icon-font-now_widgets {
		content: "\e0ad";
	}
	.icon-font-screen_lock_landscape {
		content: "\e0ae";
	}
	.icon-font-screen_lock_portrait {
		content: "\e0af";
	}
	.icon-font-screen_lock_rotation {
		content: "\e0b0";
	}
	.icon-font-screen_rotation {
		content: "\e0b1";
	}
	.icon-font-sd_storage {
		content: "\e0b2";
	}
	.icon-font-settings_system_daydream {
		content: "\e0b3";
	}
	.icon-font-signal_cellular_4_bar {
		content: "\e0b4";
	}
	.icon-font-signal_cellular_connected_no_internet_4_bar {
		content: "\e0b5";
	}
	.icon-font-signal_cellular_no_sim {
		content: "\e0b6";
	}
	.icon-font-signal_cellular_null {
		content: "\e0b7";
	}
	.icon-font-signal_cellular_off {
		content: "\e0b8";
	}
	.icon-font-signal_wifi_4_bar {
		content: "\e0b9";
	}
	.icon-font-signal_wifi_4_bar_lock {
		content: "\e0ba";
	}
	.icon-font-signal_wifi_off {
		content: "\e0bb";
	}
	.icon-font-storage {
		content: "\e0bc";
	}
	.icon-font-usb {
		content: "\e0bd";
	}
	.icon-font-wifi_lock {
		content: "\e0be";
	}
	.icon-font-wifi_tethering {
		content: "\e0bf";
	}
	.icon-font-attach_file {
		content: "\e0c0";
	}
	.icon-font-attach_money {
		content: "\e0c1";
	}
	.icon-font-border_all {
		content: "\e0c2";
	}
	.icon-font-border_bottom {
		content: "\e0c3";
	}
	.icon-font-border_clear {
		content: "\e0c4";
	}
	.icon-font-border_color {
		content: "\e0c5";
	}
	.icon-font-border_horizontal {
		content: "\e0c6";
	}
	.icon-font-border_inner {
		content: "\e0c7";
	}
	.icon-font-border_left {
		content: "\e0c8";
	}
	.icon-font-border_outer {
		content: "\e0c9";
	}
	.icon-font-border_right {
		content: "\e0ca";
	}
	.icon-font-border_style {
		content: "\e0cb";
	}
	.icon-font-border_top {
		content: "\e0cc";
	}
	.icon-font-border_vertical {
		content: "\e0cd";
	}
	.icon-font-format_align_center {
		content: "\e0ce";
	}
	.icon-font-format_align_justify {
		content: "\e0cf";
	}
	.icon-font-format_align_left {
		content: "\e0d0";
	}
	.icon-font-format_align_right {
		content: "\e0d1";
	}
	.icon-font-format_bold {
		content: "\e0d2";
	}
	.icon-font-format_clear {
		content: "\e0d3";
	}
	.icon-font-format_color_fill {
		content: "\e0d4";
	}
	.icon-font-format_color_reset {
		content: "\e0d5";
	}
	.icon-font-format_color_text {
		content: "\e0d6";
	}
	.icon-font-format_indent_decrease {
		content: "\e0d7";
	}
	.icon-font-format_indent_increase {
		content: "\e0d8";
	}
	.icon-font-format_italic {
		content: "\e0d9";
	}
	.icon-font-format_line_spacing {
		content: "\e0da";
	}
	.icon-font-format_list_bulleted {
		content: "\e0db";
	}
	.icon-font-format_list_numbered {
		content: "\e0dc";
	}
	.icon-font-format_paint {
		content: "\e0dd";
	}
	.icon-font-format_quote {
		content: "\e0de";
	}
	.icon-font-format_size {
		content: "\e0df";
	}
	.icon-font-format_strikethrough {
		content: "\e0e0";
	}
	.icon-font-format_textdirection_l_to_r {
		content: "\e0e1";
	}
	.icon-font-format_textdirection_r_to_l {
		content: "\e0e2";
	}
	.icon-font-format_underlined {
		content: "\e0e3";
	}
	.icon-font-functions {
		content: "\e0e4";
	}
	.icon-font-insert_chart {
		content: "\e0e5";
	}
	.icon-font-insert_comment {
		content: "\e0e6";
	}
	.icon-font-insert_drive_file {
		content: "\e0e7";
	}
	.icon-font-insert_emoticon {
		content: "\e0e8";
	}
	.icon-font-insert_invitation {
		content: "\e0e9";
	}
	.icon-font-insert_link {
		content: "\e0ea";
	}
	.icon-font-insert_photo {
		content: "\e0eb";
	}
	.icon-font-merge_type {
		content: "\e0ec";
	}
	.icon-font-mode_comment {
		content: "\e0ed";
	}
	.icon-font-mode_edit {
		content: "\e0ee";
	}
	.icon-font-publish {
		content: "\e0ef";
	}
	.icon-font-space_bar {
		content: "\e0f0";
	}
	.icon-font-strikethrough_s {
		content: "\e0f1";
	}
	.icon-font-vertical_align_bottom {
		content: "\e0f2";
	}
	.icon-font-vertical_align_center {
		content: "\e0f3";
	}
	.icon-font-vertical_align_top {
		content: "\e0f4";
	}
	.icon-font-wrap_text {
		content: "\e0f5";
	}
	.icon-font-money_off {
		content: "\e0f6";
	}
	.icon-font-attachment {
		content: "\e0f7";
	}
	.icon-font-cloud {
		content: "\e0f8";
	}
	.icon-font-cloud_circle {
		content: "\e0f9";
	}
	.icon-font-cloud_done {
		content: "\e0fa";
	}
	.icon-font-cloud_download {
		content: "\e0fb";
	}
	.icon-font-cloud_off {
		content: "\e0fc";
	}
	.icon-font-cloud_queue {
		content: "\e0fd";
	}
	.icon-font-cloud_upload {
		content: "\e0fe";
	}
	.icon-font-file_download {
		content: "\e0ff";
	}
	.icon-font-file_upload {
		content: "\e100";
	}
	.icon-font-folder {
		content: "\e101";
	}
	.icon-font-folder_open {
		content: "\e102";
	}
	.icon-font-folder_shared {
		content: "\e103";
	}
	.icon-font-cast {
		content: "\e104";
	}
	.icon-font-cast_connected {
		content: "\e105";
	}
	.icon-font-computer {
		content: "\e106";
	}
	.icon-font-desktop_mac {
		content: "\e107";
	}
	.icon-font-desktop_windows {
		content: "\e108";
	}
	.icon-font-developer_board {
		content: "\e109";
	}
	.icon-font-dock {
		content: "\e10a";
	}
	.icon-font-gamepad {
		content: "\e10b";
	}
	.icon-font-headset {
		content: "\e10c";
	}
	.icon-font-headset_mic {
		content: "\e10d";
	}
	.icon-font-keyboard {
		content: "\e10e";
	}
	.icon-font-keyboard_arrow_down {
		content: "\e10f";
	}
	.icon-font-keyboard_arrow_left {
		content: "\e110";
	}
	.icon-font-keyboard_arrow_right {
		content: "\e111";
	}
	.icon-font-keyboard_arrow_up {
		content: "\e112";
	}
	.icon-font-keyboard_backspace {
		content: "\e113";
	}
	.icon-font-keyboard_capslock {
		content: "\e114";
	}
	.icon-font-keyboard_hide {
		content: "\e115";
	}
	.icon-font-keyboard_return {
		content: "\e116";
	}
	.icon-font-keyboard_tab {
		content: "\e117";
	}
	.icon-font-keyboard_voice {
		content: "\e118";
	}
	.icon-font-laptop {
		content: "\e119";
	}
	.icon-font-laptop_chromebook {
		content: "\e11a";
	}
	.icon-font-laptop_mac {
		content: "\e11b";
	}
	.icon-font-laptop_windows {
		content: "\e11c";
	}
	.icon-font-memory {
		content: "\e11d";
	}
	.icon-font-mouse {
		content: "\e11e";
	}
	.icon-font-phone_android {
		content: "\e11f";
	}
	.icon-font-phone_iphone {
		content: "\e120";
	}
	.icon-font-phonelink {
		content: "\e121";
	}
	.icon-font-phonelink_off {
		content: "\e122";
	}
	.icon-font-router {
		content: "\e123";
	}
	.icon-font-scanner {
		content: "\e124";
	}
	.icon-font-security {
		content: "\e125";
	}
	.icon-font-sim_card {
		content: "\e126";
	}
	.icon-font-smartphone {
		content: "\e127";
	}
	.icon-font-speaker {
		content: "\e128";
	}
	.icon-font-speaker_group {
		content: "\e129";
	}
	.icon-font-tablet {
		content: "\e12a";
	}
	.icon-font-tablet_android {
		content: "\e12b";
	}
	.icon-font-tablet_mac {
		content: "\e12c";
	}
	.icon-font-toys {
		content: "\e12d";
	}
	.icon-font-tv {
		content: "\e12e";
	}
	.icon-font-watch {
		content: "\e12f";
	}
	.icon-font-device_hub {
		content: "\e130";
	}
	.icon-font-power_input {
		content: "\e131";
	}
	.icon-font-add_to_photos {
		content: "\e132";
	}
	.icon-font-adjust {
		content: "\e133";
	}
	.icon-font-assistant {
		content: "\e134";
	}
	.icon-font-assistant_photo {
		content: "\e135";
	}
	.icon-font-audiotrack {
		content: "\e136";
	}
	.icon-font-blur_circular {
		content: "\e137";
	}
	.icon-font-blur_linear {
		content: "\e138";
	}
	.icon-font-blur_off {
		content: "\e139";
	}
	.icon-font-blur_on {
		content: "\e13a";
	}
	.icon-font-brightness_1 {
		content: "\e13b";
	}
	.icon-font-brightness_2 {
		content: "\e13c";
	}
	.icon-font-brightness_3 {
		content: "\e13d";
	}
	.icon-font-brightness_4 {
		content: "\e13e";
	}
	.icon-font-brightness_5 {
		content: "\e13f";
	}
	.icon-font-brightness_6 {
		content: "\e140";
	}
	.icon-font-brightness_7 {
		content: "\e141";
	}
	.icon-font-broken_image {
		content: "\e142";
	}
	.icon-font-brush {
		content: "\e143";
	}
	.icon-font-camera {
		content: "\e144";
	}
	.icon-font-camera_alt {
		content: "\e145";
	}
	.icon-font-camera_front {
		content: "\e146";
	}
	.icon-font-camera_rear {
		content: "\e147";
	}
	.icon-font-camera_roll {
		content: "\e148";
	}
	.icon-font-center_focus_strong {
		content: "\e149";
	}
	.icon-font-center_focus_weak {
		content: "\e14a";
	}
	.icon-font-collections {
		content: "\e14b";
	}
	.icon-font-color_lens {
		content: "\e14c";
	}
	.icon-font-colorize {
		content: "\e14d";
	}
	.icon-font-compare {
		content: "\e14e";
	}
	.icon-font-control_point {
		content: "\e14f";
	}
	.icon-font-control_point_duplicate {
		content: "\e150";
	}
	.icon-font-crop_16_9 {
		content: "\e151";
	}
	.icon-font-crop_3_2 {
		content: "\e152";
	}
	.icon-font-crop {
		content: "\e153";
	}
	.icon-font-crop_5_4 {
		content: "\e154";
	}
	.icon-font-crop_7_5 {
		content: "\e155";
	}
	.icon-font-crop_din {
		content: "\e156";
	}
	.icon-font-crop_free {
		content: "\e157";
	}
	.icon-font-crop_landscape {
		content: "\e158";
	}
	.icon-font-crop_original {
		content: "\e159";
	}
	.icon-font-crop_portrait {
		content: "\e15a";
	}
	.icon-font-crop_square {
		content: "\e15b";
	}
	.icon-font-dehaze {
		content: "\e15c";
	}
	.icon-font-details {
		content: "\e15d";
	}
	.icon-font-edit {
		content: "\e15e";
	}
	.icon-font-exposure {
		content: "\e15f";
	}
	.icon-font-exposure_minus_1 {
		content: "\e160";
	}
	.icon-font-exposure_minus_2 {
		content: "\e161";
	}
	.icon-font-exposure_plus_1 {
		content: "\e162";
	}
	.icon-font-exposure_plus_2 {
		content: "\e163";
	}
	.icon-font-exposure_zero {
		content: "\e164";
	}
	.icon-font-filter_1 {
		content: "\e165";
	}
	.icon-font-filter_2 {
		content: "\e166";
	}
	.icon-font-filter_3 {
		content: "\e167";
	}
	.icon-font-filter {
		content: "\e168";
	}
	.icon-font-filter_4 {
		content: "\e169";
	}
	.icon-font-filter_5 {
		content: "\e16a";
	}
	.icon-font-filter_6 {
		content: "\e16b";
	}
	.icon-font-filter_7 {
		content: "\e16c";
	}
	.icon-font-filter_8 {
		content: "\e16d";
	}
	.icon-font-filter_9 {
		content: "\e16e";
	}
	.icon-font-filter_9_plus {
		content: "\e16f";
	}
	.icon-font-filter_b_and_w {
		content: "\e170";
	}
	.icon-font-filter_center_focus {
		content: "\e171";
	}
	.icon-font-filter_drama {
		content: "\e172";
	}
	.icon-font-filter_frames {
		content: "\e173";
	}
	.icon-font-filter_hdr {
		content: "\e174";
	}
	.icon-font-filter_none {
		content: "\e175";
	}
	.icon-font-filter_tilt_shift {
		content: "\e176";
	}
	.icon-font-filter_vintage {
		content: "\e177";
	}
	.icon-font-flare {
		content: "\e178";
	}
	.icon-font-flash_auto {
		content: "\e179";
	}
	.icon-font-flash_off {
		content: "\e17a";
	}
	.icon-font-flash_on {
		content: "\e17b";
	}
	.icon-font-flip {
		content: "\e17c";
	}
	.icon-font-gradient {
		content: "\e17d";
	}
	.icon-font-grain {
		content: "\e17e";
	}
	.icon-font-grid_off {
		content: "\e17f";
	}
	.icon-font-grid_on {
		content: "\e180";
	}
	.icon-font-hdr_off {
		content: "\e181";
	}
	.icon-font-hdr_on {
		content: "\e182";
	}
	.icon-font-hdr_strong {
		content: "\e183";
	}
	.icon-font-hdr_weak {
		content: "\e184";
	}
	.icon-font-healing {
		content: "\e185";
	}
	.icon-font-image {
		content: "\e186";
	}
	.icon-font-image_aspect_ratio {
		content: "\e187";
	}
	.icon-font-iso {
		content: "\e188";
	}
	.icon-font-landscape {
		content: "\e189";
	}
	.icon-font-leak_add {
		content: "\e18a";
	}
	.icon-font-leak_remove {
		content: "\e18b";
	}
	.icon-font-lens {
		content: "\e18c";
	}
	.icon-font-looks_3 {
		content: "\e18d";
	}
	.icon-font-looks {
		content: "\e18e";
	}
	.icon-font-looks_4 {
		content: "\e18f";
	}
	.icon-font-looks_5 {
		content: "\e190";
	}
	.icon-font-looks_6 {
		content: "\e191";
	}
	.icon-font-looks_one {
		content: "\e192";
	}
	.icon-font-looks_two {
		content: "\e193";
	}
	.icon-font-loupe {
		content: "\e194";
	}
	.icon-font-monochrome_photos {
		content: "\e195";
	}
	.icon-font-movie_creation {
		content: "\e196";
	}
	.icon-font-music_note {
		content: "\e197";
	}
	.icon-font-nature {
		content: "\e198";
	}
	.icon-font-nature_people {
		content: "\e199";
	}
	.icon-font-navigate_before {
		content: "\e19a";
	}
	.icon-font-navigate_next {
		content: "\e19b";
	}
	.icon-font-palette {
		content: "\e19c";
	}
	.icon-font-panorama {
		content: "\e19d";
	}
	.icon-font-panorama_fish_eye {
		content: "\e19e";
	}
	.icon-font-panorama_horizontal {
		content: "\e19f";
	}
	.icon-font-panorama_vertical {
		content: "\e1a0";
	}
	.icon-font-panorama_wide_angle {
		content: "\e1a1";
	}
	.icon-font-photo {
		content: "\e1a2";
	}
	.icon-font-photo_album {
		content: "\e1a3";
	}
	.icon-font-photo_camera {
		content: "\e1a4";
	}
	.icon-font-photo_library {
		content: "\e1a5";
	}
	.icon-font-picture_as_pdf {
		content: "\e1a6";
	}
	.icon-font-portrait {
		content: "\e1a7";
	}
	.icon-font-remove_red_eye {
		content: "\e1a8";
	}
	.icon-font-rotate_90_degrees_ccw {
		content: "\e1a9";
	}
	.icon-font-rotate_left {
		content: "\e1aa";
	}
	.icon-font-rotate_right {
		content: "\e1ab";
	}
	.icon-font-slideshow {
		content: "\e1ac";
	}
	.icon-font-straighten {
		content: "\e1ad";
	}
	.icon-font-style {
		content: "\e1ae";
	}
	.icon-font-switch_camera {
		content: "\e1af";
	}
	.icon-font-switch_video {
		content: "\e1b0";
	}
	.icon-font-tag_faces {
		content: "\e1b1";
	}
	.icon-font-texture {
		content: "\e1b2";
	}
	.icon-font-timelapse {
		content: "\e1b3";
	}
	.icon-font-timer_10 {
		content: "\e1b4";
	}
	.icon-font-timer_3 {
		content: "\e1b5";
	}
	.icon-font-timer {
		content: "\e1b6";
	}
	.icon-font-timer_off {
		content: "\e1b7";
	}
	.icon-font-tonality {
		content: "\e1b8";
	}
	.icon-font-transform {
		content: "\e1b9";
	}
	.icon-font-tune {
		content: "\e1ba";
	}
	.icon-font-view_comfortable {
		content: "\e1bb";
	}
	.icon-font-view_compact {
		content: "\e1bc";
	}
	.icon-font-wb_auto {
		content: "\e1bd";
	}
	.icon-font-wb_cloudy {
		content: "\e1be";
	}
	.icon-font-wb_incandescent {
		content: "\e1bf";
	}
	.icon-font-wb_sunny {
		content: "\e1c0";
	}
	.icon-font-collections_bookmark {
		content: "\e1c1";
	}
	.icon-font-photo_size_select_actual {
		content: "\e1c2";
	}
	.icon-font-photo_size_select_large {
		content: "\e1c3";
	}
	.icon-font-photo_size_select_small {
		content: "\e1c4";
	}
	.icon-font-vignette {
		content: "\e1c5";
	}
	.icon-font-wb_iridescent {
		content: "\e1c6";
	}
	.icon-font-beenhere {
		content: "\e1c7";
	}
	.icon-font-directions {
		content: "\e1c8";
	}
	.icon-font-directions_bike {
		content: "\e1c9";
	}
	.icon-font-directions_bus {
		content: "\e1ca";
	}
	.icon-font-directions_car {
		content: "\e1cb";
	}
	.icon-font-directions_ferry {
		content: "\e1cc";
	}
	.icon-font-directions_subway {
		content: "\e1cd";
	}
	.icon-font-directions_railway {
		content: "\e1ce";
	}
	.icon-font-directions_transit {
		content: "\e1cf";
	}
	.icon-font-directions_walk {
		content: "\e1d0";
	}
	.icon-font-flight {
		content: "\e1d1";
	}
	.icon-font-hotel {
		content: "\e1d2";
	}
	.icon-font-layers {
		content: "\e1d3";
	}
	.icon-font-layers_clear {
		content: "\e1d4";
	}
	.icon-font-local_airport {
		content: "\e1d5";
	}
	.icon-font-local_atm {
		content: "\e1d6";
	}
	.icon-font-local_attraction {
		content: "\e1d7";
	}
	.icon-font-local_bar {
		content: "\e1d8";
	}
	.icon-font-local_cafe {
		content: "\e1d9";
	}
	.icon-font-local_car_wash {
		content: "\e1da";
	}
	.icon-font-local_convenience_store {
		content: "\e1db";
	}
	.icon-font-local_drink {
		content: "\e1dc";
	}
	.icon-font-local_florist {
		content: "\e1dd";
	}
	.icon-font-local_gas_station {
		content: "\e1de";
	}
	.icon-font-local_grocery_store {
		content: "\e1df";
	}
	.icon-font-local_hospital {
		content: "\e1e0";
	}
	.icon-font-local_hotel {
		content: "\e1e1";
	}
	.icon-font-local_laundry_service {
		content: "\e1e2";
	}
	.icon-font-local_library {
		content: "\e1e3";
	}
	.icon-font-local_mall {
		content: "\e1e4";
	}
	.icon-font-local_movies {
		content: "\e1e5";
	}
	.icon-font-local_offer {
		content: "\e1e6";
	}
	.icon-font-local_parking {
		content: "\e1e7";
	}
	.icon-font-local_pharmacy {
		content: "\e1e8";
	}
	.icon-font-local_phone {
		content: "\e1e9";
	}
	.icon-font-local_pizza {
		content: "\e1ea";
	}
	.icon-font-local_play {
		content: "\e1eb";
	}
	.icon-font-local_post_office {
		content: "\e1ec";
	}
	.icon-font-local_print_shop {
		content: "\e1ed";
	}
	.icon-font-local_restaurant {
		content: "\e1ee";
	}
	.icon-font-local_see {
		content: "\e1ef";
	}
	.icon-font-local_shipping {
		content: "\e1f0";
	}
	.icon-font-local_taxi {
		content: "\e1f1";
	}
	.icon-font-location_history {
		content: "\e1f2";
	}
	.icon-font-map {
		content: "\e1f3";
	}
	.icon-font-my_location {
		content: "\e1f4";
	}
	.icon-font-navigation {
		content: "\e1f5";
	}
	.icon-font-pin_drop {
		content: "\e1f6";
	}
	.icon-font-place {
		content: "\e1f7";
	}
	.icon-font-rate_review {
		content: "\e1f8";
	}
	.icon-font-restaurant_menu {
		content: "\e1f9";
	}
	.icon-font-satellite {
		content: "\e1fa";
	}
	.icon-font-store_mall_directory {
		content: "\e1fb";
	}
	.icon-font-terrain {
		content: "\e1fc";
	}
	.icon-font-traffic {
		content: "\e1fd";
	}
	.icon-font-directions_run {
		content: "\e1fe";
	}
	.icon-font-apps {
		content: "\e1ff";
	}
	.icon-font-arrow_back {
		content: "\e200";
	}
	.icon-font-arrow_drop_down {
		content: "\e201";
	}
	.icon-font-arrow_drop_down_circle {
		content: "\e202";
	}
	.icon-font-arrow_drop_up {
		content: "\e203";
	}
	.icon-font-arrow_forward {
		content: "\e204";
	}
	.icon-font-cancel {
		content: "\e205";
	}
	.icon-font-check {
		content: "\e206";
	}
	.icon-font-chevron_left {
		content: "\e207";
	}
	.icon-font-chevron_right {
		content: "\e208";
	}
	.icon-font-close {
		content: "\e209";
	}
	.icon-font-expand_less {
		content: "\e20a";
	}
	.icon-font-expand_more {
		content: "\e20b";
	}
	.icon-font-fullscreen {
		content: "\e20c";
	}
	.icon-font-fullscreen_exit {
		content: "\e20d";
	}
	.icon-font-menu {
		content: "\e20e";
	}
	.icon-font-keyboard_control {
		content: "\e20f";
	}
	.icon-font-more_vert {
		content: "\e210";
	}
	.icon-font-refresh {
		content: "\e211";
	}
	.icon-font-unfold_less {
		content: "\e212";
	}
	.icon-font-unfold_more {
		content: "\e213";
	}
	.icon-font-adb {
		content: "\e214";
	}
	.icon-font-bluetooth_audio {
		content: "\e215";
	}
	.icon-font-disc_full {
		content: "\e216";
	}
	.icon-font-do_not_disturb_alt {
		content: "\e217";
	}
	.icon-font-do_not_disturb {
		content: "\e218";
	}
	.icon-font-drive_eta {
		content: "\e219";
	}
	.icon-font-event_available {
		content: "\e21a";
	}
	.icon-font-event_busy {
		content: "\e21b";
	}
	.icon-font-event_note {
		content: "\e21c";
	}
	.icon-font-folder_special {
		content: "\e21d";
	}
	.icon-font-mms {
		content: "\e21e";
	}
	.icon-font-more {
		content: "\e21f";
	}
	.icon-font-network_locked {
		content: "\e220";
	}
	.icon-font-phone_bluetooth_speaker {
		content: "\e221";
	}
	.icon-font-phone_forwarded {
		content: "\e222";
	}
	.icon-font-phone_in_talk {
		content: "\e223";
	}
	.icon-font-phone_locked {
		content: "\e224";
	}
	.icon-font-phone_missed {
		content: "\e225";
	}
	.icon-font-phone_paused {
		content: "\e226";
	}
	.icon-font-sd_card {
		content: "\e227";
	}
	.icon-font-sim_card_alert {
		content: "\e228";
	}
	.icon-font-sms {
		content: "\e229";
	}
	.icon-font-sms_failed {
		content: "\e22a";
	}
	.icon-font-sync {
		content: "\e22b";
	}
	.icon-font-sync_disabled {
		content: "\e22c";
	}
	.icon-font-sync_problem {
		content: "\e22d";
	}
	.icon-font-system_update {
		content: "\e22e";
	}
	.icon-font-tap_and_play {
		content: "\e22f";
	}
	.icon-font-time_to_leave {
		content: "\e230";
	}
	.icon-font-vibration {
		content: "\e231";
	}
	.icon-font-voice_chat {
		content: "\e232";
	}
	.icon-font-vpn_lock {
		content: "\e233";
	}
	.icon-font-airline_seat_flat {
		content: "\e234";
	}
	.icon-font-airline_seat_flat_angled {
		content: "\e235";
	}
	.icon-font-airline_seat_individual_suite {
		content: "\e236";
	}
	.icon-font-airline_seat_legroom_extra {
		content: "\e237";
	}
	.icon-font-airline_seat_legroom_normal {
		content: "\e238";
	}
	.icon-font-airline_seat_legroom_reduced {
		content: "\e239";
	}
	.icon-font-airline_seat_recline_extra {
		content: "\e23a";
	}
	.icon-font-airline_seat_recline_normal {
		content: "\e23b";
	}
	.icon-font-confirmation_number {
		content: "\e23c";
	}
	.icon-font-live_tv {
		content: "\e23d";
	}
	.icon-font-ondemand_video {
		content: "\e23e";
	}
	.icon-font-personal_video {
		content: "\e23f";
	}
	.icon-font-power {
		content: "\e240";
	}
	.icon-font-wc {
		content: "\e241";
	}
	.icon-font-wifi {
		content: "\e242";
	}
	.icon-font-cake {
		content: "\e243";
	}
	.icon-font-domain {
		content: "\e244";
	}
	.icon-font-group {
		content: "\e245";
	}
	.icon-font-group_add {
		content: "\e246";
	}
	.icon-font-location_city {
		content: "\e247";
	}
	.icon-font-mood {
		content: "\e248";
	}
	.icon-font-mood_bad {
		content: "\e249";
	}
	.icon-font-notifications {
		content: "\e24a";
	}
	.icon-font-notifications_none {
		content: "\e24b";
	}
	.icon-font-notifications_off {
		content: "\e24c";
	}
	.icon-font-notifications_active {
		content: "\e24d";
	}
	.icon-font-notifications_paused {
		content: "\e24e";
	}
	.icon-font-pages {
		content: "\e24f";
	}
	.icon-font-party_mode {
		content: "\e250";
	}
	.icon-font-people {
		content: "\e251";
	}
	.icon-font-people_outline {
		content: "\e252";
	}
	.icon-font-person {
		content: "\e253";
	}
	.icon-font-person_add {
		content: "\e254";
	}
	.icon-font-person_outline {
		content: "\e255";
	}
	.icon-font-plus_one {
		content: "\e256";
	}
	.icon-font-poll {
		content: "\e257";
	}
	.icon-font-public {
		content: "\e258";
	}
	.icon-font-school {
		content: "\e259";
	}
	.icon-font-share {
		content: "\e25a";
	}
	.icon-font-whatshot {
		content: "\e25b";
	}
	.icon-font-check_box {
		content: "\e25c";
	}
	.icon-font-check_box_outline_blank {
		content: "\e25d";
	}
	.icon-font-radio_button_unchecked {
		content: "\e25e";
	}
	.icon-font-radio_button_checked {
		content: "\e25f";
	}
	.icon-font-star {
		content: "\e260";
	}
	.icon-font-star_half {
		content: "\e261";
	}
	.icon-font-star_outline {
		content: "\e262";
	}
	.icon-font-3d_rotation {
		content: "\e263";
	}
	.icon-font-accessibility {
		content: "\e264";
	}
	.icon-font-account_balance {
		content: "\e265";
	}
	.icon-font-account_balance_wallet {
		content: "\e266";
	}
	.icon-font-account_box {
		content: "\e267";
	}
	.icon-font-account_circle {
		content: "\e268";
	}
	.icon-font-add_shopping_cart {
		content: "\e269";
	}
	.icon-font-alarm {
		content: "\e26a";
	}
	.icon-font-alarm_add {
		content: "\e26b";
	}
	.icon-font-alarm_off {
		content: "\e26c";
	}
	.icon-font-alarm_on {
		content: "\e26d";
	}
	.icon-font-android {
		content: "\e26e";
	}
	.icon-font-announcement {
		content: "\e26f";
	}
	.icon-font-aspect_ratio {
		content: "\e270";
	}
	.icon-font-assessment {
		content: "\e271";
	}
	.icon-font-assignment {
		content: "\e272";
	}
	.icon-font-assignment_ind {
		content: "\e273";
	}
	.icon-font-assignment_late {
		content: "\e274";
	}
	.icon-font-assignment_return {
		content: "\e275";
	}
	.icon-font-assignment_returned {
		content: "\e276";
	}
	.icon-font-assignment_turned_in {
		content: "\e277";
	}
	.icon-font-autorenew {
		content: "\e278";
	}
	.icon-font-backup {
		content: "\e279";
	}
	.icon-font-book {
		content: "\e27a";
	}
	.icon-font-bookmark {
		content: "\e27b";
	}
	.icon-font-bookmark_outline {
		content: "\e27c";
	}
	.icon-font-bug_report {
		content: "\e27d";
	}
	.icon-font-build {
		content: "\e27e";
	}
	.icon-font-cached {
		content: "\e27f";
	}
	.icon-font-change_history {
		content: "\e280";
	}
	.icon-font-check_circle {
		content: "\e281";
	}
	.icon-font-chrome_reader_mode {
		content: "\e282";
	}
	.icon-font-class {
		content: "\e283";
	}
	.icon-font-code {
		content: "\e284";
	}
	.icon-font-credit_card {
		content: "\e285";
	}
	.icon-font-dashboard {
		content: "\e286";
	}
	.icon-font-delete {
		content: "\e287";
	}
	.icon-font-description {
		content: "\e288";
	}
	.icon-font-dns {
		content: "\e289";
	}
	.icon-font-done {
		content: "\e28a";
	}
	.icon-font-done_all {
		content: "\e28b";
	}
	.icon-font-event {
		content: "\e28c";
	}
	.icon-font-exit_to_app {
		content: "\e28d";
	}
	.icon-font-explore {
		content: "\e28e";
	}
	.icon-font-extension {
		content: "\e28f";
	}
	.icon-font-face {
		content: "\e290";
	}
	.icon-font-favorite {
		content: "\e291";
	}
	.icon-font-favorite_outline {
		content: "\e292";
	}
	.icon-font-feedback {
		content: "\e293";
	}
	.icon-font-find_in_page {
		content: "\e294";
	}
	.icon-font-find_replace {
		content: "\e295";
	}
	.icon-font-flip_to_back {
		content: "\e296";
	}
	.icon-font-flip_to_front {
		content: "\e297";
	}
	.icon-font-get_app {
		content: "\e298";
	}
	.icon-font-grade {
		content: "\e299";
	}
	.icon-font-group_work {
		content: "\e29a";
	}
	.icon-font-help {
		content: "\e29b";
	}
	.icon-font-highlight_remove {
		content: "\e29c";
	}
	.icon-font-history {
		content: "\e29d";
	}
	.icon-font-home {
		content: "\e29e";
	}
	.icon-font-hourglass_empty {
		content: "\e29f";
	}
	.icon-font-hourglass_full {
		content: "\e2a0";
	}
	.icon-font-https {
		content: "\e2a1";
	}
	.icon-font-info {
		content: "\e2a2";
	}
	.icon-font-info_outline {
		content: "\e2a3";
	}
	.icon-font-input {
		content: "\e2a4";
	}
	.icon-font-invert_colors_on {
		content: "\e2a5";
	}
	.icon-font-label {
		content: "\e2a6";
	}
	.icon-font-label_outline {
		content: "\e2a7";
	}
	.icon-font-language {
		content: "\e2a8";
	}
	.icon-font-launch {
		content: "\e2a9";
	}
	.icon-font-list {
		content: "\e2aa";
	}
	.icon-font-lock {
		content: "\e2ab";
	}
	.icon-font-lock_open {
		content: "\e2ac";
	}
	.icon-font-lock_outline {
		content: "\e2ad";
	}
	.icon-font-loyalty {
		content: "\e2ae";
	}
	.icon-font-markunread_mailbox {
		content: "\e2af";
	}
	.icon-font-note_add {
		content: "\e2b0";
	}
	.icon-font-open_in_browser {
		content: "\e2b1";
	}
	.icon-font-open_in_new {
		content: "\e2b2";
	}
	.icon-font-open_with {
		content: "\e2b3";
	}
	.icon-font-pageview {
		content: "\e2b4";
	}
	.icon-font-payment {
		content: "\e2b5";
	}
	.icon-font-perm_camera_mic {
		content: "\e2b6";
	}
	.icon-font-perm_contact_calendar {
		content: "\e2b7";
	}
	.icon-font-perm_data_setting {
		content: "\e2b8";
	}
	.icon-font-perm_device_information {
		content: "\e2b9";
	}
	.icon-font-perm_identity {
		content: "\e2ba";
	}
	.icon-font-perm_media {
		content: "\e2bb";
	}
	.icon-font-perm_phone_msg {
		content: "\e2bc";
	}
	.icon-font-perm_scan_wifi {
		content: "\e2bd";
	}
	.icon-font-picture_in_picture {
		content: "\e2be";
	}
	.icon-font-polymer {
		content: "\e2bf";
	}
	.icon-font-power_settings_new {
		content: "\e2c0";
	}
	.icon-font-print {
		content: "\e2c1";
	}
	.icon-font-query_builder {
		content: "\e2c2";
	}
	.icon-font-question_answer {
		content: "\e2c3";
	}
	.icon-font-receipt {
		content: "\e2c4";
	}
	.icon-font-redeem {
		content: "\e2c5";
	}
	.icon-font-report_problem {
		content: "\e2c6";
	}
	.icon-font-restore {
		content: "\e2c7";
	}
	.icon-font-room {
		content: "\e2c8";
	}
	.icon-font-schedule {
		content: "\e2c9";
	}
	.icon-font-search {
		content: "\e2ca";
	}
	.icon-font-settings {
		content: "\e2cb";
	}
	.icon-font-settings_applications {
		content: "\e2cc";
	}
	.icon-font-settings_backup_restore {
		content: "\e2cd";
	}
	.icon-font-settings_bluetooth {
		content: "\e2ce";
	}
	.icon-font-settings_cell {
		content: "\e2cf";
	}
	.icon-font-settings_brightness {
		content: "\e2d0";
	}
	.icon-font-settings_ethernet {
		content: "\e2d1";
	}
	.icon-font-settings_input_antenna {
		content: "\e2d2";
	}
	.icon-font-settings_input_component {
		content: "\e2d3";
	}
	.icon-font-settings_input_composite {
		content: "\e2d4";
	}
	.icon-font-settings_input_hdmi {
		content: "\e2d5";
	}
	.icon-font-settings_input_svideo {
		content: "\e2d6";
	}
	.icon-font-settings_overscan {
		content: "\e2d7";
	}
	.icon-font-settings_phone {
		content: "\e2d8";
	}
	.icon-font-settings_power {
		content: "\e2d9";
	}
	.icon-font-settings_remote {
		content: "\e2da";
	}
	.icon-font-settings_voice {
		content: "\e2db";
	}
	.icon-font-shop {
		content: "\e2dc";
	}
	.icon-font-shop_two {
		content: "\e2dd";
	}
	.icon-font-shopping_basket {
		content: "\e2de";
	}
	.icon-font-shopping_cart {
		content: "\e2df";
	}
	.icon-font-speaker_notes {
		content: "\e2e0";
	}
	.icon-font-spellcheck {
		content: "\e2e1";
	}
	.icon-font-stars {
		content: "\e2e2";
	}
	.icon-font-store {
		content: "\e2e3";
	}
	.icon-font-subject {
		content: "\e2e4";
	}
	.icon-font-supervisor_account {
		content: "\e2e5";
	}
	.icon-font-swap_horiz {
		content: "\e2e6";
	}
	.icon-font-swap_vert {
		content: "\e2e7";
	}
	.icon-font-swap_vertical_circle {
		content: "\e2e8";
	}
	.icon-font-system_update_alt {
		content: "\e2e9";
	}
	.icon-font-tab {
		content: "\e2ea";
	}
	.icon-font-tab_unselected {
		content: "\e2eb";
	}
	.icon-font-theaters {
		content: "\e2ec";
	}
	.icon-font-thumb_down {
		content: "\e2ed";
	}
	.icon-font-thumb_up {
		content: "\e2ee";
	}
	.icon-font-thumbs_up_down {
		content: "\e2ef";
	}
	.icon-font-toc {
		content: "\e2f0";
	}
	.icon-font-today {
		content: "\e2f1";
	}
	.icon-font-toll {
		content: "\e2f2";
	}
	.icon-font-track_changes {
		content: "\e2f3";
	}
	.icon-font-translate {
		content: "\e2f4";
	}
	.icon-font-trending_down {
		content: "\e2f5";
	}
	.icon-font-trending_neutral {
		content: "\e2f6";
	}
	.icon-font-trending_up {
		content: "\e2f7";
	}
	.icon-font-turned_in {
		content: "\e2f8";
	}
	.icon-font-turned_in_not {
		content: "\e2f9";
	}
	.icon-font-verified_user {
		content: "\e2fa";
	}
	.icon-font-view_agenda {
		content: "\e2fb";
	}
	.icon-font-view_array {
		content: "\e2fc";
	}
	.icon-font-view_carousel {
		content: "\e2fd";
	}
	.icon-font-view_column {
		content: "\e2fe";
	}
	.icon-font-view_day {
		content: "\e2ff";
	}
	.icon-font-view_headline {
		content: "\e300";
	}
	.icon-font-view_list {
		content: "\e301";
	}
	.icon-font-view_module {
		content: "\e302";
	}
	.icon-font-view_quilt {
		content: "\e303";
	}
	.icon-font-view_stream {
		content: "\e304";
	}
	.icon-font-view_week {
		content: "\e305";
	}
	.icon-font-visibility {
		content: "\e306";
	}
	.icon-font-visibility_off {
		content: "\e307";
	}
	.icon-font-card_giftcard {
		content: "\e308";
	}
	.icon-font-card_membership {
		content: "\e309";
	}
	.icon-font-card_travel {
		content: "\e30a";
	}
	.icon-font-work {
		content: "\e30b";
	}
	.icon-font-youtube_searched_for {
		content: "\e30c";
	}
	.icon-font-eject {
		content: "\e30d";
	}
	.icon-font-camera_enhance {
		content: "\e30e";
	}
	.icon-font-help_outline {
		content: "\e30f";
	}
	.icon-font-reorder {
		content: "\e310";
	}
	.icon-font-zoom_in {
		content: "\e311";
	}
	.icon-font-zoom_out {
		content: "\e312";
	}
	.icon-font-http {
		content: "\e313";
	}
	.icon-font-event_seat {
		content: "\e314";
	}
	.icon-font-flight_land {
		content: "\e315";
	}
	.icon-font-flight_takeoff {
		content: "\e316";
	}
	.icon-font-play_for_work {
		content: "\e317";
	}
	.icon-font-gif {
		content: "\e318";
	}
	.icon-font-indeterminate_check_box {
		content: "\e319";
	}
	.icon-font-offline_pin {
		content: "\e31a";
	}


	//結束================================================================
}