//框架

//主要內容================================================================

.base-content {
	margin-bottom: $interval-xl;

	> .in {
		background-color: $white;
		border: $border;

		> .hd {

			> .in {

			}

			h3 {

			}

			span {

			}
		}

		> .ct {

			> .in {

			}
		}
	}
}