//變數

//設定================================================================
	$debug: true; // true 或 false，是否開啟除錯模式
	$rwd: true; // true 或 false，是否開啟 rwd
	$icon-pic: true; // true 或 false，是否開啟雪碧圖示
	$icon-font: true; // true 或 false，是否開啟文字圖示


//灰階================================================================
	$white: #ffffff; //非常淺
	$light: #f0f0f0; //淺色
	$light-gray: #e8e8e8; //淺灰
	$gray: #bbbbbb; //灰色
	$deep-gray: #646464; //深灰
	$deep: #343434; //深色
	$black: #1a1a1a; //非常深


//主要版面顏色================================================================
	$major-color: #08c !default; //主色
	$minor-color: #0ca !default; //次色


//其他版面顏色================================================================
	$lesser1-color: #fff !default; //更次色
	$lesser2-color: #fff !default; //更次色
	$lesser3-color: #fff !default; //更次色


//文字顏色================================================================
	$title-color: #c02 !default; //標題色
	$span-color: #ca0 !default; //附註色


//文字樣式================================================================
	$base-font-style: Arial, '微軟正黑體', 'Helvetica Neue', Helvetica, sans-serif, '新細明體';


//文字大小================================================================
	$font-size-xs: .8em;
	$font-size-s: .9em;
	$font-size-m: 1em;
	$font-size-l: 1.1em;
	$font-size-xl: 1.4em;


//文字厚度================================================================
	$font-weight-n: 400;
	$font-weight-b: 700;


//文字行高================================================================
	$line-height-xs: 1;
	$line-height-s: 1.2;
	$line-height-m: 1.4;
	$line-height-l: 2;
	$line-height-xl: 2.4;


//文字間格================================================================
	$letter-spacing-xs: 1px;
	$letter-spacing-s: 2px;
	$letter-spacing-m: 3px;
	$letter-spacing-l: 4px;
	$letter-spacing-xl: 5px;


//透明度================================================================
	$opacity-vl: .3;
	$opacity-l: .5;
	$opacity-m: .5;
	$opacity-h: .8;
	$opacity-vh: .9;


//間隔設定================================================================
	$interval-xs: 3px;
	$interval-s: 6px;
	$interval-m: 10px;
	$interval-l: 20px;
	$interval-xl: 30px;


//基本動畫速度================================================================
	$transition: 200ms;


//RWD寬度================================================================
	$pc-width: 1010px !default; //pc寬度
	$pad-width: 768px !default; //pad寬度
	$phone-width: 560px !default; //phone寬度


//預設空文字================================================================
	$content: '\200B'; //空偽類的字元


//預設陰影================================================================
	$box-shadow: 0 0 $interval-m $light-gray;
	$text-shadow: 0 0 $interval-m $deep-gray;


//文字圖示================================================================
	$icon-font-size: inherit; //文字圖示大小
	$icon-font-color: inherit; //文字圖示顏色


//全頁文字================================================================
	$body-font-color: $deep !default; //網站文字顏色
	$body-font-size-s: $font-size-xs !default; //small
	$body-font-size-m: $font-size-s !default; //medium
	$body-font-size-l: $font-size-m !default; //large


//預設線條================================================================
	$border-style: solid;
	$border-width: 1px;
	$border-color: $light-gray;
	$border: $border-width $border-style $border-color;


//預設圓角================================================================
	$border-radius: $interval-xs;


//連結顏色================================================================
	$link-color: inherit !default; //連結顏色
	$visited-color: inherit !default; //造訪過連結顏色
	$hover-color: $gray !default; //指標移入連結顏色，不可與任何底色重疊 
	$active-color: inherit !default; //點擊連結顏色


//按鈕樣式================================================================
	$btn-bg-color: $deep-gray; //按鈕背景色
	$btn-hover-bg-color: $deep; //按鈕滑入顏色
	$btn-text-color: $white; //按鈕文字顏色
	$btn-padding: $interval-s $interval-m; //按鈕內邊距，決定按鈕大小
	$btn-padding-xs: $interval-xs $interval-s; //按鈕內邊距，決定按鈕大小
	$btn-border: 0; //按鈕線框


//輸入框樣式================================================================
	$input-padding: $interval-s $interval-m;
	$input-border: $border;
	$input-bg-color: transparent;


//特殊字元"\"================================================================
	$backslash: str-slice( '\\', 1, 1 ); //反斜線字串


//範例陣列===============================================================
	$sample-list: #fff #fff;


//範例物件===============================================================
	$sample-map: (
		'key1': #fff,
		'key2': #fff
	);


//分享圖片 & 顏色物件===============================================================
	$share-map: (
		'facebook': ( 'pic': 'share-w-facebook.png', 'color': #3c5998 ),
		'google': ( 'pic': 'share-w-google.png', 'color': #cb3726 ),
		'twitter': ( 'pic': 'share-w-twitter.png', 'color': #6aaed0 ),
		'line': ( 'pic': 'share-w-line.png', 'color': #4bc700 ),
		'email': ( 'pic': 'share-w-email.png', 'color': #666666 )
	);


//檔案類型圖片 & 顏色物件===============================================================
	$file-type-map: (
		'doc': ( 'pic': 'file-type-doc.png', 'color': #0000ff ),
		'docx': ( 'pic': 'file-type-docx.png', 'color': #0000ff ),
		'exl': ( 'pic': 'file-type-exl.png', 'color': #16ab16 ),
		'link': ( 'pic': 'file-type-link.png', 'color': #85aa5c ),
		'odf': ( 'pic': 'file-type-odf.png', 'color': #2f5c7f ),
		'odp': ( 'pic': 'file-type-odp.png', 'color': #f28900 ),
		'ods': ( 'pic': 'file-type-ods.png', 'color': #a5b900 ),
		'odt': ( 'pic': 'file-type-odt.png', 'color': #2f5c7f ),
		'other': ( 'pic': 'file-type-other.png', 'color': #5e9fb6 ),
		'pdf': ( 'pic': 'file-type-pdf.png', 'color': #f50104 ),
		'ppt': ( 'pic': 'file-type-ppt.png', 'color': #cc0101 ),
		'pptx': ( 'pic': 'file-type-pptx.png', 'color': #cc0101 ),
		'rar': ( 'pic': 'file-type-rar.png', 'color': #065594 ),
		'txt': ( 'pic': 'file-type-txt.png', 'color': #bababa ),
		'xls': ( 'pic': 'file-type-xls.png', 'color': #16ab16 ),
		'xlsx': ( 'pic': 'file-type-xlsx.png', 'color': #16ab16 ),
		'zip': ( 'pic': 'file-type-zip.png', 'color': #b5851a )
	);


//瀏覽器媒體================================================================

	$media: (
		'pc': '(max-width: #{$pc-width}) and (min-width: #{$pad-width + 1})',
		'pad': '(max-width: #{$pad-width}) and (min-width: #{$phone-width + 1})',
		'phone': '(max-width: #{$phone-width})',
		'center': '(max-width: #{$pc-width})',
		'mobile': '(max-width: #{$pad-width})',

		'ip4-4s': 'only screen and (device-aspect-ratio: 2/3) and (-webkit-device-pixel-ratio: 2) and (orientation : portrait)',
		'ip5-5s': 'only screen and (device-aspect-ratio: 40/71)  and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait)',
		'ip6': 'only screen and (device-aspect-ratio: 667/375) and (-webkit-min-device-pixel-ratio : 2) and (orientation : portrait)',
		'ip6+': 'only screen and (device-aspect-ratio: 16/9) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait)',

		'ad2.3+': 'screen and (min-width:0' + $backslash + '0)',

		'ie6-7': 'screen' + $backslash + '9',
		'ie6-7-8': $backslash + '0screen' + $backslash +',screen' + $backslash + '9',
		'ie8': $backslash +'0screen',
		'ie8-9-10': 'screen' + $backslash + '0',
		'ie9-10': 'screen and (min-resolution: +72dpi)',
		'ie9-10+': 'screen and (min-width:0' + $backslash + '0)',
		'ie10+': 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)',

		'gc22+': $backslash + $backslash + '0 screen',
		'gc29+': 'all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)',

		'sa4': 'screen and (min-width:0' + $backslash + '0)',
		'sa7+': $backslash + $backslash + '0 screen',

		'fx1+': $backslash + '0 all',
		'fx3.6+': 'screen and (-moz-images-in-menus:0)',
		'fx4+': 'screen and (min--moz-device-pixel-ratio:0)',
		'fx8+': 'all and (-moz-images-in-menus:0) and (min-resolution: .001dpcm)',
		'fx29+': 'all and (min--moz-device-pixel-ratio:0) and (min-resolution: 3e1dpcm)',

		'op7': 'all and (min-width: 0px)',
		'op12': 'all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0)',
		'op16+': 'all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)'
	);


//連覽器支持================================================================

	$supports: (
		'gc28+': '(-webkit-appearance:none)',

		'fx16+': '(-moz-appearance:meterbar)',
		'fx22+': '(-moz-appearance:meterbar) and (display:flex)',
		'fx24+': '(-moz-appearance:meterbar) and (cursor:zoom-in)',
		'fx25+': '(-moz-appearance:meterbar) and (background-attachment:local)',
		'fx26+': '(-moz-appearance:meterbar) and (image-orientation:90deg)',
		'fx27+': '(-moz-appearance:meterbar) and (all:initial)',
		'fx28+': '(-moz-appearance:meterbar) and (list-style-type:japanese-formal)',
		'fx30+': '(-moz-appearance:meterbar) and (background-blend-mode:difference,normal)',

		'op14+': '(-webkit-appearance:none)'
	);