//框架

.sys-root {
	font-size: $body-font-size-m; //預設大小，應與font-size-medium同大
	font-family: $base-font-style;
	color: $body-font-color;

	> .inner {

		> .header {

			h3 {

			}

			span {
				
			}
		}

		> .content {

		}

		> .footer {

		}
	}

	@include at('ie6-7-8') {
		min-width: $pc-width;
	}

	&.font-size-large { //大字
		font-size: $body-font-size-l;
	}

	&.font-size-medium { //中字
		font-size: $body-font-size-m;
	}

	&.font-size-small { //小字
		font-size: $body-font-size-s;
	}

	&:before {
		// @include icon-pic('file-type-odt');
		// @include icon-font('IE');
	}

	a {
		color: $hover-color;
		text-decoration: none;

		&:link {
			color: $link-color;
		}

		&:visited {
			color: $visited-color;
		}
		
		&:hover {
			color: $hover-color;
		}

		&:active {
			color: $active-color;
		}
	}

	input{

		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			@extend %btn;
		}

		&[type="text"],
		&[type="email"],
		&[type="number"],
		&[type="password"],
		&[type="search"],
		&[type="number"] {
			@extend %input;
		}

		&[type="radio"] {
			
		}
	}

	select {
		@extend %input;

		option {

		}
	}

	label {
		cursor: pointer;
	}


//行動載具================================================================

	.base-mobile {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//額外資訊================================================================

	.base-extend {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//固定佈局================================================================

	.base-wrapper {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//頁首資訊================================================================

	.base-header {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//主要內容================================================================

	.base-content {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//頁尾資訊================================================================

	.base-footer {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//模組區塊================================================================

	.base-module-area {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//內頁區塊================================================================

	.base-page-area {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//內頁側欄區塊================================================================

	.base-aside {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//內頁內容區塊================================================================

	.base-section {

		> .inner {

			> .header {

				> .inner {
					
				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}


//文章================================================================

	.base-article{

		> .inner {

			> .header {

				> .inner {

				}

				h3 {

				}

				span {
					
				}
			}

			> .content {

				> .inner {
					
				}
			}

			> .footer {

				> .inner {
					
				}
			}
		}
	}
}