//列表群組

//連結================================================================

.group-list.link {

	.base-module-area &, .base-aside & {
		$default-len: 2;

		@include default-len-hide(4, $default-len);
		@include set-len-hide(4);

		> .bg-drop-layout > .in, > .in {

			> .hd {

				> .in {

				}

				h3 {
					@extend %title;

					&:before {
						@include icon-font('public');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

					> ul {

						&:after {
							@extend %clear;
						}

						> li {

							> [data-index][data-type] {
								padding: $interval-xs;

								> .in {

									> .ft {
										display: none;
									}
								}
							}
						}
					}
				}
			}

			> .ft {
				@extend %footer-btns;

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

	.base-section & {

		> .bg-drop-layout > .in, > .in {

			> .hd {

				> .in {

				}

				h3 {
					@extend %title;

					&:before {
						@include icon-font('public');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

					> ul {

						> li {

							+ li {
								margin-top: $interval-s;
							}

							> [data-index][data-type] {
								
								> .in {

									> .ft {
										display: none;
									}
								}
							}
						}
					}
				}
			}

			> .ft {
				@extend %footer-btns;

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}
}