//列表群組

//網站地圖================================================================

.group-list.sitemap {

	> .bg-drop-layout > .in, > .in {

		> .hd {

			> .in {

			}

			h3 {
				@extend %title;

				&:before {
					@include icon-font('arrow_drop_down');
				}
			}

			span {

			}

			a {

			}
		}

		> .ct {
			padding: $interval-s 0 0 $interval-xl;

			> .in {

				> ul {

					> li {

						+ li {
							margin-top: $interval-m;
						}

						> [data-index][data-type] {
							margin: 0;

							> .in {

								> .hd {
									display: block;
								}

								> .ct {
									padding: $interval-s 0 0 $interval-xl;
								}
							}
						}
					}
				}
			}
		}

		> .ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}