//群組

//設定================================================================

.group {

	> .bg-drop-layout > .in, > .in {

		.hd {

			> .in {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .ct {

			> .in {

			}
		}

		> .ft {

			> .in {

			}

			ul {
				
			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}