//列表群組

[data-type="4"] {

//預設================================================================

	&.default {

		> .inner {

			> .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {
						@extend %reset;

						> li {

							+ li {
								margin-top: $interval-s;
							}
						}
					}
				}

				.list-text, &.list-pic, &[data-type="4"] {
					margin: 0;

					.header {
						display: block;
					}

					.content {

						ul {
							padding-left: $interval-xl;
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//選單列表================================================================

	&.nav {

		.base-mobile & {

			> .inner {

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {
							@extend %reset;

							> li {

								&.is-active {

									> [data-index][data-type] {

										> .inner {

											.header {

												a {
													background-color: $minor-color !important;
													color: $white !important;

													&:before {
														@include icon-font('keyboard_arrow_down');
													}
												}
											}

											.content {
												display: block;
											}
										}
									}
								}

								> [data-index][data-type] {
									@extend %reset;
									position: relative;

									> .inner {
										@extend %reset;

										> .header {
											@extend %reset;

											> .inner {

											}

											h2, & h3, & h4 {
												@extend %reset;

												&:before {
													display: none;
												}

												&:after {
													display: none;
												}
											}

											span {
												display: block;
											}

											a {
												display: block;
												padding: $interval-m;
												transition: $transition;

												&:before {
													@include icon-font('keyboard_arrow_right');
													margin-right: $interval-xs;
												}

												&:hover {
													background-color: $light;
													color: $body-font-color;
												}
											}
										}

										> .content {
											display: none;

											> .inner {
												padding: $interval-xs;
												background-color: $light;
											}
										}

										> .footer {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-header & {
			$li-default-length: 6;
			$li-max-length: 10;

			@include default-min-length($li-default-length, $li-max-length);
			background-color: $light;
			position: relative;
			z-index: 1;

			> .inner {
				@extend %center;

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {
							@extend %reset;

							> li {
								position: relative;

								+ li {

									&:before {
										content: $content;
										display: block;
										position: absolute;
										top: $interval-s;
										bottom: $interval-s;
										left: 0;
										width: $border-width;
										background-color: $border-color;
									}
								}

								&.is-active {

									> [data-index][data-type] {

										> .inner {

											> .header {

												a {
													background-color: $minor-color;
													color: $white;
												}
											}

											> .content {
												display: block;
											}
										}
									}
								}

								> [data-index][data-type] {
									@extend %reset;
									position: relative;

									> .inner {

										> .header {
											@extend %reset;

											> .inner {

											}

											h2, & h3, & h4 {
												@extend %reset;
											}

											span {
												display: block;
											}

											a {
												@extend %ellipsis;
												display: block;
												padding: $interval-s;
												margin: $interval-s;
												text-align: center;
												font-size: $font-size-l;
												transition: $transition;
											}
										}

										> .content {
											display: none;
											position: absolute;
											top: 100%;
											width: 100%;
											left: 0;

											> .inner {
												padding: $interval-xs;
												background-color: $white;
												border: $border;
												box-shadow: $box-shadow;
											}
										}

										> .footer {
											display: none;
										}
									}
								}

								@for $i from 1 through $li-max-length { //ul的寬度

									&[data-width="#{$i}"] { //li的寬度< li的最大數量

										> [data-index][data-type] {

											> .inner {

												.content {
													width: 100% * $i;
												}
											}
										}
									}
								}

								@for $i from 1 through $li-max-length { //ul的寬度

									&[data-width="#{$i}"] { //li的寬度< li的最大數量

										> .nav {

											> .inner > .content {

												> ul {

													> li {
														width: 100% / $i;
													}
												}
											}
										}
									}
								}
							}

							@for $i from $li-default-length through $li-max-length { //group的child

								&[data-child="#{$i}"] {

									@for $j from 2 through $li-max-length { //li的index

										> [data-index="#{$j}"] { //li的順序

											@for $k from 1 through $li-max-length { //li的寬度

												&[data-width="#{$k}"] { //li的寬度< li的最大數量

													$li-width: min($k, $i); //li的寬度 > group的child，li的寬度 = group的child
													$all-width: $j - 1 + $li-width;

													> [data-index][data-type] {

														> .inner {
															
														}

														> .inner > .content {

															@if( $all-width > $i ) {  //如果li數量大於li寬度
																left: 100% * ( $i - $all-width ); //就推回來
															}
														}
													}
												}
											}
										}
									}
								}
							}

							@for $i from 1 through $li-default-length { //group的child

								&[data-child="#{$i}"] {

									@for $j from 2 through $li-max-length { //li的index

										> [data-index="#{$j}"] { //li的順序

											@for $k from 1 through $li-max-length { //li的寬度

												&[data-width="#{$k}"] { //ul,如果ul的寬度設定 < li的最大數量

													$li-width: min($k, $li-default-length); //li的寬度 > group的child，li的寬度 = group的child
													$all-width: $j - 1 + $li-width;

													> [data-index][data-type] {

														> .inner {

														}

														> .inner > .content {

															@if( $all-width > $li-default-length ) { //如果li數量大於li寬度
																left: 100% * ( $li-default-length - $all-width ); //就推回來
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-footer.is-close & {
			display: none;
		}

		.base-footer & {
			@include default-min-length(6);
			background-color: $light;
			padding: $interval-l 0;

			> .inner {
				@extend %center;

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {
							@extend %reset;

							> li {

								> [data-index][data-type] {
									@extend %reset;
									padding: 0 $interval-xs;

									> .inner {
										@extend %reset;

										> .header {
											display: block;

											> .inner {

											}

											h2, & h3, & h4 {
												@extend %reset;

												&:before {
													display: none;
												}

												&:after {
													display: none;
												}
											}

											span {
												display: block;
											}

											a {
												@extend %ellipsis;
												display: block;
												padding: $interval-s $interval-m;
												margin-bottom: $interval-s;
												border-bottom: $border;
												text-align: center;
												font-size: $font-size-l;
												color: $body-font-color;
											}
										}

										> .content {
											display: block !important;
											position: static;
										}

										> .footer {
											display: none;
										}	
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-module-area &, .base-aside & {

			> .inner {
				background-color: $major-color;

				> .header {

					> .inner {

					}

					h3 {
						@extend %reset;
						font-size: $font-size-l;
						padding: $interval-m;
						color: $white;

						&:before {
							@include icon-font('menu');
							margin-right: $interval-xs;
						}
					}

					span {
						color: inherit;
					}

					a {
						color: inherit;
					}
				}

				> .content {
					overflow: hidden;

					> .inner {

						> ul {
							@extend %reset;
							margin: 0 $interval-s $interval-s;
							background-color: $white;

							> li {

								+ li {
									border-top: $border;
								}

								&.is-active {

									> [data-index][data-type] {

										> .inner {

											> .header {

												a {
													background-color: $minor-color !important;
													color: $white !important;

													&:before {
														@include icon-font('keyboard_arrow_down');
													}
												}
											}

											> .content {
												display: block;
											}
										}
									}
								}

								> [data-index][data-type] {
									@extend %reset;
									position: relative;

									> .inner {
										@extend %reset;

										> .header {
											@extend %reset;

											> .inner {

											}

											h2, & h3, & h4 {
												@extend %reset;

												&:before {
													display: none;
												}

												&:after {
													display: none;
												}
											}

											span {
												display: block;
											}

											a {
												display: block;
												padding: $interval-m;
												transition: $transition;

												&:before {
													@include icon-font('keyboard_arrow_right');
													margin-right: $interval-xs;
												}

												&:hover {
													background-color: $light;
													color: $body-font-color;
												}
											}
										}

										> .content {
											display: none;

											> .inner {
												padding: $interval-xs;
												background-color: $light;
											}
										}

										> .footer {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-section & {

			> .inner {

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {
							@extend %reset;

							> li {

								+ li {
									margin-top: $interval-s;
								}

								> [data-index][data-type] {
									margin: 0;

									> .inner {

										> .header {
											display: block;
										}

										> .content {
											padding: $interval-s 0 0 $interval-xl;
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}
	}

//多重檔案下載群組================================================================

	&.file-download-multiple {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {
					@extend %page-title;
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {
						@extend %reset;

						> li {
							
							+ li {
								margin-top: $interval-s;
							}
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//相簿================================================================

	&.album {

		.base-module-area & {
			@include default-length-hide-more(2);
			@include set-length-hide-more();

			> .inner {

				> .header {

					> .inner {

					}

					h3 {
						@extend %module-title;

						&:before {
							@include icon-font('camera');
						}
					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {
							@extend %reset;

							> li {
								@extend %clear-inner-module;

								> [data-index][data-type] {
									padding: $interval-xs;
								}
							}
						}
					}
				}

				> .footer {
					@extend %footer-btns;

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-page-area & {
			@include default-length(4);
			@include set-length();

			> .inner {

				> .header {

					> .inner {

					}

					h3 {
						@extend %page-title;
					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {
							@extend %reset;

							> li {
								@extend %clear-inner-module;

								> [data-index][data-type] {
									padding: $interval-xs;
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}
	}

//訊息================================================================

	&.message {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {
					@extend %module-title;

					&:before {
						@include icon-font('message');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {
						@extend %reset;

						> li {
							@extend %clear-inner-module;

							+ li {
								margin-top: $interval-s;
							}
						}
					}
				}
			}

			> .footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//古典輪播================================================================

	&.classical-slider {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {
					@extend %module-title;

					&:before {
						@include icon-font('slideshow');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {
						@extend %reset;

						> li {
							@extend %clear-inner-module;

							+ li {
								display: none;
							}

							> [data-index][data-type] { //頁籤裡的 footer 不是 absolute

								> .inner {

									.footer {
										position: static;
										margin-top: $interval-s;
									}
								}
							}
						}
					}
				}
			}

			> .footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//跑馬燈================================================================

	&.marqee-slider {
		$btn-width: 30px; //設定按鈕寬度
		$max-li-length: 50; //設定 li 的最大數量
		$show-li-length: 5; //設定一次要秀的數量
		$max-show-li-length: 10; //設定一次要秀的範圍數量

		@for $i from 1 through $max-show-li-length { //使數量可以被控制 1 ~ $max-show-li-length
		
			&[data-aLineLength="#{$i}"] {

				> .inner > .content > .inner {

					> ul {
						width: $max-li-length / $i * 100%;

						> li {
							width: 100% / $i / ( $max-li-length / $i );

							&:nth-child(n+#{$max-li-length + 1}) { //超過 $max-li-length 就藏起來
								display: none;
							}

							$li: ' ';

							@for $i from 1 through $max-li-length {

								$li: $li + '+ li '; 
							}

							&#{$li}{
								display: none;
							}
						}
					}
				}
			}
		}

		> .inner {

			> .header {
				display: none;

				> .inner {

				}

				h3 {
					@extend %module-title;

					&:before {
						@include icon-font('slideshow');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {
				background-color: $light;

				> .inner {
					overflow: hidden;
					margin: 0 $btn-width;

					> ul {
						@extend %reset;
						width: $max-li-length / $show-li-length * 100%;
						list-style: none;

						&:after {
							@extend %clear;
						}

						> li {
							width: 100% / $show-li-length / ( $max-li-length / $show-li-length );
							float: left;

							&:nth-child(n+#{$max-li-length + 1}) { //超過 $max-li-length 就藏起來
								display: none;
							}

							$li: ' ';

							@for $i from 1 through $max-li-length {

								$li: $li + '+ li '; 
							}

							&#{$li}{
								display: none;
							}

							> [data-index][data-type] { //隱藏內置模組的 header 與 footer
								padding: $interval-s;

								> .inner {
									@extend %reset;

									> .header {
										display: none;
									}

									> .footer {
										display: none;
									}
								}
							}
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {
					@extend %reset;
				}

				li {

					&.next, &.prev {

						@include at('no-js') {
							display: none;
						}

						a {
							@extend %hide-text;
							position: absolute;
							top: 0;
							bottom: 0;
							display: block;
							width: $btn-width;
							transition: $transition;
							background-color: $btn-bg-color;

							&:hover {
								background-color: $btn-hover-bg-color;
							}
						}
					}

					&.prev {

						a {
							left: 0;
							@include bg-to-pic('icon-pic/away-w-left.png', false);
						}
					}

					&.next {

						a {
							right: 0;
							@include bg-to-pic('icon-pic/away-w-right.png', false);
						}
					}

					&.more {
						display: none;
					}
				}

				span {

				}

				a {

				}
			}
		}
	}

//主輪播================================================================

	&.major-slider {
		$btn-width: 45px; //設定按鈕寬度

		> .inner {
			margin: 0 !important;

			> .header {
				display: none;

				> .inner {

				}

				h3 {
					@extend %module-title;

					&:before {
						@include icon-font('slideshow');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {
						@extend %reset;

						> li {

							+ li {
								display: none;
							}

							> [data-index][data-type] { //隱藏內置模組的 header 與 footer

								> .inner {
									@extend %reset;

									> .header {
										display: none;
									}

									> .footer {
										display: none;
									}
								}
							}
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {
					@extend %reset;
				}

				li {

					&.next, &.prev {

						@include at('no-js') {
							display: none;
						}

						a {
							@extend %hide-text;
							position: absolute;
							top: 20%;
							bottom: 20%;
							display: block;
							width: $btn-width;
							transition: $transition;
							background-color: $light;
							background-color: rgba($light, $opacity-h);

							&:hover {
								background-color: $light-gray;
								background-color: rgba($light-gray, $opacity-h);
							}
						}
					}

					&.prev {

						a {
							left: 0;
							@include bg-to-pic('icon-pic/away-b-left.png', false);
						}
					}

					&.next {

						a {
							right: 0;
							@include bg-to-pic('icon-pic/away-b-right.png', false);
						}
					}

					&.more {
						display: none;
					}
				}

				span {

				}

				a {

				}
			}
		}
	}
}