//群組

.group {

//預設================================================================

	&.default {

		> .bg-drop-layout > .in, > .in {

			.hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//內頁================================================================

	&.page { //抵銷內頁規則
		border: $border;

		> .bg-drop-layout > .in, > .in {

			.hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

					> [data-type][data-index] {
						margin-top: 0;
						box-sizing: border-box;
						padding: $interval-m;
					}
				}
			}
		}
	}

//選單================================================================

	&.nav {

		.base-mobile & {
			position: relative;

			> .bg-drop-layout > .in, > .in {

				.hd {

					> .in {

					}

					h3 {

					}

					span {
						display: block;
					}

					a {
						display: block;
						padding: $interval-m;
						transition: $transition;
						padding-right: 40px;

						&:before {
							@include icon-font('keyboard_arrow_down');
							position: absolute;
							top: 10px;
							right: 10px;
						}

						&:hover {
							background-color: $light;
							color: currentColor;
						}
					}
				}

				> .ct {
					display: none;

					> .in {
						padding: $interval-xs;
						background-color: $light;
					}

					[data-type][data-index] {

						> .bg-drop-layout > .in, > .in {
							margin: 0 !important;
						}
					}
				}
			}
		}

		.base-header & {

			> .bg-drop-layout > .in, > .in {

				.hd {

					> .in {

					}

					h3 {

					}

					span {
						display: block;
					}

					a {
						@extend %ellipsis;
						line-height: $interval-xl;
						display: block;
						padding: $interval-s;
						text-align: center;
						transition: $transition;

						@include js(false) {
							text-align: left;
							font-weight: $font-weight-b;
						}
					}
				}

				> .ct {
					display: none;
					position: absolute;
					top: 100%;
					width: 100%;
					left: 0;

					@include js(false) {
						display: block;
						position: static;
						width: 100% !important;
					}

					> .in {
						padding: $interval-xs;
						background-color: $white;
						border: $border;
						box-shadow: $box-shadow;
					}
				}
			}
		}

		.base-footer & {
			padding: $interval-m $interval-xs;

			> .bg-drop-layout > .in, > .in {

				.hd {

					> .in {

					}

					h3 {

					}

					span {
						display: block;
					}

					a {
						@extend %ellipsis;
						display: block;
						padding: $interval-s $interval-m;
						margin-bottom: $interval-s;
						border-bottom: $border;
						text-align: center;
						font-size: $font-size-l;
						color: $body-font-color;
					}
				}

				> .ct {
					@extend %reset;
					display: block !important;
					position: static;

					> .in {

					}
				}
			}
		}

		.base-extend &, .base-module-area &, .base-aside & {
			position: relative;

			> .bg-drop-layout > .in, > .in {

				.hd {

					> .in {

					}

					h3 {

					}

					span {
						display: block;
					}

					a {
						display: block;
						padding: $interval-m;
						transition: $transition;

						&:before {
							@include icon-font('keyboard_arrow_right');
							margin-right: $interval-xs;
						}

						&:hover {
							background-color: $light;
							color: currentColor;
						}
					}
				}

				> .ct {
					display: none;

					@include js(false) {
						display: block;
					}

					> .in {
						padding: $interval-xs;
						background-color: $light;
					}
				}
			}
		}

		.base-section & {
			margin: 0;

			> .bg-drop-layout > .in, > .in {

				.hd {
					display: block;

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {
					padding: $interval-s 0 0 $interval-xl;

					> .in {

					}
				}
			}
		}
	}

//燈箱================================================================

	&.light-box {
		$btn-size: 30px;
		
		position: fixed;
		display: none;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: $black;
		background-color: rgba($black, $opacity-m);
		text-align: center;

		@include js(false) {
			display: none;
		}

		&.is-show {
			display: block;
		}

		&:before {
			content: $content;
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		> .bg-drop-layout > .in, > .in {
			position: relative;
			display: inline-block;
			box-sizing: border-box;
			max-width: 80%;
			max-height: 80%;
			padding: $btn-size / 2;
			vertical-align: middle;

			@include media('phone') {
				max-width: 90%;
			}

			> .hd {
				display: none;

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

				}
			}

			> .ft {

				> .in {

				}

				ul {
					@extend %reset;
				}

				li {

					&.close {

						a {
							@extend %hide-text;
							@include bg-to-pic('icon-pic/ctrl-b-close.png', false);
							position: absolute;
							top: 0;
							right: 0;
							display: block;
							width: $btn-size;
							height: $btn-size;
							transition: $transition;
							border-radius: 50%;
						}
					}
				}

				span {

				}

				a {
					background-color: $light;
					background-color: rgba($light, $opacity-h);

					&:hover {
						background-color: rgba($light, $opacity-vh);
					}
				}
			}
		}
	}

//置中================================================================

	&.center {

		> .bg-drop-layout > .in, > .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {
				@extend %center;

				> .in {

				}
			}
		}
	}

//資訊群組================================================================

	&.info {

		.base-mobile & {
			@extend %area-mobile;

			> .bg-drop-layout > .in, > .in {

				> .hd {
					display: none;

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 100vh;
						overflow-y: auto;
						background-color: $light;
					}
				}
			}
		}

		.base-header & {
			background-color: $major-color;

			> .bg-drop-layout > .in, > .in {
				@extend %center;

				> .hd {
					display: none;

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

						&:after {
							@extend %clear;
						}
					}
				}
			}
		}

		.base-footer & {

			> .bg-drop-layout > .in, > .in {
				@extend %center;
				padding: $interval-l 0;

				> .hd {
					display: none;

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

						&:after {
							@extend %clear;
						}
					}
				}
			}
		}
	}

//資訊與工具群組================================================================

	&.msg-tool {

		.base-header & {
			position: relative;

			> .bg-drop-layout > .in, > .in {

				> .hd {

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

					}
				}
			}
		}

		.base-footer & {
			overflow: hidden;

			> .bg-drop-layout > .in, > .in {
				@extend %area-mobile;
				
				> .hd {

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

					}
				}
			}
		}
	}

//內頁頁首================================================================

	&.page-header {

		> .bg-drop-layout > .in, > .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {
				margin-top: $interval-m;

				> .in {

				}
			}
		}
	}

//內頁主要內容================================================================

	&.page-content {
		@extend %area-page;
		position: relative;
		margin: $interval-m 0;

		> .bg-drop-layout > .in, > .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//內頁頁尾================================================================

	&.page-footer {
		@extend %area-page;

		> .bg-drop-layout > .in, > .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}
}