//列表群組

//內頁區塊群組================================================================

.group-list.page-block {

	> .bg-drop-layout > .in, > .in {

		> .hd {
			@extend %header;

			> .in {

			}

			h3 {
				
			}

			span {
					
			}

			a {

			}
		}

		> .ct {

			> .in {

				> ul {

					&:after {
						@extend %clear;
					}

					> li {
						$len: 3;

						float: left;
						width: ( 100% / $len );
						box-sizing: border-box;
						padding: 0 $interval-xs $interval-s;

						&:nth-child(#{$len}n+1) {
							clear: left;
						}

						@include media('pad') {
							$len: 2;

							width: 100% / $len;

							&:nth-child(#{$len}n+1) {
								clear: left;
							}
						}

						@include media('phone') {
							$len: 1;

							width: 100% / $len;

							&:nth-child(#{$len}n+1) {
								clear: left;
							}
						}
					}
				}
			}
		}

		> .ft {
			@extend %footer;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}