//列表群組

//選單================================================================

.group-list.nav {

	.base-mobile & {

		> .bg-drop-layout > .in, > .in {

			> .hd {
				display: none;

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

					> ul {

						> li {

							+ li {
								border-top: $border;
							}

							&.is-active {

								> .group.nav {

									> .in {

										.hd {

											a {
												background-color: $minor-color;
												color: $white;
											}
										}

										.ct {
											display: block;
										}
									}
								}
							}

							&.is-single {

								> .group.nav {

									> .in {

										> .hd {

											a {

												&:before {
													@include icon-font('keyboard_arrow_right');
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			> .ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

	.base-header & {
		$default-len: 6;
		$max-len: 8;

		@include default-min-len(4, $default-len, $max-len);
		position: relative;
		z-index: 2;

		@include js(false) {
			padding-bottom: $interval-l;
		}

		@include media('mobile') {
			display: none;
		}

		&.is-fixed {

			> .in {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				max-width: 100%;
				box-shadow: $box-shadow;
			}
		}

		> .bg-drop-layout > .in, > .in {
			background-color: $light;

			> .hd {
				display: none;

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {
				@extend %center;

				> .in {

					> ul {

						&:after {
							@extend %clear;
						}

						> li {
							position: relative;
							box-sizing: border-box;
							padding: $interval-s;

							@include js(false) {
								width: 100%;
							}

							+ li {

								&:before {
									content: $content;
									display: block;
									position: absolute;
									top: $interval-s;
									bottom: $interval-s;
									left: 0;
									width: $border-width;
									background-color: $border-color;

									@include js(false) {
										content: none;
									}
								}
							}

							&:nth-child(#{$default-len}n+1) { //多數排的首項目

								&:before {
									content: none;
								}
							}

							&.is-active, &:hover {
								z-index: 1; //避免雙層選單覆蓋問題

								> .group.nav {

									> .in {

										> .hd {

											a {
												background-color: $minor-color;
												color: $white;
											}
										}

										> .ct {
											display: block;
										}
									}
								}
							}
						}
					}
				}
			}

			> .ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

	.base-content & {

		> .bg-drop-layout > .in, > .in {
			background-color: $major-color;

			> .hd {

				> .in {

				}

				h3 { 
					padding: $interval-m;
					color: $white;

					&:before {
						@include icon-font('menu');
						margin-right: $interval-xs;
					}
				}

				span {
					
				}

				a {

				}
			}

			> .ct {
				overflow: hidden;

				> .in {

					> ul {
						margin: 0 $interval-xs $interval-xs;
						background-color: $white;

						> li {

							+ li {
								border-top: $border;
							}

							&.is-active {

								> .group.nav {

									> .in {

										> .hd {

											a {
												background-color: $minor-color !important;
												color: $white !important;

												&:before {
													@include icon-font('keyboard_arrow_down');
												}
											}
										}

										> .ct {
											display: block;
										}
									}
								}
							}
						}
					}
				}
			}

			> .ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

	.base-footer & {
		$default-len: 6;
		$max-len: 10;

		@include default-min-len(4, $default-len, $max-len);

		@include media('mobile') {
			display: none;
		}

		&.is-close {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {
			@extend %center;

			> .hd {
				display: none;

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {
				padding: $interval-s 0;
				border-bottom: $border;

				> .in {

					> ul {

						&:after {
							@extend %clear;
						}

						> li {

							&:nth-child(#{$max-len - 1}n+1) {
								clear: left;
							}
						}
					}
				}
			}

			> .ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}
}