//排版框架

body{ //基本設定
	font-size: $body-font-size-m; //預設大小，應與font-size-m同大
	font-family: $base-font-style;
	color: $body-font-color;

	&.font-size-l{ //大字
		font-size: $body-font-size-l;
	}

	&.font-size-m{ //中字
		font-size: $body-font-size-m;
	}

	&.font-size-s{ //小字
		font-size: $body-font-size-s;
	}

	> form{
		
		&:before{
			content: $content;
			@include icon('map');
		}
	}

	a{ //連結設定
		color: $link-color;
		text-decoration: none;

		&:link{
			color: $link-color;
		}

		&:visited{
			color: $visited-color;
		}
		
		&:hover{
			color: $hover-color;
		}

		&:active{
			color: $active-color;
		}
	}

	input{

		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			@extend %btn;
		}

		&[type="text"],
		&[type="email"],
		&[type="number"],
		&[type="password"],
		&[type="search"],
		&[type="number"] {
			@extend %text;
		}

		&[type="radio"] {
			
		}
	}

	select {
		@extend %text;

		option {

		}
	}

	label {
		cursor: pointer;
	}
}

.mobile { //mobile 行動載具

	> .container {

		> .inner {

		}
	}

	@import 'module_mobile_nav'; //nav 選單
}

.fixed { //fixed 浮動佈局

	> .container {

		> .inner {

		}
	}

	@import 'module_fixed_user-tool'; //user-tools 使用者登入、編輯工具

	@import 'module_fixed_share-gotop'; //share-gotop 分享與移至最頂
}

.wrapper { //wrapper 固定佈局

	> .container {

		> .inner {

		}
	}

	.header { //header 首頁資訊

		> .container {

			> .inner {

			}
		}

		.info { //info 資訊欄

			> .container {

				> .inner {

				}
			}

			@import 'module_header_logo'; //LOGO放置區塊
			
			.msg-tool { //msg-tool 資訊與工具

				> .container {

					> .inner {

					}
				}

				@import 'module_header_link'; //link 連結區塊

				@import 'module_header_font-level'; //font-level 字級調整

				@import 'module_header_lang'; //lang 語言選擇

				@import 'module_header_hot-key-word'; //hot-key-word 熱門關鍵字
				
				.search{ //search 搜尋

					> .container {

						> .inner {

						}
					}

					@import 'module_header_search_normal'; //normal 一般搜尋

					@import 'module_header_search_advanced'; //advanced 進階搜尋
				}
			}
		}

		@import 'module_header_nav'; //nav 選單
	}

	.content { //content 主要內容

		> .container {

			> .inner {

			}
		}

		.group {

			> .container {

				> .inner {

				}
			}
		}

		.aside {

			> .container {

				> .inner {

				}
			}
		}

		.section {

			> .container {

				> .inner {

				}
			}
		}
	}

	.footer { //footer 頁尾資訊

		> .container {

			> .inner {

			}
		}

		@import 'module_footer_nav'; //nav 選單

		.info { //info 資訊欄

			> .container {

				> .inner {

				}
			}

			@import 'module_footer_logo'; //logo LOGO放置區塊
			
			.msg-tool { //msg-tool 資訊與工具

				> .container {

					> .inner {

					}
				}

				@import 'module_footer_link'; //link 連結區塊

				@import 'module_footer_visit-count'; //visit-count 瀏覽人次

				@import 'module_footer_address'; //address 客戶自訂的聯絡區塊

				@import 'module_footer_icon'; //icon 各種標章
			}
		}
	}
}

@include at-breakpoint(phone) { //phone

}

@include at-breakpoint(pad) { //pad

}

@include at-breakpoint(pc) { //pc
	
}