//排版框架

body {
	font-size: $body-font-size-m; //預設大小，應與font-size-m同大
	font-family: $base-font-style;
	color: $body-font-color;

	&.font-size-l { //大字
		font-size: $body-font-size-l;
	}

	&.font-size-m { //中字
		font-size: $body-font-size-m;
	}

	&.font-size-s { //小字
		font-size: $body-font-size-s;
	}

	> form {
		
		&:before {
			content: $content;
			@include icon('map.png', 1);
		}
	}

	a {
		color: $link-color;
		text-decoration: none;

		&:link {
			color: $link-color;
		}

		&:visited {
			color: $visited-color;
		}
		
		&:hover {
			color: $hover-color;
		}

		&:active {
			color: $active-color;
		}
	}

	input{

		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			@extend %btn;
		}

		&[type="text"],
		&[type="email"],
		&[type="number"],
		&[type="password"],
		&[type="search"],
		&[type="number"] {
			@extend %text;
		}

		&[type="radio"] {
			
		}
	}

	select {
		@extend %text;

		option {

		}
	}

	label {
		cursor: pointer;
	}
}

.mobile { //mobile 行動載具

	> .container {

		> .inner {

		}
	}

	@import 'module_mobile_nav'; //nav 選單
}

.extend { //extend 額外資訊

	> .container {

		> .inner {

		}
	}

	@import 'module_extend_user-tool'; //user-tool 使用者工具

	@import 'module_extend_share-gotop'; //share-gotop 分享與移至最頂
}

.wrapper { //wrapper 固定佈局

	> .container {

		> .inner {

		}
	}

	> .container > .inner > .header { //header 頁首資訊

		> .container {

			> .inner {

			}
		}

		.info { //info 資訊欄

			> .container {

				> .inner {

				}
			}

			@import 'module_header_logo'; //logo 標誌放置區塊
			
			.msg-tool { //msg-tool 資訊與工具

				> .container {

					> .inner {

					}
				}

				@import 'module_header_link'; //link 連結區塊

				@import 'module_header_font-level'; //font-level 字級調整

				@import 'module_header_lang'; //lang 語言選擇

				@import 'module_header_hot-key-word'; //hot-key-word 熱門關鍵字
				
				.search{ //search 搜尋

					> .container {

						> .inner {

						}
					}

					@import 'module_header_search_normal'; //normal 一般搜尋

					@import 'module_header_search_advanced'; //advanced 進階搜尋
				}
			}
		}

		@import 'module_header_nav'; //nav 選單
	}

	> .container > .inner > .content { //content 主要內容

		> .container {

			> .inner {

			}
		}

		.group {

			> .container {

				> .inner {

				}
			}
		}

		.aside { //aside 內頁側邊

			> .container {

				> .inner {

				}
			}
		}

		.section { //section 內頁內容區塊

			> .container {

				> .inner {

				}
			}

			> .container > .inner > .header{ //header 頁首資訊

				> .container {

					> .inner {

					}
				}

				@import 'module_content_sitemap'; //sitemap 網站地圖

				.info{ //info 資訊欄

					> .container {

						> .inner {

						}
					}

					.msg-tool{ //msg-tool 資訊與工具

						> .container {

							> .inner {

							}
						}

						@import 'module_content_title'; //title 標題列

						@import 'module_content_user-tool'; //user-tool 使用者工具
					}

					@import 'module_content_detail'; //detail 詳細資訊
				}
			}

			> .container > .inner > .content{ //content 主要內容

				> .container {

					> .inner {

					}
				}

				.article{ //article 文章內容

					> .container {

						> .inner {

						}
					}
				}
			}

			> .container > .inner > .footer{ //footer 頁尾資訊

				> .container {

					> .inner {

					}
				}

				@import 'module_content_page-tool'; //page-tool 頁次導航列

				@import 'module_content_jump-tool'; //jump-tool 跳轉導航列
			}
		}
	}

	> .container > .inner > .footer { //footer 頁尾資訊

		> .container {

			> .inner {

			}
		}

		@import 'module_footer_nav'; //nav 選單

		.info { //info 資訊欄

			> .container {

				> .inner {

				}
			}

			@import 'module_footer_logo'; //logo 標誌放置區塊
			
			.msg-tool { //msg-tool 資訊與工具

				> .container {

					> .inner {

					}
				}

				@import 'module_footer_link'; //link 連結區塊

				@import 'module_footer_visit-count'; //visit-count 瀏覽人次

				@import 'module_footer_address'; //address 客戶自訂的聯絡區塊

				@import 'module_footer_icon'; //icon 各種標章
			}
		}
	}
}

@include at-breakpoint(phone) { //phone

}

@include at-breakpoint(pad) { //pad

}

@include at-breakpoint(pc) { //pc
	
}