//圖片列表

//連結================================================================

.list-pic.link {
	$default-len: 3;

	@include default-len(0, $default-len);
	@include set-len(0);
	margin-top: 0;

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %title;

		> .in {

		}

		h4 {

			&:before {
				@include icon-font('public');
			}
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		ul {

			&:after {
				@extend %clear;
			}
		}

		li {
			
		}

		span {
			margin: $interval-xs;
			display: block;
		}

		a {
			@extend %mask;
		}

		img {
			width: 100%;
			display: block;
		}

		/*i*/.mark {
			@extend %mark-absolute;
		}
	}

	.ft {
		@extend %footer-btns;

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}