//文字列表

//檔案下載================================================================

.list-text.file-download {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %header;

		> .in {

		}

		h4 {
			
		}

		span {
				
		}

		a {

		}
	}

	.ct {

		> .in {
			
		}

		ul {

		}

		li {

			+ li {
				margin-top: $interval-s;
			}

			@each $key, $map in $file-type-map {
				$pic: map-get($map, 'pic');
				$color: map-get($map, 'color');

				&.#{$key} {

					a {
						border-left-color: $color;

						&:before {
							background-image: image-url('icon-pic/#{$pic}');
						}
					}
				}
			}
		}

		span {
			display: block;
		}

		a {
			$default_type: map-get($file-type-map, 'other');
			$default_color: map-get($default_type, 'color');
			$default_pic: map-get($default_type, 'pic');

			@extend %list;
			@extend %list-hover;
			border-left-width: $interval-xs;
			border-left-style: solid;
			border-left-color: $default_color;

			&:before {
				content: $content;
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: $interval-xs;
				background-repeat: no-repeat;
				background-image: image-url('icon-pic/#{$default_pic}');
			}

			&:hover {
				border-left-width: $interval-m;
			}

			&:after {
				content: none;
			}
		}

		/*i*/.mark {
			
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}