//文字列表

.list-text {

//設定================================================================
		
	.ct {

		ul {
			@extend %reset;
		}
	}

//預設================================================================

	&.default {

		> .bg-drop-layout > .in, > .in {
			
		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//選單================================================================

	&.nav {

		.base-mobile & {

			&.is-open {

				.hd {
					$icon: 'icon-pic/away-b-bottom.png';

					a {

						&:after {
							@include bg-to-pic($icon, false);
						}
					}
				}

				.ct {
					display: block;
				}
			}

			> .bg-drop-layout > .in, > .in {
				
			}

			.hd {

				> .in {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.ct {
				display: none;

				> .in {
					
				}

				ul {
					padding-left: $interval-l;
				}

				li {

					+ li {
						border-top: $border;
					}
				}

				span {
					display: block;
				}

				a {
					display: block;
					padding: $interval-m;
				}

				/*i*/.mark {

				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			$min-setLen: 2;
			$max-setLen: 8;

			@for $i from $min-setLen through $max-setLen { //算設定分割

				&[data-setLen="#{$i}"] {

					.ct {

						li {
							width: 100% / $i;
						}
					}
				}
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {

				> .in {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('menu');
					}
				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {

				}

				ul {

					&:after {
						@extend %clear;
					}
				}

				li {
					float: left;
					width: 100%;
				}

				span {
					display: block;
					margin: 0 $interval-xs;
					padding: $interval-xs 0;
				}

				a {
					@extend %ellipsis;
					display: block;
					padding: $interval-s;
					text-align: center;
					transition: $transition;

					&:hover {
						background-color: $minor-color;
						color: $white;
					}
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {

			> .bg-drop-layout > .in, > .in {
				padding: 0 $interval-s;
			}

			.hd {
				margin-bottom: $interval-s;

				> .in {

				}

				h4 {
					padding-bottom: $interval-s;
					border-bottom: $border;
					font-size: $font-size-l;
				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				ul {

				}

				li {
					margin: $interval-xs 0;
				}

				span {
					display: block;
				}

				a {
					display: block;
					padding: $interval-xs;
					transition: $transition;

					&:hover {
						background-color: $minor-color;
						color: $white;
					}
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-extend &, .base-module-area &, .base-aside & {

			> .bg-drop-layout > .in, > .in {
				
			}

			.hd {

				> .in {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('menu');
					}
				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				ul {

				}

				li {

					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %list;
					@extend %list-hover;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-section & {

			> .bg-drop-layout > .in, > .in {
				
			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
					display: block;
				}

				a {
					@extend %list;
					@extend %list-hover;
				}
			}

			.ct {


				> .in {
					
				}

				ul {

				}

				li {

					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %list;
					@extend %list-hover;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//次選單================================================================

	&.minor-nav {

		> .bg-drop-layout > .in, > .in {
			background-color: $major-color;
		}

		.hd {

			> .in {

			}

			h4 {
				@extend %reset;
				padding: $interval-m;
				color: $white;

				&:before {
					@include icon-font('menu');
					margin-right: $interval-xs;
				}
			}

			span {

			}

			a {

			}
		}

		.ct {
			overflow: hidden;

			> .in {
				
			}

			ul {
				margin: 0 $interval-xs $interval-xs;
				background-color: $white;
			}

			li {

				&.is-active {

					a {
						background-color: $minor-color;
						color: $white;
					}
				}

				+ li {
					border-top: $border;
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-m;
				transition: $transition;

				&:before {
					@include icon-font('keyboard_arrow_right');
					margin-right: $interval-xs;
				}

				&:hover {
					background-color: $light;
					color: currentColor;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁階層檔案================================================================

	&.content-file {
		@extend %list;
		@extend %list-hover;
		border-left-width: $interval-xs;
		border-left-style: solid;
		border-left-color: $major-color;

		&:hover {
			border-left-width: $interval-m;
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: inline-block;

			@include media('phone') {
				display: block;
			}

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

				&:hover {
					color: currentColor;
				}
			}
		}

		.ct {
			display: inline-block;
			margin-left: $interval-m;

			@include media('phone') {
				display: block;
				margin-left: 0;
			}

			> .in {

			}

			ul {
				padding: $interval-s;
			}

			li {
				display: inline-block;

				@include media('phone') {
					display: block;
					margin-top: $interval-s;
				}

				+ li {

					&:before {
						content: ' | ';
						color: $gray;

						@include media('phone') {
							content: none;
						}
					}
				}

				@each $key, $map in $file-type-map {
					$pic: map-get($map, 'pic');
					$color: map-get($map, 'color');

					&.#{$key} {

						a {

							&:before {
								@include icon-pic($pic);
							}

							&:hover {
								border-color: $color;
							}
						}
					}
				}
			}

			span {

			}

			a {
				box-sizing: border-box;
				padding: $interval-xs $interval-s;
				border-width: $border-width;
				border-style: $border-style;
				border-color: transparent;
				transition: $transition;

				@include media('phone') {
					display: block;
					background-color: $white;
					padding: $interval-m $interval-l;
				}

				&:before {
					margin-right: $interval-xs;
				}

				&:hover {
					border-left-width: $interval-m;
					background-color: $white;
					color: currentColor;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁階層列表================================================================

	&.content-list {

		> .bg-drop-layout > .in, > .in {
			
		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
				border-left-width: $interval-xs;
				border-left-style: solid;
				border-left-color: $major-color;

				&:hover {
					border-left-width: $interval-m;
				}
			}
		}

		.ct {
			padding: $interval-s 0 0 $interval-xl;

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//網站地圖================================================================

	&.sitemap {

		> .bg-drop-layout > .in, > .in {
			
		}

		.hd {

			> .in {

			}

			h4 {
				@extend %reset;
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}
		}

		.ct {


			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//開放資料================================================================

	&.open-data {
		margin: $interval-s 0;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: inline-block;

			> .in {

			}

			h4 {

				&:after {
					content: ' : ';
				}
			}

			span {
				display: inline-block;
			}

			a {
				display: block;
			}
		}

		.ct {
			display: inline-block;

			> .in {

			}

			ul {

			}

			li {
				display: inline-block;

				+ li {
					margin-left: $interval-xs;
				}

				&.json {

					a {

						&:before {

						}
					}
				}

				&.xml {

					a {

						&:before {

						}
					}
				}

				&.csv {

					a {

					}
				}
			}

			span {
				display: block;
			}

			a {
				@extend %btn;

				&:before {
					margin-right: $interval-xs;
					@include icon-font('cloud_download');
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//使用者工具================================================================

	&.user-tool {

		@include media('mobile') {
			display: none;
		}

		.base-extend & {
			position: fixed;
			right: $interval-l;
			top: 0;

			@include admin('false') {
				display: none;
			}

			@include hack('ie6-7-8') {
				position: absolute;
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				ul {

				}

				li {
					display: inline-block;
				}

				span {
					display: block;
				}

				a {
					@extend %btn;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-section & {
			margin: $interval-s 0;

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: inline-block;

				> .in {

				}

				h4 {

					&:after {
						content: ' : ';
					}
				}

				span {
					display: inline-block;
				}

				a {
					display: block;
				}
			}

			.ct {
				display: inline-block;

				> .in {

				}

				ul {

				}

				li {
					display: inline-block;

					+ li {
						margin-left: $interval-xs;
					}

					&.login {

						a {

							&:before {
								@include icon-font('person');
							}
						}
					}

					&.logout {

						a {

							&:before {
								@include icon-font('person_outline');
							}
						}
					}

					&.bopomofo {

						a {

							&:before {
								@include icon-font('font_download');
							}
						}
					}

					&.edit {

						a {

							&:before {
								@include icon-font('edit');
							}
						}
					}

					&.print {

						a {

							&:before {
								@include icon-font('print');
							}
						}
					}

					&.data {

						a {

							&:before {
								@include icon-font('data_usage');
							}
						}
					}

					&.nav-edit {

						a {

							&:before {
								@include icon-font('edit');
							}
						}
					}

					&.index-edit {

						a {

							&:before {
								@include icon-font('edit');
							}
						}
					}

					&.article-edit {

						a {

							&:before {
								@include icon-font('edit');
							}
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %btn;

					&:before {
						margin-right: $interval-xs;
					}
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//分享================================================================

	&.share {

		.base-extend & {
			position: fixed;
			top: 200px;
			left: $interval-l;

			@include media('mobile') {
				display: none;
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				ul {

				}

				li {

					@each $key, $map in $share-map {

						$pic: map-get($map, 'pic');
						$color: map-get($map, 'color');

						&.#{$key}{

							span {
							}

							a {
								@include icon-pic('#{$pic}');
								background-color: $color;

								&:hover {
									background-color: deeper($color);
								}
							}
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %hide-text;
					display: block !important;
					transition: $transition;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-mobile & {

			> .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				ul {

					&:after {
						@extend %clear;
					}
				}

				li {
					width: 100% / length($share-map);
					float: left;

					@each $key, $map in $share-map {

						$pic: map-get($map, 'pic');
						$color: map-get($map, 'color');

						&.#{$key}{

							span {
								display: block;
							}

							a {
								@include icon-pic('#{$pic}', false);
								height: 40px;
								background-color: $color;
							}
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %hide-text;
					display: block !important;
					transition: $transition;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//字級================================================================

	&.font-size {
		position: absolute;
		top: 6px;
		right: 10px;

		@include js(false) {
			display: none;
		}

		@include media('mobile') {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {


			> .in {

			}

			ul {

			}

			li {
				display: inline-block;
				color: $white;

				&.small {

					span {

						a {
							@include icon-pic-btn('font-smail');
						}
					}
				}

				&.medium {

					span {

						a {
							@include icon-pic-btn('font-medium');
						}
					}
				}

				&.large {

					span {

						a {
							@include icon-pic-btn('font-large');
						}
					}
				}

				&.is-active {

					span {

						a {
							border-color: $minor-color;
							background-color: $minor-color;
						}
					}
				}
			}

			span {
				display: block;
			}

			a {
				border-width: 2px;
				border-style: solid;
				border-color: transparent;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//熱門關鍵字================================================================

	&.hot-key-word {

		.base-mobile & {

			&.is-open {

				.hd {
					$icon: 'icon-pic/away-b-bottom.png';

					a {

						&:after {
							@include bg-to-pic($icon, false);
						}
					}
				}

				.ct {
					display: block;
				}
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {

				> .in {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.ct {
				display: none;

				> .in {
					
				}

				ul {
					padding-left: $interval-l;
				}

				li {
					border-top: $border;
				}

				span {
					display: block;
				}

				a {
					display: block;
					padding: $interval-m;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			position: absolute;
			top: 43px;
			right: 325px;

			@include js(false) {
				right: 100px;
			}

			@include media('mobile') {
				display: none;
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: inline-block;

				> .in {

				}

				h4 {
					color: $white;

					&:after {
						content: ' : ';
					}
				}

				span {
					display: inline-block;
				}

				a {
					display: block;
				}
			}

			.ct {
				display: inline-block;

				> .in {
					
				}

				ul {
					
				}

				li {
					display: inline-block;
					color: $white;
					
					+ li {

						&:before {
							content: ' , ';
						}
					}
				}

				span {
					display: inline-block;
				}

				a {
					display: block;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//頁籤================================================================

	&.tab {

		@include js(false) {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {
				border-bottom-style: $border-style;
				border-bottom-width: $border-width;
				border-bottom-color: $minor-color;
			}

			li {
				display: inline-block;

				&.is-active {

					span {

					}

					a {
						background-color: $minor-color;
						color: $white;
					}
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $btn-padding;
				background-color: $light;
				color: $body-font-color;
				transition: $transition;

				&:hover {
					background-color: $light-gray;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//分類================================================================

	&.classify {
		$active-color: $minor-color;

		@extend %area-page-no-header;

		&.is-active {
			background-color: $minor-color;

			.hd {

				a {
					color: $white;
				}
			}

			.ct {

				a {
					background-color: deeper($active-color);
					color: $white;

					&:hover {
						background-color: deeper($active-color, 2);
					}
				}
			}
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {
				display: inline-block;

				&.is-active {

					span {

					}

					a {
						background-color: $active-color;
						color: $white;
					}
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $btn-padding;
				background-color: $light;
				color: $body-font-color;

				&:hover {
					background-color: $light-gray;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//輪播================================================================

	&.slider {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('slideshow');
				}
			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					display: none;

					@include js(false) {
						display: block;
						margin-top: $interval-m;
					}
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				display: inline-block;
				padding: $interval-xs $interval-s;
				margin-right: $interval-s;
				background-color: $span-color;
				color: $white;
				font-size: $font-size-s;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}
				}

				&.prev {

				}

				&.next {

				}

				&.more {

				}
			}

			span {

			}

			a {

			}
		}
	}

//連結================================================================

	&.link {

		.base-mobile & {

			&.is-open {

				.hd {
					$icon: 'icon-pic/away-b-bottom.png';

					a {

						&:after {
							@include bg-to-pic($icon, false);
						}
					}
				}

				.ct {
					display: block;
				}
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {

				> .in {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.ct {
				display: none;

				> .in {
					
				}

				ul {
					padding-left: $interval-l;
				}

				li {

					+ li {
						border-top: $border;
					}
				}

				span {
					display: block;
				}

				a {
					display: block;
					padding: $interval-m;
				}

				/*i*/.mark {
					
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			position: absolute;
			top: 7px;
			right: 90px;

			@include js(false) {
				right: 10px;
			}

			@include media('mobile') {
				display: none;
			}

			> .bg-drop-layout > .in, > .in {
				
			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {

				}

				ul {

				}

				li {
					display: inline-block;
					vertical-align: middle;
					color: $white;
					
					+ li {

						&:before {
							content: ' | ';
							vertical-align: middle;
						}
					}
				}

				span {
					display: inline-block;
					vertical-align: middle;
				}

				a {
					display: block;
				}

				/*i*/.mark {
					
				}
			}

			.ft {
				display: none;

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-content & {

			> .bg-drop-layout > .in, > .in {

			}

			.hd {

				> .in {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('public');
					}
				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {

				}

				ul {

				}

				li {

					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %ellipsis;
					@extend %list;
					@extend %list-hover;
				}

				/*i*/.mark {
					@extend %mark;
				}
			}

			.ft {
				@extend %footer-btns;

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {

			@include media('mobile') {
				display: none;
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {

				}

				ul {

				}

				li {
					display: inline-block;
					vertical-align: middle;
					
					+ li {

						&:before {
							content: ' | ';
							vertical-align: middle;
						}
					}
				}

				span {
					display: inline-block;
					vertical-align: middle;
				}

				a {
					display: block;
				}

				/*i*/.mark {
					
				}
			}

			.ft {
				display: none;

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//rss 訂閱================================================================

	&.rss {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('star');
				}
			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {
				$rss: map-get($file-type-map, 'rss');
				$pic: map-get($rss, 'pic');
				$color: map-get($rss, 'color');

				a {
					border-left-color: $color;

					&:before {
						@include icon-pic($pic);
					}
				}

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
				border-left-width: $interval-xs;
				border-left-style: solid;

				&:before {
					margin-right: $interval-xs;
				}

				&:hover {
					border-left-width: $interval-m;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//訊息================================================================

	&.message {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('message');
				}
			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//錨點================================================================

	&.anchor {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('explore');
				}
			}

			span {

			}

			a {

			}
		}

		.ct {
			$li-max-len: 10; // li的最大數量

			> .in {
				
			}

			ul {
				border: $border;

				&:after {
					@extend %clear;
				}

				@for $i from 2 through $li-max-len { //ul的child

					&[data-child="#{$i}"] {

						> li {
							width: 100% / $i; //均分li
							float: left;
						}
					}
				}
			}

			li {
				position: relative;

				+ li {

					&:before {
						content: $content;
						display: block;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: 1px;
						background-color: $border-color;
					}
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				display: block;
				padding: $interval-s;
				text-align: center;
				transition: $transition;

				&:hover {
					background-color: $minor-color;
					color: $white;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//步驟================================================================

	&.step {
		@extend %area-page-no-header;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {
				
				&:after {
					@extend %clear;
				}
			}

			li {
				float: left;
				padding: $interval-xs;
				box-sizing: border-box;
				max-width: 100%;

				@include media('phone') {
					float: none;
				}

				&.is-active {

					span {

						&:before, &:after {
							background-color: $minor-color;
						}
					}
				}
			}

			span {
				$skewX: 30deg;

				display: block;
				position: relative;
				z-index: 1;

				&:before, &:after {
					content: $content;
					display: block;
					position: absolute;
					width: 100%;
					height: 50%;
					left: 0;
					background-color: $btn-bg-color;
					z-index: -1;
					transition: $transition;
				}

				&:before {
					top: 0;
					transform: skewX($skewX);

					@include media('phone') {
						transform: skewX(0);
					}
				}

				&:after {
					bottom: 0;
					transform: skewX(-1 * $skewX);

					@include media('phone') {
						transform: skewX(0);
					}
				}

				&:hover {

					&:before, &:after {
						background-color: $btn-hover-bg-color;
					}
				}
			}

			a {
				@extend %ellipsis;
				display: block;
				max-width: 100%;
				padding: $interval-m $interval-l;
				color: $white;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//按鈕================================================================

	&.btn {
		@extend %area-page-no-header;

		&.is-right {

			.ct {

				ul {
					text-align: right;
				}
			}
		}

		&.is-center {

			.ct {

				ul {
					text-align: center;
				}
			}
		}

		&.is-justify {

			.ct {

				ul {
					text-align: justify;
					line-height: 0;

					&:after {
						content: $content;
						display: inline-block;
						width: 100%;
						height: 0;
					}
				}
			}
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

				@include media('mobile') {
					text-align: right !important;
				}
			}

			li {
				display: inline-block;

				@include media('mobile') {
					margin-top: $interval-xs;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %btn;

				@include media('mobile') {
					padding: $interval-m;
				}

				&:before {
					margin-right: $interval-xs;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//麵包屑================================================================

	&.breadcrumb {
		margin: $interval-s 0;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {
				padding: $interval-s;
				background-color: $light;
			}

			li {
				display: inline;
				font-size: $font-size-xs;

				&:before {
					@include icon-font('home');
					vertical-align: middle;
				}

				+ li {

					&:before {
						@include icon-font('navigate_next');
						vertical-align: middle;
					}
				}
			}

			span {

			}

			a {

			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//標籤================================================================

	&.label {
		@extend %area-page-no-header;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				
			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {
				text-align: right;
			}

			li {
				display: inline-block;
			}

			span {
				display: block;
			}

			a {
				@extend %mark;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//跳轉導航列================================================================

	&.jump-tool {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {
				text-align: right;
			}

			li {
				display: inline-block;
			}

			span {
				display: block;
			}

			a {
				@extend %btn;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁列表================================================================

	&.page-list {

		> .bg-drop-layout > .in, > .in {
			
		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('list');
				}
			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//詳細資訊================================================================

	&.detail {
		@extend %area-page-no-header;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {
				text-align: right;

				@include media('phone') {
					text-align: left;
				}
			}

			li {
				display: inline-block;
				font-size: $font-size-s;
				color: $gray;
				
				+ li {

					&:before {
						content: ' | ';
						vertical-align: middle;
					}
				}
			}

			span {
				display: inline-block;
				vertical-align: middle;
			}

			a {
				display: block;
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//檔案下載================================================================

	&.file-download {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('cloud_download');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}

				@each $key, $map in $file-type-map {
					$pic: map-get($map, 'pic');
					$color: map-get($map, 'color');

					&.#{$key} {

						a {
							border-left-color: $color;

							&:before {
								@include icon-pic($pic);
							}
						}
					}
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
				border-left-width: $interval-xs;
				border-left-style: solid;

				&:before {
					margin-right: $interval-xs;
				}

				&:hover {
					border-left-width: $interval-m;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//多重檔案下載================================================================

	&.file-download-multiple {
		@extend %list;
		@extend %list-hover;
		border-left-width: $interval-xs;
		border-left-style: solid;
		border-left-color: $gray;

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: inline-block;

			@include media('phone') {
				display: block;
			}

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

				&:hover {
					color: currentColor;
				}
			}
		}

		.ct {
			display: inline-block;
			margin-left: $interval-m;

			@include media('phone') {
				display: block;
				margin-left: 0;
			}

			> .in {

			}

			ul {
				padding: $interval-s;
			}

			li {
				display: inline-block;

				@include media('phone') {
					display: block;
					margin-top: $interval-s;
				}

				+ li {

					&:before {
						content: ' | ';
						color: $gray;

						@include media('phone') {
							content: none;
						}
					}
				}

				@each $key, $map in $file-type-map {
					$pic: map-get($map, 'pic');
					$color: map-get($map, 'color');

					&.#{$key} {

						a {

							&:before {
								@include icon-pic($pic);
							}

							&:hover {
								border-color: $color;
							}
						}
					}
				}
			}

			span {

			}

			a {
				box-sizing: border-box;
				padding: $interval-xs $interval-s;
				border-width: $border-width;
				border-style: $border-style;
				border-color: transparent;
				transition: $transition;

				@include media('phone') {
					display: block;
					background-color: $white;
					padding: $interval-m $interval-l;
				}

				&:before {
					margin-right: $interval-xs;
				}

				&:hover {
					border-left-width: $interval-m;
					background-color: $white;
					color: currentColor;
				}
			}

			/*i*/.mark {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}