//文字列表

//字級================================================================

.list-text.font-size {
	position: absolute;
	top: 6px;
	right: 10px;

	@include js(false) {
		display: none;
	}

	@include media('mobile') {
		display: none;
	}

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		display: none;

		> .in {

		}

		h4 {

		}

		span {

		}

		a {

		}
	}

	.ct {


		> .in {

		}

		ul {

		}

		li {
			display: inline-block;
			vertical-align: middle;

			&.small {

				a {

				}
			}

			&.medium {

				a {

				}
			}

			&.large {

				a {

				}
			}

			&.is-active {

				a {
					background-color: $light;
				}
			}
		}

		span {
			display: block;
		}

		a {
			display: block;
			width: 24px;
			line-height: 24px;
			text-align: center;
		}

		/*i*/.mark {
			
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}