//文字列表

//連結================================================================

.list-text.link {

	.base-mobile & {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					border-top: $border;
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-m;
			}

			/*i*/.mark {
				
			}
		}

		.ft {
			display: none;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-header & {
		position: absolute;
		top: 7px;
		right: 90px;

		@include js(false) {
			right: 10px;
		}

		@include media('mobile') {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {
			
		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {

			}

			li {
				display: inline-block;
				vertical-align: middle;
				color: $white;
				
				+ li {

					&:before {
						content: ' | ';
						vertical-align: middle;
					}
				}
			}

			span {
				display: inline-block;
				vertical-align: middle;
			}

			a {
				display: block;
				font-size: $font-size-xs;
			}

			/*i*/.mark {
				@extend %mark;
			}
		}

		.ft {
			display: none;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-content & {

		&.bg-blue {

			> .bg-drop-layout > .in, > .in {
			   background-color: $major-color;
			   background-image: url('../images/list-link-bg1.png');
			   background-repeat:no-repeat;
			   background-position:right 90px;
			}

			.hd {
                

				> .in {

				}

				h4 {
					padding: 10px 0 10px 30px;
				    margin: 0 15px;
				    border-bottom: #cedbd6 1px solid;
				    background: url(../images/list-link-icon1.png) left center no-repeat;
				}

				span {

				}

				a {
                   color: $white;
				}
			}

			.ct {

				> .in {
                  color: $white;
				}

				ul {

				}

				li {



					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %ellipsis;
					@extend %list;
					@extend %list-hover;
				}

				/*i*/.mark {
					@extend %mark;
				}
			}

			.ft {
				@extend %footer;

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		&.bg-deep-blue {

			> .bg-drop-layout > .in, > .in {
			   background-color: #1ea3af;	
			   background-image: url('../images/list-link-bg2.png');
			   background-repeat:no-repeat;
			   background-position:right 90px;
			}

			.hd {
                

				> .in {

				}

				h4 {
					padding: 10px 0 10px 30px;
				    margin: 0 15px;
				    border-bottom: #cedbd6 1px solid;
				    background: url(../images/list-link-icon2.png) left center no-repeat;
				}

				span {

				}

				a {
                   color: $white;
				}
			}

			.ct {

				> .in {
                  color: $white;
				}

				ul {

				}

				li {



					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %ellipsis;
					@extend %list;
					@extend %list-hover;
				}

				/*i*/.mark {
					@extend %mark;
				}
			}

			.ft {
				@extend %footer;

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		> .bg-drop-layout > .in, > .in {
           border-radius: 3px;
		}

		.hd {
			@extend %header;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {

			}

			li {

				border-bottom: 1px dotted #f0f0f0;
				margin: 0 15px;

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark;
			}
		}

		.ft {
			@extend %footer;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

	.base-footer & {

		@include media('mobile') {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {

			}

			ul {

			}

			li {
				display: inline-block;
				vertical-align: middle;
				
				+ li {

					&:before {
						content: ' | ';
						vertical-align: middle;
					}
				}
			}

			span {
				display: inline-block;
				vertical-align: middle;
			}

			a {
				display: block;
			}

			/*i*/.mark {
				
			}
		}

		.ft {
			display: none;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}