//影音區塊

.area-audio {

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %module-title;

				&:before {
					@include icon-font('audiotrack');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			.audio {
				margin-bottom: $interval-s;

				audio {
					width: 100%;
				}

				source {

				}

				object {
					min-height: 45px;
					width: 100%;
					margin-bottom: $interval-s;
				}

				span {
					display: block;
					padding: $interval-s;
					background-color: $light;
				}

				a {
					
				}
			}

			.essay {
				
			}

			.caption {
				@extend %caption;

				span {
					
				}

				a {

				}
			}

			.label {
				@extend %label;

				ul {

				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark;
			}

			.paragraph {
				@extend %paragraph;

				p {

				}

				span {

				}
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}