//圖片列表

.list-pic {

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}

			img {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//各種標章================================================================

	&.icon {

		.base-article & {

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {
				margin-top: $interval-xl;

				> .inner {
					
				}

				ul {
					@extend %reset;
					text-align: right;
				}

				li {
					display: inline-block;

					&.qrcode {

					}
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				img {
					display: block;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {
			float: right;

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {
					@extend %reset;
				}

				li {
					display: inline-block;
					vertical-align: top;

					&.wcag {

					}

					&.egov {

					}

					&.qrcode {

					}
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				img {
					display: block;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}
}