//表單區塊

.area-form {

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//搜尋================================================================

	&.search {

		.base-mobile & {
			border-bottom: $border;
			padding: $interval-m;

			> .inner {
				margin: 0;
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				.fieldset {
					position: relative;

					span {
						$icon-width: 60px;

						display: block;

						&.text {
							display: block;
							padding-right: $icon-width;

							input {
								display: block;
								width: 100%;
							}
						}

						&.submit {

							a {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: $icon-width;
								background-color: $btn-bg-color;
								@extend %hide-text;
								@include bg-to-pic('icon-pic/icon-w-search.png' ,false)
							}
						}
					}
				}

				.list {
					display: none;
					
					ul {
						@extend %reset;

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}

			.footer {

				> .inner {

				}

				ul {
					@extend %reset;
					margin-top: $interval-m;
				}

				li {
					@extend %btn;
					display: block;
					text-align: center;

					&.advanced {

					}
				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			position: absolute;
			top: 36px;
			right: 0;

			&.is-open {

				.content {

					.list {
						display: block;
					}
				}
			}

			> .inner {
				margin: 0;
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {
				display: inline-block;

				> .inner {
					
				}

				.fieldset {
					position: relative;

					span {
						$icon-width: 36px;

						display: block;

						&.text {
							display: block;
							padding-right: $icon-width;

							input {
								display: block;
								width: 100%;
							}
						}

						&.submit {

							a {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: $icon-width;
								background-color: $btn-bg-color;
								transition: $transition;
								@extend %hide-text;
								@include bg-to-pic('icon-pic/icon-w-search.png' ,false);

								&:hover {
									background-color: $btn-hover-bg-color;
								}
							}
						}
					}
				}

				.list {
					display: none;
					
					ul {
						@extend %reset;
					}

					li {

					}

					span {

					}

					a {

					}
				}
			}

			.footer {
				display: inline-block;
				padding-left: $interval-s;

				> .inner {

				}

				ul {
					@extend %reset;
					display: inline;
				}

				li {
					display: inline;

					&.advanced {
						
					}
				}

				span {
					color: $white;
				}

				a {
					color: inherit;
				}
			}
		}
	}

//連結================================================================

	&.link {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %module-title;

				&:before {
					@include icon-font('link');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			.select {

			}

			select {
				width: 100%;
			}

			option {

			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//投票================================================================

	&.vote {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %module-title;

				&:before {
					@include icon-font('radio_button_checked');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			.essay {
				@extend %essay;
			}

			.caption {

				span {
					
				}

				a {

				}
			}

			.label {

				ul {

				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {

			}

			.paragraph {

				p {

				}

				span {

				}
			}

			.form {

			}

			.fieldset {
				margin-top: $interval-s;
				padding: $interval-m;
				background-color: $light;

				span {
					display: block;

					+ span {
						margin-top: $interval-s;
					}
				}

				[type="radio"] {
					margin-right: $interval-xs;
				}

				label {

				}
			}

			.submit {
				display: block;
				margin-top: $interval-s;
				text-align: right;

				a {
					@extend %btn;
					@extend %btn-imp;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//月曆================================================================

	&.calender {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %module-title;

				&:before {
					@include icon-font('today');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {

			}

			.heading {

				&:after {
					@extend %clear;
				}
			}

			.label {
				float: right;

				ul {
					@extend %reset;
				}

				li {
					display: inline-block;
				}

				span {
					display: block;
				}

				a {
					@extend %btn;
					@extend %btn-s;
				}
			}

			.caption {
				@extend %ellipsis;
				overflow: hidden;
				margin-bottom: $interval-s;
				font-size: $font-size-l;
				color: $title-color;

				span {
					
				}

				a {
					color: inherit;
					font-size: 1em;
				}
			}

			.table {
				margin: $interval-s 0;
				padding: $interval-s;
				background-color: $light;

				table {
					width: 100%;
				}

				tbody {

				}

				tr {

				}

				th {
					padding-bottom: $interval-s;

					span {
						padding: $interval-s 0;
						background-color: $major-color;
						color: $white;
					}
				}

				td {
					cursor: pointer;
					transition: $transition;

					span {
						padding: $interval-s 0;
					}

					&:hover {
						background-color: $light-gray;
					}
				}

				th ,& td {
					text-align: center;
				}

				span {
					display: block;
				}

				.event { //有事件
					text-decoration: underline;
				}

				.this-week { //這週
					background-color: $white;
				}

				.prev-mounth { //上個月的日期
					color: $gray;
				}

				.next-mounth { //下個月的日期
					color: $gray;
				}

				.weekend { //假日
					color: $title-color;

					&.prev-mounth, &.next-mounth {
						color: mix( $deep-gray, $title-color );
					}
				}

				.today { //今天
					background-color: $major-color;
					color: $white;
				}

				.is-active { //被選擇
					border: $border;
					border-color: $minor-color;
				}
			}

			.list {
				margin-top: $interval-s;

				ul {
					@extend %reset;
				}

				li {

					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %ellipsis;
					@extend %list;
					@extend %list-hover;
				}
			}

			.mark {
				@extend %mark-1;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//電子報================================================================

	&.epaper {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %module-title;

				&:before {
					@include icon-font('email');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {

			}

			.fieldset{

				span {
					display: block;

					&.text {

					}

					&.submit {
						display: block;
						margin-top: $interval-s;
						text-align: right;

						a {
							@extend %btn;
							@extend %btn-imp;
						}
					}
				}

				input {

					&[type="text"] {
						display: block;
						width: 100%;
					}
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}