//簡單圖片

.simple-pic {

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %module-title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			span {
				display: block;
			}

			a {
				display: block;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}