//圖片區塊

.area-figure {
	$type: 0; //類型代碼

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//相簿================================================================

	&.album {

		.base-module-area & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('camera');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {

				}

				/*a*/.divition {

					&:hover {

						.essay {
							background-color: $light-gray;
						}
					}
				}

				.image {

					span {
						@extend %cover-bg;
						display: block;
						height: 80px;
					}

					img {
						display: none;
					}
				}

				.essay {
					padding: $interval-s;
					background-color: $light;
					transition: $transition;
				}

				.figcaption {
					@extend %caption;

					span {
						
					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark;
				}

				.paragraph {
					@extend %paragraph;

					p {

					}

					span {

					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-page-area & {
			margin: $interval-xs !important;
			overflow: hidden;

			&:hover {

				.content {

					.paragraph {
						display: block;
					}
				}
			}

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					position: relative;
				}

				.divition {

				}

				.image {

					span {
						@extend %cover-bg;
						display: block;
						height: 200px;
					}

					img {
						display: none;
					}
				}

				.essay {
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					padding: $interval-m;
					background-color: $black;
					background-color: rgba( $black, $opacity-h );
				}

				.figcaption {
					@extend %ellipsis;
					margin: $interval-s 0;
					font-size: $font-size-l;
					color: $white;

					span {
						color: inherit;
					}
				}

				.label {

					ul {
						@extend %reset;
						color: $gray;
						font-size: $font-size-s;
					}

					li {
						@extend %ellipsis;
						color: inherit;
						font-size: inherit;
					}

					span {

					}
				}

				/*i*/.mask {

				}

				.paragraph {
					display: none;

					p {
						@extend %reset;
						margin: $interval-s 0;
						color: $white;
					}

					span {

					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}
}