//簡單文字

//倒數日================================================================

.simple-text.countdown {

	> .bg-drop-layout > .in, > .in {

	}

	.hd {
		@extend %title;

		> .in {

		}

		h4 {

			&:before {
				@include icon-font('today');
			}
		}

		span {
				
		}

		a {

		}
	}

	.ct {
		padding: $interval-m;
		background-color: $light;

		> .in {
			text-align: center;
			padding: $interval-m 0;
		}

		span {
			font-size: $font-size-xl;
			color: $title-color;

			&.d {
				
				+ .mark {

				}
			}

			&.h {
				
				+ .mark {

				}
			}

			&.m {
				
				+ .mark {

				}
			}

			&.s {
				
				+ .mark {

				}
			}

			&.ms {
				display: none;
			}
		}

		/*i*/.mark {
			margin: 0 $interval-m 0 $interval-xs;
			font-size: $font-size-xs;
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}