//簡單文字

.simple-text {

//預設================================================================

	&.default {

		.base-extend &, .base-module-area &, .base-aside & {

			> .bg-drop-layout > .in, > .in {

			}

			.hd {

				> .in {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('comment');
					}
				}

				span {

				}

				a {

				}

				/*i*/.mark {
					@extend %mark;
				}
			}

			.ct {

				> .in {
					
				}

				span {
					display: block;
				}

				a {
					@extend %ellipsis;
					@extend %list;
					@extend %list-hover;
				}
			}

			.ft {
				@extend %footer-btns;

				> .in {

				}

				ul {

				}

				li {


					&.prev {

					}

					&.next {

					}

					&.more {

					}
				}

				span {

				}

				a {

				}
			}
		}

		.base-section & {

			> .in {

			}

			.hd {

				> .in {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('list');
					}
				}

				span {

				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				span {
					display: block;
				}

				a {
					@extend %list;
					@extend %list-hover;
				}

				/*i*/.mark {
					@extend %mark;
				}
			}

			.ft {
				@extend %footer-btns;

				> .in {

				}

				ul {

				}

				li {


					&.prev {

					}

					&.next {

					}

					&.more {

					}
				}

				span {

				}

				a {

				}
			}
		}
	}

//導盲磚================================================================

	&.accesskey {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {
			height: 0;

			> .in {
				color: $gray;
			}

			span {
				color: inherit;
			}

			a {
				color: inherit;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//主要標誌================================================================

	&.major-logo {

		.base-mobile & {

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				h1 {
					@extend %reset;
				}

				span {
					display: block;
				}

				a {
					$pic: 'major_logo.png';
					$pic-w: image-width($pic);
					$pic-h: image-height($pic);

					@include bg-to-pic($pic, false);
					@extend %bg-contain;
					@extend %hide-text;
					display: block;
					width: 100%;
					padding-bottom: ( $pic-h / $pic-w ) * 100%;
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			float: left;

			@include media('mobile') {
				float: none;
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				z-index: 2;
				background-color: $major-color;
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				h1 {
					@extend %reset;
				}

				span {
					display: block;
				}

				a {
					$pic: 'major_logo.png';
					$pic-w: image-width($pic);
					$pic-h: image-height($pic);

					@include bg-to-pic($pic, false);
					@extend %bg-contain;
					@extend %hide-text;
					display: block;
					width: $pic-w;
					padding-bottom: ( $pic-h / $pic-w ) * 100%;

					@include media('mobile') {
						width: auto;
						padding-bottom: $rwd-btn-size;
						margin-left: $rwd-btn-size;
					}
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//次要標誌================================================================

	&.minor-logo {
		float: left;

		@include media('mobile') {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			span {
				display: block;
			}

			a {
				$pic: 'minor_logo.png';
				$pic-w: image-width($pic);
				$pic-h: image-height($pic);

				@include bg-to-pic($pic, false);
				@extend %bg-contain;
				@extend %hide-text;
				display: block;
				width: $pic-w;
				padding-bottom: ( $pic-h / $pic-w ) * 100%;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//天氣================================================================

	&.weather {

		@include js(false) {
			display: none;
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {


			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('cloud_queue');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {


			> .in {
				
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}
		}

		.mark {
			@extend %mark;
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//倒數日================================================================

	&.countdown {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {


			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('today');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			padding: $interval-m;
			background-color: $light;

			> .in {
				text-align: center;
				padding: $interval-m 0;
			}

			span {
				font-size: $font-size-xl;
				color: $title-color;

				&.d {
					
					+ .mark {

					}
				}

				&.h {
					
					+ .mark {

					}
				}

				&.m {
					
					+ .mark {

					}
				}

				&.s {
					
					+ .mark {

					}
				}

				&.ms {
					display: none;
				}
			}

			/*i*/.mark {
				margin: 0 $interval-m 0 $interval-xs;
				font-size: $font-size-xs;
			}
		}

		.ft {
			padding: $interval-m;
			background-color: $light;
			border-top: $border-width $border-style $light-gray;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//瀏覽人次================================================================

	&.visit-count {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: inline-block;

			> .in {

			}

			h4 {

				&:after {
					content: ' : ';
				}
			}

			span {
				display: inline-block;
			}

			a {
				display: block;
			}
		}

		.ct {
			display: inline-block;

			> .in {

			}

			span {
				display: block;
			}

			a {
				display: block;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//更新時間================================================================

	&.update-time {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {
			display: inline-block;

			> .in {

			}

			h4 {

				&:after {
					content: ' : ';
				}
			}

			span {
				display: inline-block;
			}

			a {
				display: block;
			}
		}

		.ct {
			display: inline-block;

			> .in {

			}

			span {
				display: block;
			}

			a {
				display: block;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//投票結果================================================================

	&.vote-result {

		.is-special & {

			.ct {

				span {
					background-color: $minor-color;
				}
			}
		}

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {
				margin-bottom: $interval-s;
			}

			span {
					
			}

			a {

				&:hover {
					color: currentColor;
				}
			}
		}

		.ct {

			> .in {

			}

			span {
				display: block;
				box-sizing: border-box;
				padding: $interval-m;
				text-align: right;
				background-color: $deep-gray;
				color: $white;
				white-space: nowrap;

				&:after {
					content: '%';
				}
			}
		}

		.ft {

			> .in {

			}

			span {
				font-size: $font-size-s;
				color: $gray;
			}
		}
	}

//詢問================================================================

	&.query {

		.base-wrapper & {
			@extend %area-page-no-header;

			@include media('mobile') {
				margin-top: $rwd-btn-size;
			}

			> .bg-drop-layout > .in, > .in {
				@extend %article-extend;
			}

			.hd {

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {
				display: inline;
				vertical-align: middle;

				@include media('mobile') {
					display: block;
				}

				> .in {
					display: inline;

					@include media('mobile') {
						display: block;
					}
				}

				span {

				}
			}

			.ft {
				display: inline-block;
				vertical-align: middle;
				margin-left: $interval-s;

				@include media('mobile') {
					display: block;
					margin-top: $interval-m;
					border-top: $border;
					border-top-color: $light-gray;
					padding-top: $interval-m;
				}

				> .in {
					display: inline-block;

					@include media('mobile') {
						display: block;
					}
				}

				ul {
					display: inline-block;

					@include media('mobile') {
						display: block;
					}
				}

				li {
					display: inline-block;
					
					&.deny {

						a {
							@extend %btn-imp;
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %btn;
				}
			}
		}

		.base-extend & {
			display: none;
			position: fixed;
			right: $interval-l;
			bottom: $interval-l;
			left: $interval-l;

			&.is-show {
				display: block;
			}

			> .bg-drop-layout > .in, > .in {
				@extend %center;
				position: relative;
				padding: $interval-l;
				border: $border;
				border-color: $gray;
				text-align: center;
				background-color: $light;
				box-sizing: border-box;
				box-shadow: $box-shadow;

				@include media('phone') {
					padding: $interval-m;
					padding-top: $interval-l;
				}
			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {
				display: inline-block;
				vertical-align: middle;

				@include media('mobile') {
					display: block;
					text-align: justify;
				}

				> .in {
					display: inline-block;

					@include media('mobile') {
						display: block;
					}
				}

				span {

				}
			}

			.ft {
				display: inline-block;
				vertical-align: middle;

				@include media('mobile') {
					display: block;
					margin-top: $interval-m;
					border-top: $border;
					border-top-color: $light-gray;
					padding-top: $interval-m;
				}

				> .in {
					display: inline-block;

					@include media('mobile') {
						display: block;
					}
				}

				ul {
					display: inline-block;
					padding: $interval-s;

					@include media('mobile') {
						display: block;
					}
				}

				li {
					display: inline-block;
					
					&.deny {

						a {
							@extend %btn-imp;
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %btn;
				}
			}
		}
	}

//收合按鈕================================================================

	&.toogle-btn {

		.base-mobile & {
			position: absolute;
			left: 100%;

			@include js(false) {
				display: none;
			}

			&.is-active {

				.ct {

					a {
						width: auto;
						background-color: transparent;
						
						&:before {
							@include icon-font('close');
							line-height: $rwd-btn-size;
							color: $white;
						}

						&:after {
							content: $content;
						}
					}
				}
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				span {
					display: block;
				}

				a {
					display: block;
					width: $rwd-btn-size;
					font-size: $font-size-xl;
					background-color: deeper($major-color);
					
					&:before {
						@include icon-font('menu');
						display: block;
						width: $rwd-btn-size;
						text-align: center;
						line-height: $rwd-btn-size;
						color: $white;
					}

					&:after {
						position: fixed;
						top: 0;
						right: 0;
						width: 100vw;
						height: 100vh;
						background-color: rgba($deep, $opacity-m);
						z-index: -1;
					}
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {
			border-bottom: $interval-xs solid $deep-gray;

			@include js(false) {
				display: none;
			}

			@include media('mobile') {
				display: none;
			}

			&.is-active {

				.ct {

					a {

						&:before {
							@include icon-font('keyboard_arrow_up');
						}

						&:after {
							content: '展開選單';
						}
					}
				}
			}

			> .bg-drop-layout > .in, > .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {
				@extend %center;
				position: relative;

				> .in {
					position: absolute;
					left: 0;
					right: 0;
					bottom: -1px;
					text-align: right;
				}

				span {
					display: inline-block;
				}

				a {
					@extend %btn;

					&:before {
						@include icon-font('keyboard_arrow_down');
						margin-right: $interval-xs;
					}

					&:after {
						content: '收合選單';
					}
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//目標按鈕================================================================

	&.target-btn {

		.base-extend & {
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;

			@include media('mobile') {
				display: none;
			}

			> .bg-drop-layout > .in, > .in {
				@extend %center;
				position: relative;
			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {
				$pic: 'icon-pic/away-w-top.png'; //圖片
				$btn-w: 50px;
				$btn-h: 25px;

				> .in {

				}

				span {
					display: block;
				}

				a {
					@include bg-to-pic($pic, false);
					position: absolute;
					bottom: 0;
					right: 0;
					display: block;
					width: $btn-w;
					height: $btn-h;
					background-color: $btn-bg-color;
					opacity: $opacity-l;
					transition: $transition;

					&:hover {
						background-color: $btn-hover-bg-color;
						opacity: $opacity-h;
					}
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//頁面標題================================================================

	&.heading {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			h3 {
				@extend %reset;
				padding-left: $interval-s;
				padding-bottom: $interval-m;
				border-bottom: $border;
				margin-bottom: $interval-s;
				font-size: $font-size-l;
			}

			span {
				display: block;
			}

			a {

			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//文章標題================================================================

	&.title {

		> .bg-drop-layout > .in, > .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			h1 {
				@extend %reset;
				font-size: $font-size-l;
				padding: $interval-s 0;
				border-bottom-color: $border-color;
				border-bottom-width: $interval-xs;
				border-bottom-style: double;
				margin-bottom: $interval-s;
				color: $title-color;
			}

			span {
				
			}

			a {
				
				&:hover {
					color: currentColor;
				}
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}