//簡單文字

//目標按鈕================================================================

.simple-text.target-btn {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;

	@include media('mobile') {
		display: none;
	}

	> .bg-drop-layout > .in, > .in {
		@extend %center;
		position: relative;
	}

	.hd {
		display: none;

		> .in {

		}

		h4 {

		}

		span {
				
		}

		a {

		}
	}

	.ct {
		$pic: 'icon-pic/away-w-top.png'; //圖片
		$btn-w: 50px;
		$btn-h: 25px;

		> .in {

		}

		span {
			display: block;
		}

		a {
			@include bg-to-pic($pic, false);
			position: absolute;
			bottom: 0;
			right: 0;
			display: block;
			width: $btn-w;
			height: $btn-h;
			background-color: $btn-bg-color;
			opacity: $opacity-l;
			transition: $transition;

			&:hover {
				background-color: $btn-hover-bg-color;
				opacity: $opacity-h;
			}
		}

		/*i*/.mark {
			
		}
	}

	.ft {

		> .in {

		}

		ul {

		}

		li {

		}

		span {

		}

		a {

		}
	}
}