//排版框架

/*
	type 0 模組
	type 1 分割
	type 2 頁籤
	type 3 單欄
	type 4 清單
*/

@import 'sys_variable'; //系統變數

@import 'base_variable'; //變數

@for $i from $min-child through $max-child { //算自然分割

	[data-type="1"][data-child="#{$i}"] {

		> .inner{

			> .content {

				> .inner {

					> [data-index][data-type] {
						width: 100% / $i;

						@include media('pad') {
							width: 50%;

							&:nth-of-type(odd){
								clear: left;
							}

							[data-index][data-type] {
								width: 100%;
							}
						}

						@include media('phone') {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@for $i from $min-aLineLength through $max-aLineLength { //算設定分割

	[data-type="1"][data-aLineLength="#{$i}"] {

		> .inner{

			> .content {

				> .inner {

					> [data-index][data-type] {
						width: 100% / $i;

						&:nth-of-type(#{$i}n+1) {
							clear: left;
						}

						@include media('pad') {
							width: 50%;

							&:nth-of-type(#{$i}n+1) {
								clear: none;
							}

							&:nth-of-type(odd){
								clear: left;
							}

							[data-index] {
								width: 100%;
							}
						}

						@include media('phone') {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

[data-index][data-type] { //模組與群組

	> .inner {
		position: relative;
		min-height: 1px;
	}
}

[data-type="0"] { //模組

	> .inner {
		margin: 0 $layout-main-interval;
	}
}

[data-type="1"] { //分割

	> .inner {

		> .content {

			> .inner {

				> [data-index][data-type] {
					float: left
				}

				&:after{
					@extend %clear;
				}
			}
		}
	}
}

[data-type="2"] { //頁籤

	> .inner {

		> .content {

			> .inner {

				> [data-index][data-type] {

					> .container {
						margin: 0;
					}
				}
			}
		}
	}
}

[data-type="3"] { //單欄

	> .inner {

	}
}

[data-type="4"] { //清單

	> .inner {
		margin: 0 $layout-main-interval;
	}

	[data-index][data-type] { //模組

		> .inner {
			margin: 0;
		}
	}
}