//排版框架

// type 0 模組(module)
// type 1 分割(cell)
// type 2 頁籤(tab)
// type 3 單欄(row)
// type 4 清單(list)

@for $i from $min-child through $max-child { //算自然分割

	[data-type="1"][data-child="#{$i}"] {

		> .bg-drop-layout > .in, > .in {

			> .ct {

				> .in {

					> [data-index][data-type] {
						width: 100% / $i;

						@include media('pad') {
							width: 50%;

							&:nth-of-type(odd){
								clear: left;
							}

							[data-index][data-type] {
								width: 100%;
							}
						}

						@include media('phone') {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@for $i from $min-setLen through $max-setLen { //算設定分割

	[data-type="1"][data-setLen="#{$i}"] {

		> .bg-drop-layout > .in, > .in { //前台使用框架

			> .ct {

				> .in {

					> [data-index][data-type] {
						width: 100% / $i;

						&:nth-of-type(#{$i}n+1) {
							clear: left;
						}

						@include media('pad') {
							width: 50%;

							&:nth-of-type(#{$i}n+1) {
								clear: none;
							}

							&:nth-of-type(odd){
								clear: left;
							}

							[data-index] {
								width: 100%;
							}
						}

						@include media('phone') {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

[data-index][data-type] { //模組與群組

	> .bg-drop-layout > .in, > .in {
		position: relative;
		min-height: 1px;

		> .hd {

			h3, h4 {

			}

			span {
				color: inherit;
			}

			a {
				color: inherit;
			}
		}
	}
}

[data-type="0"] { //模組

	> .bg-drop-layout > .in, > .in {

	}

	.hd {

		> .in {

		}

		h4 {
			@extend %reset;
		}

		span {

		}

		a {

		}
	}

	.ct {

		> .in {

		}
	}

	.ft {

		ul {
			@extend %reset;
		}

		span {
			
		}
	}
}

[data-type="1"] { //分割

	> .bg-drop-layout > .in, > .in {
		
		> .hd {

			h3 {
				@extend %reset;
			}

			span {

			}

			a {

			}
		}

		> .ct {

			> .in {

				> [data-index][data-type] {
					float: left
				}

				&:after{
					@extend %clear;
				}
			}
		}
	}
}

[data-type="2"] { //頁籤

	> .bg-drop-layout > .in, > .in {
		
		> .hd {
			display: none;

			h3 {
				@extend %reset;
			}

			span {

			}

			a {

			}
		}

		> .ct {

			> .in {

				> ul {
					@extend %reset;

					> li {
						@extend %reset-inner-module;

						+ li {
							@include js(false) {
								display: none;
							}

							+ li {
								display: none;
							}
						}

						> [data-index][data-type] {

							> .bg-drop-layout > .in, > .in {
								@extend %reset-outer;

								> .hd {
									display: none;

									@include js(false) {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

[data-type="3"] { //單欄

	> .bg-drop-layout > .in, > .in {
		
		> .hd {

			h3 {
				@extend %reset;
			}

			span {

			}

			a {

			}
		}

		> .ct {

			> .in {

				> [data-index][data-type] {

				}
			}
		}
	}
}

[data-type="4"] { //清單

	> .bg-drop-layout > .in, > .in {
		
		> .hd {

			h3 {
				@extend %reset;
			}

			span {

			}

			a {

			}
		}

		> .ct {

			> .in {

				> ul {
					@extend %reset;

					> li {

						> [data-index][data-type] { //模組

							> .bg-drop-layout > .in, > .in {
								@extend %reset-outer;
								position: relative;
							}
						}
					}
				}
			}
		}

		> .ft {

			ul {
				@extend %reset;
			}

			span {
				
			}
		}
	}
}