
<%= render partial: "/erb/sys_variable" %>

<div id="Group_1909_RxcpSidwJL" data-widthmobile="0" data-index="1" data-type="1" data-anchor="" data-widthdesktop="100" data-bgcolor="#0000ffff" class="group default newsBox" data-groupsn="1909" data-widthpad="0" data-child="2" data-sort="2" data-isgroup="true" data-groupname="" data-menuwidth="" data-bgclass="newsBox" data-tabtype="1">
    <div class="in">
        <div class="ct">
            <div class="in">
                <div id="Group_1910_ECkcbPQKE4" data-sitesmodulesn="1" data-sort="2" data-bgcolor="#0000ffff" data-groupsn="1910" data-widthdesktop="" data-anchor="" data-tabtype="0" class="group-list slider news" data-type="4" data-bgclass="news" data-index="1" data-widthmobile="" data-groupname="" data-widthpad="" data-menuwidth="" data-isgroup="true" data-child="2" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="訊息快遞">訊息快遞</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="2">
                                    <li data-index="1">
                                        <div class="group-list message" data-index="1" data-type="4" data-child="7">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="7">
                                                            <li data-index="1">
                                                                <div class="area-essay message" data-index="1" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=39AF2AA9AAD430B8" class="div" title="環保署公布105年空氣品質監測初步統計結果" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="環保署公布105年空氣品質監測初步統計結果"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>環保署公布105年空氣品質監測初步統計結果</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>環保署初步統計105年1月1日至同年12月25日空氣品質監測成果，主要空氣污染物濃度呈逐年下降趨勢，懸浮微粒（PM10）超標站日數降低、細懸浮微粒AQI&gt;150（紅色警戒）比率下降、臭氧8小時平均值超標日減少，僅有臭氧小時超標站日數增加。環保署指出，105年因本地污染改善、降雨天數增加及境外污....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="2">
                                                                <div class="area-essay message" data-index="2" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=BC7ED8B8B29AEAE1" class="div" title="環保署發布2016年中華民國國家溫室氣體排放清冊報告" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="環保署發布2016年中華民國國家溫室氣體排放清冊報告"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>環保署發布2016年中華民國國家溫室氣體排放清冊報告</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>為掌握我國溫室氣體排放趨勢及結構，並增進各界對我國溫室氣體排放數據的瞭解，環保署依「溫室氣體減量及管理法」（以下簡稱溫管法）第13條第2項規定，於環保署全球資訊網發布「2016年中華民國國家溫室氣體排放清冊報告」（以下簡稱本報告），歡迎大眾上網瀏覽下載(http://unfccc.saveoursk....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="3">
                                                                <div class="area-essay message" data-index="3" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=8AC209ABA07C5DA6" class="div" title="立法院三讀通過住宅法修正案　社會住宅全面啟動" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="立法院三讀通過住宅法修正案　社會住宅全面啟動"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>立法院三讀通過住宅法修正案　社會住宅全面啟動</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>立法院三讀通過「住宅法」修正案，內政部長說明修法重點。
內政部表示，目前我國「只租不售」的社會住宅約有7,281戶，占全國住宅總量之0.08%，相較於日本及韓國5%，已明顯偏低，更遠低於歐洲國家的30%以上比率。我國社會住宅興建不足，主要由於地方政府興辦的土地取得不易、經費財源不足及無專責人力組織....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="4">
                                                                <div class="area-essay message" data-index="4" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=DA6DF5A30DB2DB15" class="div" title="反應市場脈動　106年公告土地現值全國平均調升0.34%" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="反應市場脈動　106年公告土地現值全國平均調升0.34%"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>反應市場脈動　106年公告土地現值全國平均調升0.34%</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>106年各直轄市、縣（市）公告土地現值出爐了!內政部預估106年全國平均公告土地現值較105年調升0.34%，為自94年以來調幅最低，其中澎湖縣調升15.56%，漲幅較大。由於公告土地現值是作為房地產移轉課徵土地增值稅的依據，因此，民眾若沒有買賣或贈與等不動產移轉情況，就不會受到公告土地現值調整的影....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="5">
                                                                <div class="area-essay message" data-index="5" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=334F53102F032FD3" class="div" title="合歡山雪季交通疏導管制106年1月1日啟動　為期59天" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="合歡山雪季交通疏導管制106年1月1日啟動　為期59天"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>合歡山雪季交通疏導管制106年1月1日啟動　為期59天</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>106年合歡山雪季公告事項
中華民國105年12月16日
&nbsp;
花蓮縣道路交通安全聯席會報(花道安字第1050001800號)
南投縣道路交通安全聯席會報(府授交全字第1050249579號)
太魯閣國家公園管理處(太合字第1051004583號)&nbsp;&nbsp; 會銜公告....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="6">
                                                                <div class="area-essay message" data-index="6" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=1062BAAE01F320E7" class="div" title="合歡山雪季交通疏導管制106年1月1日啟動　為期59天" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="合歡山雪季交通疏導管制106年1月1日啟動　為期59天"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>合歡山雪季交通疏導管制106年1月1日啟動　為期59天</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>106年合歡山雪季公告事項
中華民國105年12月16日
&nbsp;
花蓮縣道路交通安全聯席會報(花道安字第1050001800號)
南投縣道路交通安全聯席會報(府授交全字第1050249579號)
太魯閣國家公園管理處(太合字第1051004583號)&nbsp;&nbsp; 會銜公告....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="7">
                                                                <div class="area-essay message" data-index="7" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=039D6903F692AA07" class="div" title="合歡山雪季交通疏導管制106年1月1日啟動　為期59天" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="合歡山雪季交通疏導管制106年1月1日啟動　為期59天"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>合歡山雪季交通疏導管制106年1月1日啟動　為期59天</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>106年合歡山雪季公告事項
中華民國105年12月16日
&nbsp;
花蓮縣道路交通安全聯席會報(花道安字第1050001800號)
南投縣道路交通安全聯席會報(府授交全字第1050249579號)
太魯閣國家公園管理處(太合字第1051004583號)&nbsp;&nbsp; 會銜公告....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-index="2" style="display: none;">
                                        <div class="group-list message" data-index="2" data-type="4" data-child="7">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="7">
                                                            <li data-index="1">
                                                                <div class="area-essay message" data-index="1" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=FDD170D3842BCCB4" class="div" title="持分共有房屋　可推定共有人之一為管理人繳納房屋稅" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="持分共有房屋　可推定共有人之一為管理人繳納房屋稅"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>持分共有房屋　可推定共有人之一為管理人繳納房屋稅</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>桃園市政府地方稅務局表示，依稅捐稽徵法第12條規定，共有財產，由管理人負繳納義務；未設管理人者，共有人各按其應有部分負納稅義務。如您持有或繼承取得共有房屋，可由全體共有人向房屋所在地稅捐機關提出申請，推定共有人之一為管理人方便繳納房屋稅。
稅務局提醒您，如持分共有房屋未設管理人，各持分共有人都會收....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="2">
                                                                <div class="area-essay message" data-index="2" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=A169B1A59CD6A536" class="div" title="經濟部資訊中心資訊處理職系簡任技正" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="經濟部資訊中心資訊處理職系簡任技正"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>經濟部資訊中心資訊處理職系簡任技正</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>一、職稱及名額：簡任技正1名
二、職缺單位：經濟部資訊中心
三、職系：資訊處理
四、職務列等：簡任第十職等至第十一職等
五、資格條件：
(一)國內外大學資訊工程、資訊管理、資訊科技、資訊網路工程、電子工程、電機工程等相關科系研究所畢業(含)以上學歷。
(二)具公務人員高等三級考試或相當等....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="3">
                                                                <div class="area-essay message" data-index="3" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=32F0E5AF5F2DB4B0" class="div" title="網站等服務暫停公告(1/10、1/11)" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="網站等服務暫停公告(1/10、1/11)"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>網站等服務暫停公告(1/10、1/11)</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>本局訂於106年1月10及11日00:00至06:00辦理機房維護作業，值此期間，本局全球資訊網及電子郵件等對外服務將暫停，若前開維護作業提前完成，則立即恢復正常服務，不便之處敬請見諒。資料出處 : 交通部臺灣區國道高速公路局</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="4">
                                                                <div class="area-essay message" data-index="4" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=C6996DCFC3A44968" class="div" title="網站等服務暫停公告(1/10、1/11)" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="網站等服務暫停公告(1/10、1/11)"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>網站等服務暫停公告(1/10、1/11)</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>本局訂於106年1月10及11日00:00至06:00辦理機房維護作業，值此期間，本局全球資訊網及電子郵件等對外服務將暫停，若前開維護作業提前完成，則立即恢復正常服務，不便之處敬請見諒。資料出處 : 交通部臺灣區國道高速公路局</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="5">
                                                                <div class="area-essay message" data-index="5" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=F2778D8C4876120C" class="div" title="網站等服務暫停公告(1/10、1/11)" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="網站等服務暫停公告(1/10、1/11)"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>網站等服務暫停公告(1/10、1/11)</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>本局訂於106年1月10及11日00:00至06:00辦理機房維護作業，值此期間，本局全球資訊網及電子郵件等對外服務將暫停，若前開維護作業提前完成，則立即恢復正常服務，不便之處敬請見諒。資料出處 : 交通部臺灣區國道高速公路局</span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="6">
                                                                <div class="area-essay message" data-index="6" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=A818794E27E0A32B" class="div" title="農地上興建設施應取得合法容許使用　始得申請課徵田賦" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="農地上興建設施應取得合法容許使用　始得申請課徵田賦"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>農地上興建設施應取得合法容許使用　始得申請課徵田賦</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>(臺中訊)農地上若興建農機具室、溫室、曬場、農路、灌溉排水、……等農業設施，應向土地所在區公所申請取得農業設施容許使用證明，方能申請課徵田賦，目前田賦停徵，租稅效果等同免稅。

該局進一步說明，於農業用地上興建合法農舍應作農業使用始符合課徵田賦要件，稅務局每年進行清查....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="7">
                                                                <div class="area-essay message" data-index="7" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="News_Content.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56&amp;s=BEA35C670377AB09" class="div" title="12月份水庫集水區雨量偏少，水利署將加強監測工作" target="_self">
                                                                                    <div class="img"><span style="background-image: url('images/DefaultImg.jpg')"><img src="images/DefaultImg.jpg" alt="12月份水庫集水區雨量偏少，水利署將加強監測工作"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>12月份水庫集水區雨量偏少，水利署將加強監測工作</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-03</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span>全臺12月份雨量偏少降雨不如預期，累積降雨量僅宜蘭地區與歷年相當，西部地區降雨僅歷年約3~5成，水庫集水區流量亦逐漸降低，為因應水情，水利署已召開2次會議，各區水資源局並已加強監測各地區水文狀況，未來將密切監控並檢討各區水情，必要時採取相關因應措施。

　　水利署表示，統計西部地區主要水庫集水區....<span>more</span></span>
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ft">
                            <div class="in">
                                <ul data-index="1" data-child="3">
                                    <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News.aspx?n=872E51DB9B88306C&amp;sms=53E09032BF601A56" title="更多 政府新聞" target="_self">更多 政府新聞</a></span></li>
                                    <li class="prev"><span><a href="#">prev</a></span></li>
                                    <li class="next"><span><a href="#">next</a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 生活情報 -->
                <div id="Group_1911_MTBqpGghv4" data-sitesmodulesn="1" data-sort="4" data-bgcolor="#0000ffff" data-groupsn="1911" data-widthdesktop="" data-anchor="" data-tabtype="0" class="group-list slider life" data-type="4" data-bgclass="life" data-index="2" data-widthmobile="" data-groupname="" data-widthpad="" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="生活情報">生活情報</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="group-list message" data-index="1" data-type="4" data-child="2">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="2">
                                                            <li data-index="1">
                                                                <!-- 生活情報 開始-->
 <%= render partial: "/erb/area-customize_page-life", locals: set({ header_text: "生活情報" }) %> 
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ft">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News2.aspx?n=24474215983F6554&amp;sms=997A8098571EF49A" title="更多 生活情報" target="_self">更多 生活情報</a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                @media (min-width: 960px) {
                    #Group_1909_RxcpSidwJL {
                        width: 100%;
                    }
                }
                </style>
            </div>
        </div>
    </div>
</div>

<!-- 服務項目 -->
<%= render partial: "/erb/serviceItem", locals: set({ index: 9 }) %>

<!-- 焦點議題 -->
<div id="Group_3139_SWLKRLidpq" data-widthmobile="0" data-sort="6" data-bgcolor="#63aa47" data-groupsn="3139" data-widthdesktop="100" data-anchor="" data-tabtype="1" class="group default focus" data-type="1" data-bgclass="focus" data-index="3" data-groupname="焦點議題" data-widthpad="0" data-menuwidth="" data-isgroup="true" style="background-color:#63aa47;" data-child="1">
    <div class="in">
        <div class="hd">
            <div class="in">
                <h3 data-index="0">     <span><a onkeypress="this.click();" title="焦點議題">焦點議題</a></span></h3></div>
        </div>
        <div class="ct">
            <div class="in">
                <div id="Group_3140_H63oFqHNVb" data-sitesmodulesn="5" data-sort="2" data-bgcolor="#0000ffff" data-groupsn="3140" data-widthdesktop="100" data-anchor="" data-tabtype="0" class="group-list slider" data-type="4" data-bgclass="" data-index="1" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="group-list link" data-index="1" data-type="4" data-child="4">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                    <!-- 這裡開始 -->
                                                        <ul data-index="1" data-child="4">
                                                            <li data-index="1">
                                                                <div class="area-essay link" data-index="1" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="#" class="div" title="就業情報">
                                                                                    <div class="img"><span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8761/a91fb164-a0d3-4420-a14f-392d083741c9.jpg')"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8761/a91fb164-a0d3-4420-a14f-392d083741c9.jpg" alt="就業情報"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>就業情報</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-04</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span></span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="2">
                                                                <div class="area-essay link" data-index="2" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="#" class="div" title="福利專區">
                                                                                    <div class="img"><span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8762/f7389011-b8df-4fee-9504-742a653a3b26.jpg')"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8762/f7389011-b8df-4fee-9504-742a653a3b26.jpg" alt="福利專區"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>福利專區</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-04</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span></span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="3">
                                                                <div class="area-essay link" data-index="3" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="#" class="div" title="安全專題">
                                                                                    <div class="img"><span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8763/a64e5c65-9a78-4e51-8fe0-0de42cb6cb05.jpg')"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8763/a64e5c65-9a78-4e51-8fe0-0de42cb6cb05.jpg" alt="安全專題"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>安全專題</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-04</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span></span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li data-index="4">
                                                                <div class="area-essay link" data-index="4" data-type="0" data-child="1">
                                                                    <div class="in">
                                                                        <div class="ct">
                                                                            <div class="in">
                                                                                <a href="#" class="div" title="青年創業">
                                                                                    <div class="img"><span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8764/291a9444-bebf-4916-83fe-b3e4beacbe46.jpg')"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7740/8764/291a9444-bebf-4916-83fe-b3e4beacbe46.jpg" alt="青年創業"></span></div>
                                                                                    <div class="essay">
                                                                                        <div class="caption"><span>青年創業</span></div>
                                                                                        <div class="label">
                                                                                            <ul>
                                                                                                <li><span><i class="mark">106-01-04</i></span></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <div class="p">
                                                                                            <p><span></span></p>
                                                                                        </div>
                                                                                    </div>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_3140_H63oFqHNVb {
                                        width: 100%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                        <div class="ft">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News_Link.aspx?n=0984A85A3A9A6677&amp;sms=13992AF062188E72" title="更多 焦點議題" target="_self">更多 焦點議題</a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                @media (min-width: 960px) {
                    #Group_3139_SWLKRLidpq {
                        width: 100%;
                    }
                }
                </style>
            </div>
        </div>
    </div>
</div>




<!-- 影音 -->
<div id="Group_3141_4CRnfq7tko" data-widthmobile="0" data-index="4" data-type="3" data-anchor="" data-widthdesktop="100" data-bgcolor="#0000ffff" class="group default studioZone" data-groupsn="3141" data-widthpad="0" data-child="2" data-sort="8" data-isgroup="true" data-groupname="" data-menuwidth="" data-bgclass="studioZone" data-tabtype="3">
    <div class="in">
        <div class="ct">
            <div class="in">
                <div id="Group_3142_kmiJ3imMr7" data-widthmobile="0" data-index="1" data-type="1" data-anchor="" data-widthdesktop="100" data-bgcolor="#0000ffff" class="group default studio" data-groupsn="3142" data-widthpad="0" data-child="2" data-sort="2" data-isgroup="true" data-groupname="福爾摩沙影城" data-menuwidth="" data-bgclass="studio" data-tabtype="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="福爾摩沙影城">福爾摩沙影城</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <div id="Group_3143_jCN8YPDmAu" data-sitesmodulesn="6" data-bgcolor="" data-sort="2" data-type="0" data-groupsn="3143" data-widthdesktop="50" data-anchor="" data-tabtype="0" class="area-editor default" data-bgclass="" data-index="1" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1">
                                    <div class="in">
                                        <div class="ct">
                                            <div class="in">
                                                <p><img alt="Art editor Img" src="http://2016gov-ws.hamastar.com.tw/Download.ashx?u=LzAwMS9VcGxvYWQvMjk1L2NrZmlsZS80YTgxYmM5OS1hODcwLTRiZDAtOGJiNC1lOGEzMGViYTQyMjVAMTAyNHg3NjgucG5n&amp;n=aWxsdXN0cmF0aW9uLnBuZw%3d%3d" style="width: 490px; height: 455px;"></p>
                                                <style>
                                                @media (min-width: 960px) {
                                                    #Group_3143_jCN8YPDmAu {
                                                        width: 50%;
                                                    }
                                                }
                                                </style>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Group_3144_ofPUFN4Bq6" data-sitesmodulesn="4" data-bgcolor="" data-sort="4" data-type="0" data-groupsn="3144" data-widthdesktop="50" data-anchor="" data-tabtype="0" class="area-customize video" data-bgclass="" data-index="2" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1">
                                    <div class="in">
                                        <div class="ct">
                                            <div class="in">
                                                <div class="video" id="">
                                                    <iframe title="" id="YouTube_" style="height:100%" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/ZpbcyykP0CI"></iframe>
                                                    <noscript>&lt;a href="https://www.youtube.com/embed/ZpbcyykP0CI" title=""&gt;&lt;/a&gt;</noscript>
                                                </div>
                                                <div class="essay">
                                                    <div class="figcaption"><span>國產生鮮豬肉追溯資訊網 - 陳美鳳篇 30s</span></div>
                                                    <div class="label">
                                                        <ul>
                                                            <li><span><i class="mark">106-01-03</i></span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="p">
                                                        <p><span></span></p>
                                                    </div>
                                                </div>
                                                <style>
                                                @media (min-width: 960px) {
                                                    #Group_3144_ofPUFN4Bq6 {
                                                        width: 50%;
                                                    }
                                                }
                                                </style>
                                            </div>
                                        </div>
                                        <div class="ft">
                                            <div class="in">
                                                <ul data-index="1" data-child="1">
                                                    <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News_Video.aspx?n=7D6B9BB2B62B80A5&amp;sms=8593F5E900102647" title="更多 福爾摩沙影城" target="_self">更多 福爾摩沙影城</a></span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_3142_kmiJ3imMr7 {
                                        width: 100%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_5088_5F5tgFIo9J" data-widthmobile="" data-index="2" data-type="3" data-anchor="" data-widthdesktop="" data-bgcolor="#0000ffff" class="group default ad" data-groupsn="5088" data-widthpad="" data-child="1" data-sort="4" data-isgroup="true" data-groupname="廣告輪播" data-menuwidth="" data-bgclass="ad" data-tabtype="3"><div class="in"><div class="hd"><div class="in"><h3 data-index="0">     <span><a onkeypress="this.click();" title="廣告輪播">廣告輪播</a></span></h3></div></div><div class="ct"><div class="in"><div id="Group_5089_YJhCG5Hdg5" data-sitesmodulesn="5" data-sort="2" data-bgcolor="#0000ffff" data-groupsn="5089" data-widthdesktop="100" data-anchor="" data-tabtype="0" class="list-pic marquee" data-type="0" data-bgclass="" data-index="1" data-widthmobile="0" data-groupname="廣告輪播" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'marqueeHorizontal':{'auto':true,'delay':5000,'speed':500}}"><div class="in"><div class="hd"><div class="in"><h4 data-index="0">      <span><a onkeypress="this.click();" title="廣告輪播">廣告輪播</a></span></h4></div></div><div class="ct"><div class="in"><ul data-index="1" data-child="6" style="margin-left: 0px;"><li data-index="3">        <span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8728/e93d303d-fe9b-47c7-a8f2-118c97f13512@710x470.jpg');"><a onkeypress="this.click();" title="ad01"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8728/e93d303d-fe9b-47c7-a8f2-118c97f13512@710x470.jpg" alt="ad01"></a></span></li><li data-index="4">      <span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8723/9056e697-deb4-4f0e-97ba-5692150e228d@710x470.jpg');"><a onkeypress="this.click();" title="ad03"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8723/9056e697-deb4-4f0e-97ba-5692150e228d@710x470.jpg" alt="ad03"></a></span></li><li data-index="5">      <span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8722/7e074cca-5b90-45e9-989b-b3d2b8e4f7ae@710x470.jpg');"><a onkeypress="this.click();" title="ad02"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8722/7e074cca-5b90-45e9-989b-b3d2b8e4f7ae@710x470.jpg" alt="ad02"></a></span></li><li data-index="6">      <span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8721/49fa5925-a660-4a63-8c88-57f2bf1b3f42@710x470.jpg');"><a onkeypress="this.click();" title="ad01"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/8721/49fa5925-a660-4a63-8c88-57f2bf1b3f42@710x470.jpg" alt="ad01"></a></span></li><li data-index="1">      <span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/21672/4caa9cad-8d78-450e-b9f6-013f8568206f@710x470.jpg');"><a onkeypress="this.click();" title="ad03"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/21672/4caa9cad-8d78-450e-b9f6-013f8568206f@710x470.jpg" alt="ad03"></a></span></li><li data-index="2">        <span style="background-image: url('http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/21671/c0fb97f6-878f-4cdd-ab7d-80be48bec9c6@710x470.jpg');"><a onkeypress="this.click();" title="ad02"><img src="http://2016gov-ws.hamastar.com.tw/001/Upload/295/relpic/7739/21671/c0fb97f6-878f-4cdd-ab7d-80be48bec9c6@710x470.jpg" alt="ad02"></a></span></li></ul>
<style>
@media (min-width: 960px) {  #Group_5089_YJhCG5Hdg5{width:100%; } }</style>
</div></div><div class="ft"><div class="in"><ul data-index="0" data-child="2"><li class="prev"><span><a href="#">prev</a></span></li><li class="next" style="
    /* background: #000; */
    /* display: block; */
    /* width: 10px; */
    /* height: 10px; */
    position: absolute;
    width: 29px;
    height: 246px;
    /* top: 110px; */
    display: inline-block;
    right: 0;
    top: 0;
    background-color: #f0f0f0;
"><span><a href="#">next</a></span></li></ul></div></div></div></div></div></div></div></div>
                <style>
                @media (min-width: 960px) {
                    #Group_3141_4CRnfq7tko {
                        width: 100%;
                    }
                }
                </style>
            </div>
        </div>
    </div>
</div>







