<div class="area-audio default" data-index="<%= index %>" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a>音訊</a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<div class="audio">
			<audio controls>
				<source src="/audio/sample/sample.ogg" type="audio/ogg">
				<source src="/audio/sample/sample.mp3" type="audio/mpeg">
				<object data="Audio/MHXSEagle.mp3" >
					<param name="filename" value="/audio/sample/sample.mp3"/>
					<param name="Showcontrols" value="true" />
					<param name="autoStart" value="false" />
				</object>
				<span>您的瀏覽器不支援 html5 撥放器，請<a href="#">下載媒體</a>於本機播放。</span>
			</audio>
		</div>
		<div class="essay">
			<div class="caption"><span><%= zh_lorem_sentence %></span></div>
			<div class="label">
				<ul>
					<li><span><i class="mark">103-12-05</i></span></li>
				</ul>
			</div>
			<div class="paragraph">
				<p><span><%= zh_lorem_paragraph %></span></p>
			</div>
		</div>
	</div></div>
	<div class="footer"><div class="inner">
		<ul data-index="1" data-child="1">
			<li class="more" data-index="1"><span><a href="#">更多</a></span></li>
		</ul>
	</div></div>
</div></div>