<div class="area-editor address" data-index="<%= index %>" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">
		<%= zh_lorem_paragraphs 3 %>
	</div></div>
</div></div>