<div class="list-text share" data-index="<%= index %>" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
		<h4><span>分享</span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<ul data-index="1" data-child="5">
			<li class="facebook" data-index="1"><span><a target="_blank" href="http://www.facebook.com/share.php?u=網址" target="_blank">Facebook</a></span></li>
			<li class="google" data-index="2"><span><a target="_blank" href="https://plus.google.com/share?url=網址" target="_blank">Google+</a></span></li>
			<li class="twitter" data-index="3"><span><a target="_blank" href="http://twitter.com/home?status=主題-網址" target="_blank">Twitter</a></span></li>
			<li class="line" data-index="4"><span><a target="_blank" href="http://line.naver.jp/R/msg/text/?主題-網址">Line</a></span></li>
			<li class="email" data-index="5"><span><a target="_blank" href="mailto:?subject=主題&body=網址">E-mail</a></span></li>
		</ul>
	</div></div>
</div></div>