<%
	@min_li = 1 #最少的li數量
	@max_li = 4 #最多的li數量
	@min_text = 4 #最少的字元
	@max_text = 8 #最多的字元
%>

<% @li_length = rand( @max_li - @min_li ) + @min_li %>

<div class="list-text sitemap" data-index="<%= index %>" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
		<h4><span>網站地圖</span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<ul data-index="1" data-child="<%= @li_length %>">

			<li data-index="1"><span><a href="#">首頁</a></span></li>

			<% @li_length.times do |i| %>
				<li data-index="<%= i + 2 %>"><span><a href="#"><%= zh_lorem_words rand( @max_text - @min_text ) + @min_text %></a></span></li>
			<% end %>

		</ul>
	</div></div>
</div></div>