<div class="list-text font-level" data-index="<%= index %>" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a>字級</a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<ul data-index="1" data-child="3">
			<li class="small" data-index="1"><span><a href="#">小</a></span></li>
			<li class="medium is-active" data-index="2"><span><a href="#">中</a></span></li>
			<li class="large" data-index="3"><span><a href="#">大</a></span></li>
		</ul>
	</div></div>
</div></div>