<div class="simple-text major-logo" data-index="<%= index %>" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">
		<h1><span><a href="#">哈瑪星科技股份有限公司</a></span></h1>
	</div></div>
</div></div>