<div class="simple-text accesskey" data-type="0"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">
		<span><a href="#" accesskey="<%= accesskey %>" title="<%= title %>">:::</a></span>
	</div></div>
</div></div>