<div class="test-require" data-type="0" data-function="{'test-require':{'_number': 200, '_string': 'success', '_boolean': true, '_object': {'type': 'admin' }, '_array': [0, 1], '_null': null }}"><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a>測試區塊</a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<span>請打開開發人員工具，測試 test.js 執行狀態。</span>
	</div></div>
</div></div>
