//列表群組

[data-type="4"] {
	$type: 4; //類型代碼

//設定================================================================

	> .inner {
		
		> .content {

			> .inner {

				> ul {
					@extend %reset;
				}
			}
		}
	}

//預設================================================================

	&.default {

		> .inner {

			> .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {

						> li {

							+ li {
								margin-top: $interval-s;
							}
						}
					}
				}

				.list-text, &.list-pic, &[data-type="4"] {
					margin: 0;

					.header {
						display: block;
					}

					.content {

						ul {
							padding-left: $interval-xl;
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//選單列表================================================================

	&.nav {

		.base-mobile & {

			> .inner {

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {

							> li {

								&.is-active {

									> [data-index][data-type] {

										> .inner {

											.header {

												a {
													background-color: $minor-color !important;
													color: $white !important;

													&:before {
														@include icon-font('keyboard_arrow_down');
													}
												}
											}

											.content {
												display: block;
											}
										}
									}
								}

								> [data-index][data-type] {
									@extend %reset;
									position: relative;

									> .inner {

										> .header {
											@extend %reset;

											> .inner {

											}

											h1, h2, h3, h4, h5, h6 {

												&:before {
													display: none;
												}

												&:after {
													display: none;
												}
											}

											span {
												display: block;
											}

											a {
												display: block;
												padding: $interval-m;
												transition: $transition;

												&:before {
													@include icon-font('keyboard_arrow_right');
													margin-right: $interval-xs;
												}

												&:hover {
													background-color: $light;
													color: $body-font-color;
												}
											}
										}

										> .content {
											display: none;

											> .inner {
												padding: $interval-xs;
												background-color: $light;
											}
										}

										> .footer {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-header & {
			$default-len: 6;
			$max-len: 10;

			@include default-min-len($type, $default-len, $max-len);
			position: relative;
			z-index: 1;

			@include js(false) {
				padding-bottom: $interval-l;
			}

			@include media('mobile') {
				display: none;
			}

			&.is-fixed {

				> .inner {
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					max-width: 100%;
					box-shadow: $box-shadow;
				}
			}

			> .inner {
				background-color: $light;
				margin: 0;

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {
					@extend %center;

					> .inner {

						> ul {

							&:after {
								@extend %clear;
							}

							> li {
								position: relative;

								@include js(false) {
									width: 100%;
								}

								+ li {

									&:before {
										content: $content;
										display: block;
										position: absolute;
										top: $interval-s;
										bottom: $interval-s;
										left: 0;
										width: $border-width;
										background-color: $border-color;

										@include js(false) {
											content: none;
										}
									}
								}

								&.is-active, &:hover {

									> [data-index][data-type] {

										> .inner {

											> .header {

												a {
													background-color: $minor-color;
													color: $white;
												}
											}

											> .content {
												display: block;
											}
										}
									}
								}

								> [data-index][data-type] {
									@extend %reset;
									position: relative;

									> .inner {

										> .header {
											@extend %reset;
											display: block;

											> .inner {

											}

											h1, h2, h3, h4, h5, h6 {
												@extend %reset;
											}

											span {
												display: block;
											}

											a {
												@extend %ellipsis;
												display: block;
												padding: $interval-s;
												margin: $interval-s;
												text-align: center;
												font-size: $font-size-l;
												transition: $transition;

												@include js(false) {
													text-align: left;
													font-weight: $font-weight-b;
												}
											}
										}

										> .content {
											display: none;
											position: absolute;
											top: 100%;
											width: 100%;
											left: 0;

											@include js(false) {
												display: block;
												position: static;
												width: 100% !important;
											}

											> .inner {
												padding: $interval-xs;
												background-color: $white;
												border: $border;
												box-shadow: $box-shadow;
											}
										}

										> .footer {
											display: none;
										}
									}
								}

								> .nav {

									> .inner > .content {

										> .inner {

											> ul {

												> li {

													@include js(false) {
														width: 50% !important;
													}
												}
											}
										}
									}
								}

								@for $i from 1 through $max-len { //ul 的寬度

									&[data-width="#{$i}"] { //li 的寬度 < li 的最大數量

										> [data-index][data-type] {

											> .inner {

												> .content {
													width: 100% * $i;
												}
											}
										}
									}
								}

								@for $i from 1 through $max-len { //ul 的寬度

									&[data-width="#{$i}"] { //li 的寬度 < li 的最大數量

										> .nav {

											> .inner > .content {

												> .inner {

													> ul {

														> li {
															width: 100% / $i;
														}
													}
												}
											}
										}
									}
								}
							}

							@for $i from $default-len through $max-len { //group 的 child

								&[data-child="#{$i}"] {

									@for $j from 2 through $max-len { //li 的 index

										> [data-index="#{$j}"] { //li 的順序

											@for $k from 1 through $max-len { //li 的寬度

												&[data-width="#{$k}"] { //li 的寬度 < li 的最大數量

													$li-width: min($k, $i); //li 的寬度 > group 的 child，li 的寬度 = group 的 child
													$all-width: $j - 1 + $li-width;

													> [data-index][data-type] {

														> .inner {
															
														}

														> .inner > .content {

															@if( $all-width > $i ) { //如果 li 數量大於 li 寬度
																left: 100% * ( $i - $all-width ); //就推回來
															}
														}
													}
												}
											}
										}
									}
								}
							}

							@for $i from 1 through $default-len { //group 的 child

								&[data-child="#{$i}"] {

									@for $j from 2 through $max-len { //li 的 index

										> [data-index="#{$j}"] { //li 的順序

											@for $k from 1 through $max-len { //li 的寬度

												&[data-width="#{$k}"] { //如果 ul 的寬度設定 < li 的最大數量

													$li-width: min($k, $default-len); //li 的寬度 > group 的 child，li 的寬度 = group 的 child
													$all-width: $j - 1 + $li-width;

													> [data-index][data-type] {

														> .inner {

														}

														> .inner > .content {

															@if( $all-width > $default-len ) { //如果 li 數量大於 li 寬度
																left: 100% * ( $default-len - $all-width ); //就推回來
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-footer & {
			$default-len: 6;
			$max-len: 10;

			@include default-min-len($type, $default-len, $max-len);
			background-color: $light;

			@include media('mobile') {
				display: none;
			}

			&.is-open {
				display: block;
			}

			&.is-close {
				display: none;
			}

			> .inner {
				@extend %center;

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {
					padding: $interval-l 0;
					border-bottom: $border;

					> .inner {

						> ul {

							&:after {
								@extend %clear;
							}

							> li {

								> [data-index][data-type] {
									@extend %reset;
									padding: 0 $interval-xs;

									> .inner {
										@extend %reset;

										> .header {
											display: block;

											> .inner {

											}

											h1, h2, h3, h4, h5, h6 {
												@extend %reset;

												&:before {
													display: none;
												}

												&:after {
													display: none;
												}
											}

											span {
												display: block;
											}

											a {
												@extend %ellipsis;
												display: block;
												padding: $interval-s $interval-m;
												margin-bottom: $interval-s;
												border-bottom: $border;
												text-align: center;
												font-size: $font-size-l;
												color: $body-font-color;
											}
										}

										> .content {
											display: block !important;
											position: static;
										}

										> .footer {
											display: none;
										}	
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-module-area &, .base-aside & {

			> .inner {
				background-color: $major-color;

				> .header {

					> .inner {

					}

					h3 {
						font-size: $font-size-l;
						padding: $interval-m;
						color: $white;

						&:before {
							@include icon-font('menu');
							margin-right: $interval-xs;
						}
					}

					span {
						color: inherit;
					}

					a {
						color: inherit;
					}
				}

				> .content {
					overflow: hidden;

					> .inner {

						> ul {
							margin: 0 $interval-s $interval-s;
							background-color: $white;

							> li {

								+ li {
									border-top: $border;
								}

								&.is-active {

									> [data-index][data-type] {

										> .inner {

											> .header {

												a {
													background-color: $minor-color !important;
													color: $white !important;

													&:before {
														@include icon-font('keyboard_arrow_down');
													}
												}
											}

											> .content {
												display: block;
											}
										}
									}
								}

								> [data-index][data-type] {
									@extend %reset;
									position: relative;

									> .inner {
										@extend %reset;

										> .header {
											@extend %reset;

											> .inner {

											}

											h1, h2, h3, h4, h5, h6 {
												@extend %reset;

												&:before {
													display: none;
												}

												&:after {
													display: none;
												}
											}

											span {
												display: block;
											}

											a {
												display: block;
												padding: $interval-m;
												transition: $transition;

												&:before {
													@include icon-font('keyboard_arrow_right');
													margin-right: $interval-xs;
												}

												&:hover {
													background-color: $light;
													color: $body-font-color;
												}
											}
										}

										> .content {
											display: none;

											@include js(false) {
												display: block;
											}

											> .inner {
												padding: $interval-xs;
												background-color: $light;
											}
										}

										> .footer {
											display: none;
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-section & {

			> .inner {

				> .header {
					display: none;

					> .inner {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {

							> li {

								+ li {
									margin-top: $interval-s;
								}

								> [data-index][data-type] {
									margin: 0;

									> .inner {

										> .header {
											display: block;
										}

										> .content {
											padding: $interval-s 0 0 $interval-xl;
										}
									}
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}
	}

//多重檔案下載群組================================================================

	&.file-download-multiple {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {
					@extend %title;
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {

						> li {
							
							+ li {
								margin-top: $interval-s;
							}
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//相簿================================================================

	&.album {

		.base-module-area & {
			$default-len: 2;

			@include default-len-hide($type, $default-len);
			@include set-len-hide($type);

			> .inner {

				> .header {

					> .inner {

					}

					h3 {
						@extend %title;

						&:before {
							@include icon-font('camera');
						}
					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {

							&:after {
								@extend %clear;
							}

							> li {
								@extend %clear-inner-module;

								> [data-index][data-type] {
									padding: $interval-xs;
								}
							}
						}
					}
				}

				> .footer {
					@extend %footer-btns;

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}

		.base-page-area & {
			$default-len: 4;

			@include default-len($type, $default-len);
			@include set-len($type);

			> .inner {

				> .header {

					> .inner {

					}

					h3 {
						@extend %title;
					}

					span {
							
					}

					a {

					}
				}

				> .content {

					> .inner {

						> ul {

							&:after {
								@extend %clear;
							}

							> li {
								@extend %clear-inner-module;

								> [data-index][data-type] {
									padding: $interval-xs;
								}
							}
						}
					}
				}

				> .footer {

					> .inner {

					}

					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}
		}
	}

//訊息================================================================

	&.message {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {
					@extend %title;

					&:before {
						@include icon-font('message');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {

						> li {
							@extend %clear-inner-module;

							+ li {
								margin-top: $interval-s;
							}
						}
					}
				}
			}

			> .footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//古典輪播================================================================

	&.classical-slider {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {
					@extend %title;

					&:before {
						@include icon-font('slideshow');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {

						> li {
							@extend %clear-inner-module;

							+ li {
								display: none;

								@include js(false) {
									display: block;
									margin-top: $interval-m;
								}
							}

							> [data-index][data-type] { //頁籤裡的 footer 不是 absolute

								> .inner {

									.footer {
										position: static;
										margin-top: $interval-s;
									}
								}
							}
						}
					}
				}
			}

			> .footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

					&.prev, &.next {

						@include js(false) {
							display: none;
						}
					}
				}

				span {

				}

				a {

				}
			}
		}
	}

//跑馬燈================================================================

	&.marquee-slider {
		$btn-width: 30px; //設定按鈕寬度
		$max-li-len: 50; //設定 li 的最大數量
		$show-li-len: 5; //設定一次要秀的數量
		$max-show-li-len: 10; //設定一次要秀的範圍數量，給 alinelwngth 用

		@for $i from 1 through $max-show-li-len { //使數量可以被控制 1 ~ $max-show-li-len
		
			&[data-setLen="#{$i}"] {

				> .inner > .content > .inner {

					> ul {
						width: $max-li-len * 100% / $i;
					}
				}
			}
		}

		> .inner {

			> .header {
				display: none;

				> .inner {

				}

				h3 {
					@extend %title;

					&:before {
						@include icon-font('slideshow');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {
				background-color: $light;

				> .inner {
					overflow: hidden;
					margin: 0 $btn-width;

					@include js(false) {
						margin: 0;
					}

					> ul {
						width: $max-li-len * 100% / $show-li-len;

						@include set-len-rwd('pad', 3, $max-li-len * 100%);
						@include set-len-rwd('phone', 1, $max-li-len * 100%);

						@include js(false) {
							width: 100%;
						}

						&:after {
							@extend %clear;
						}

						> li {
							width: 100% / $max-li-len;
							float: left;

							@include js(false) {
								display: block;
								width: 100% / $show-li-len;
							}

							> [data-index][data-type] { //隱藏內置模組的 header 與 footer
								padding: $interval-s;

								> .inner {
									@extend %reset;

									> .header {
										display: none;
									}

									> .footer {
										display: none;
									}
								}
							}
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {

				}

				li {

					&.next, &.prev {

						@include js(false) {
							display: none;
						}

						a {
							@extend %hide-text;
							position: absolute;
							top: 0;
							bottom: 0;
							display: block;
							width: $btn-width;
							transition: $transition;
							background-color: $btn-bg-color;

							&:hover {
								background-color: $btn-hover-bg-color;
							}
						}
					}

					&.prev {

						a {
							left: 0;
							@include bg-to-pic('icon-pic/away-w-left.png', false);
						}
					}

					&.next {

						a {
							right: 0;
							@include bg-to-pic('icon-pic/away-w-right.png', false);
						}
					}

					&.more {
						display: none;
					}
				}

				span {

				}

				a {

				}
			}
		}
	}

//主輪播================================================================

	&.major-slider {
		$btn-width: 40px; //設定按鈕寬度

		> .inner {

			> .header {
				display: none;

				> .inner {

				}

				h3 {
					@extend %title;

					&:before {
						@include icon-font('slideshow');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .content {

				> .inner {

					> ul {

						> li {

							+ li {
								display: none;

								@include js(false) {
									display: block;
									margin-top: $interval-m;
								}
							}

							> [data-index][data-type] { //隱藏內置模組的 header 與 footer

								> .inner {
									@extend %reset;

									> .header {
										display: none;
									}

									> .footer {
										display: none;
									}
								}
							}
						}
					}
				}
			}

			> .footer {

				> .inner {

				}

				ul {

				}

				li {

					&.next, &.prev {

						@include js(false) {
							display: none;
						}

						a {
							@extend %hide-text;
							position: absolute;
							top: 20%;
							bottom: 20%;
							display: block;
							width: $btn-width;
							transition: $transition;
							background-color: $light;
							background-color: rgba($light, $opacity-h);

							&:hover {
								width: $btn-width + $interval-m;
							}
						}
					}

					&.prev {

						a {
							left: 0;
							@include bg-to-pic('icon-pic/away-b-left.png', false);
						}
					}

					&.next {

						a {
							right: 0;
							@include bg-to-pic('icon-pic/away-b-right.png', false);
						}
					}

					&.more {
						display: none;
					}
				}

				span {

				}

				a {

				}
			}
		}
	}
}