//群組

[data-type] {

//設定================================================================

	> .inner {
		
		> .content {

			> .inner {
				
			}
		}
	}

//預設================================================================

	&.default {

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

			}
		}

		> .inner > .footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//資訊群組================================================================

	&.group-info {

		.base-mobile & {

			> .inner {

			}

			> .inner > .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					height: 100vh;
					overflow-y: auto;
					background-color: $light;
				}
			}

			> .inner > .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			background-color: $major-color;

			> .inner {
				@extend %center;
			}

			> .inner > .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

					&:after {
						@extend %clear;
					}
				}
			}

			> .inner > .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {

			> .inner {
				@extend %center;
				padding: $interval-l 0;
			}

			> .inner > .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

					&:after {
						@extend %clear;
					}
				}
			}

			> .inner > .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//資訊與工具群組================================================================

	&.group-msg-tool {

		.base-header & {
			position: relative;

			> .inner {

			}

			> .inner > .header {

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

				}
			}

			> .inner > .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {
			overflow: hidden;

			> .inner {

			}

			> .inner > .header {

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

				}
			}

			> .inner > .footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//內頁頁首================================================================

	&.group-page-header {

		+ [data-index][data-type] {
			margin-top: $interval-l;
		}

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

			}
		}

		> .inner > .footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁主要內容================================================================

	&.group-page-content {
		@extend %area-page;
		position: relative;

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

			}
		}

		> .inner > .footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁頁尾================================================================

	&.group-page-footer {
		@extend %area-page;

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

			}
		}

		> .inner > .footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}