//頁籤群組

[data-type="2"] {
	$type: 2; //類型代碼

//設定================================================================

	> .inner {
		
		> .content {

			> .inner {

				> ul {
					@extend %reset;
				}
			}
		}
	}

//預設================================================================

	&.default {

		> .inner {

		}

		> .inner > .header {
			display: none;

			@include js(false) {
				display: block;
			}

			> .inner {

			}

			h3 {
				@extend %title;

				&:before {
					@include icon-font('library_add');
				}
			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

				> ul {
					@extend %reset;

					> li {

						> [data-index][data-type] { //頁籤裡的 footer 不是 absolute

							> .inner {

								> .footer {
									position: static;
									margin-top: $interval-s;
								}
							}
						}
					}
				}
			}
		}

		> .inner > .footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}