//群組

.group {

//預設================================================================

	&.default {

		> .in {

			.hd {
				display: none;

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//資訊群組================================================================

	&.info {

		.base-mobile & {
			@extend %area-mobile;

			> .in {

				> .hd {
					display: none;

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						height: 100vh;
						overflow-y: auto;
						background-color: $light;
					}
				}
			}
		}

		.base-header & {
			background-color: $major-color;

			> .in {
				@extend %center;

				> .hd {
					display: none;

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

						&:after {
							@extend %clear;
						}
					}
				}
			}
		}

		.base-footer & {

			> .in {
				@extend %center;
				padding: $interval-l 0;

				> .hd {
					display: none;

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

						&:after {
							@extend %clear;
						}
					}
				}
			}
		}
	}

//資訊與工具群組================================================================

	&.msg-tool {

		.base-header & {
			position: relative;

			> .in {

				> .hd {

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

					}
				}
			}
		}

		.base-footer & {
			overflow: hidden;

			> .in {
				@extend %area-mobile;
				
				> .hd {

					> .in {

					}

					h3 {

					}

					span {
							
					}

					a {

					}
				}

				> .ct {

					> .in {

					}
				}
			}
		}
	}

//內頁頁首================================================================

	&.page-header {

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {
				margin-top: $interval-m;

				> .in {

				}
			}
		}
	}

//內頁主要內容================================================================

	&.page-content {
		@extend %area-page;
		position: relative;
		margin: $interval-m 0;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}

//內頁頁尾================================================================

	&.page-footer {
		@extend %area-page;

		> .in {

			> .hd {

				> .in {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

				}
			}
		}
	}
}