//群組

.group {

//預設================================================================

	&.default {

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

			}
		}
	}

//資訊群組================================================================

	&.info {

		.base-mobile & {
			@extend %area-mobile;

			> .inner {

			}

			> .inner > .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					height: 100vh;
					overflow-y: auto;
					background-color: $light;
				}
			}
		}

		.base-header & {
			background-color: $major-color;

			> .inner {
				@extend %center;
			}

			> .inner > .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

					&::after {
						@extend %clear;
					}
				}
			}
		}

		.base-footer & {

			> .inner {
				@extend %center;
				padding: $interval-l 0;
			}

			> .inner > .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

					&::after {
						@extend %clear;
					}
				}
			}
		}
	}

//資訊與工具群組================================================================

	&.msg-tool {

		.base-header & {
			position: relative;

			> .inner {

			}

			> .inner > .header {

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

				}
			}
		}

		.base-footer & {
			overflow: hidden;

			> .inner {
				@extend %area-mobile;
			}

			> .inner > .header {

				> .inner {

				}

				h3 {

				}

				span {
						
				}

				a {

				}
			}

			> .inner > .content {

				> .inner {

				}
			}
		}
	}

//內頁頁首================================================================

	&.page-header {

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {
			margin-top: $interval-m;

			> .inner {

			}
		}
	}

//內頁主要內容================================================================

	&.page-content {
		@extend %area-page;
		position: relative;
		margin-top: $interval-l;

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

			}
		}
	}

//內頁頁尾================================================================

	&.page-footer {
		@extend %area-page;

		> .inner {

		}

		> .inner > .header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		> .inner > .content {

			> .inner {

			}
		}
	}
}