//頁籤群組

.group-tab {

//預設================================================================

	&.default {

		> .in {

			> .hd {
				display: none;

				> .in {

				}

				h3 {
					@extend %title;

					&::before {
						@include icon-font('library_add');
					}
				}

				span {
						
				}

				a {

				}
			}

			> .ct {

				> .in {

					> ul {
						@extend %reset;

						> li {

							+ li {
								margin-top: $interval-m;
							}

							> [data-index][data-type] { //頁籤裡的 footer 不是 absolute

								> .in {

									> .ft {
										position: static;
										margin-top: $interval-s;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}