<!-- base-article 文章 -->
	<%= render :partial => "/Erb/base/base-article" %>
<!-- base-article 結束 -->

<!-- file-download 檔案下載 -->
	<div class="list-text file-download" data-index="3" data-type="0"><div class="inner">
		<div class="header"><div class="inner">
			<h4><span><a>檔案下載</a></span></h4>
		</div></div>
		<div class="content"><div class="inner">
			<ul data-index="1" data-child="17">
				<li class="doc" data-index="1"><span><a href="#">連結1.doc</a></span></li>
				<li class="docx" data-index="2"><span><a href="#">連結2.docx</a></span></li>
				<li class="exl" data-index="3"><span><a href="#">連結3.exl</a></span></li>
				<li class="link" data-index="4"><span><a href="#">連結4.link</a></span></li>
				<li class="odf" data-index="5"><span><a href="#">連結5.odf</a></span></li>
				<li class="odp" data-index="6"><span><a href="#">連結6.odp</a></span></li>
				<li class="ods" data-index="7"><span><a href="#">連結7.ods</a></span></li>
				<li class="odt" data-index="8"><span><a href="#">連結8.odt</a></span></li>
				<li class="other" data-index="9"><span><a href="#">連結9.other</a></span></li>
				<li class="pdf" data-index="10"><span><a href="#">連結10.pdf</a></span></li>
				<li class="ppt" data-index="11"><span><a href="#">連結11.ppt</a></span></li>
				<li class="pptx" data-index="12"><span><a href="#">連結12.pptx</a></span></li>
				<li class="rar" data-index="13"><span><a href="#">連結13.rar</a></span></li>
				<li class="txt" data-index="14"><span><a href="#">連結14.txt</a></span></li>
				<li class="xls" data-index="15"><span><a href="#">連結15.xls</a></span></li>
				<li class="xlsx" data-index="16"><span><a href="#">連結16.xlsx</a></span></li>
				<li class="zip" data-index="17"><span><a href="#">連結17.zip</a></span></li>
			</ul>
		</div></div>
	</div></div>
<!-- download-text 結束 -->

<!-- file-download-multiple 多重檔案下載群組 -->
	<div class="group-list file-download-multiple" data-index="4" data-type="4"><div class="inner">
		<div class="header"><div class="inner">
			<h3><span><a>多重檔案下載</a></span></h3>
		</div></div>
		<div class="content"><div class="inner">
			<ul data-index="1" data-child="3">
				<li data-index="1">

				<!-- file-download-multiple 多重檔案下載 -->
					<div class="list-text file-download-multiple" data-index="2" data-type="0"><div class="inner">
						<div class="header"><div class="inner">
							<h4><span><a>連結1</a></span></h4>
						</div></div>
						<div class="content"><div class="inner">
							<ul data-index="1" data-child="5">
								<li class="doc" data-index="1"><span><a href="#">doc</a></span></li>
								<li class="docx" data-index="2"><span><a href="#">docx</a></span></li>
								<li class="odt" data-index="3"><span><a href="#">odt</a></span></li>
								<li class="pdf" data-index="4"><span><a href="#">pdf</a></span></li>
								<li class="txt" data-index="5"><span><a href="#">txt</a></span></li>
							</ul>
						</div></div>
					</div></div>
				<!-- file-download-text 結束 -->

				</li>
				<li data-index="2">

				<!-- file-download-text 檔案下載類型列表 -->
					<div class="list-text file-download-multiple" data-index="2" data-type="0"><div class="inner">
						<div class="header"><div class="inner">
							<h4><span><a>連結2</a></span></h4>
						</div></div>
						<div class="content"><div class="inner">
							<ul data-index="1" data-child="5">
								<li class="rar" data-index="1"><span><a href="#">rar</a></span></li>
								<li class="zip" data-index="2"><span><a href="#">zip</a></span></li>
							</ul>
						</div></div>
					</div></div>
				<!-- file-download-text 結束 -->

				</li>
				<li data-index="3">

				<!-- file-download-text 檔案下載類型列表 -->
					<div class="list-text file-download-multiple" data-index="2" data-type="0"><div class="inner">
						<div class="header"><div class="inner">
							<h4><span><a>連結3</a></span></h4>
						</div></div>
						<div class="content"><div class="inner">
							<ul data-index="1" data-child="5">
								<li class="ppt" data-index="1"><span><a href="#">ppt</a></span></li>
								<li class="pptx" data-index="2"><span><a href="#">pptx</a></span></li>
								<li class="odp" data-index="3"><span><a href="#">odp</a></span></li>
								<li class="pdf" data-index="4"><span><a href="#">pdf</a></span></li>
							</ul>
						</div></div>
					</div></div>
				<!-- file-download-text 結束 -->
				</li>
			</ul>
		</div></div>
	</div></div>
<!-- download-type 結束 -->

<!-- download-pic 檔案下載圖片列表 -->
	<div class="list-pic download-pic" data-index="5" data-type="0"><div class="inner">
		<div class="header"><div class="inner">
			<h4><span><a>圖片下載</a></span></h4>
		</div></div>
		<div class="content"><div class="inner">
			<ul data-index="1" data-child="6">
				<li data-index="1"><span style="background-image: url('/images/sample/sample_m_01.jpg')"><a href="#"><img src="/images/sample/sample_m_01.jpg" alt=""></a></span></li>
				<li data-index="2"><span style="background-image: url('/images/sample/sample_m_02.jpg')"><a href="#"><img src="/images/sample/sample_m_02.jpg" alt=""></a></span></li>
				<li data-index="3"><span style="background-image: url('/images/sample/sample_m_03.jpg')"><a href="#"><img src="/images/sample/sample_m_03.jpg" alt=""></a></span></li>
				<li data-index="4"><span style="background-image: url('/images/sample/sample_m_04.jpg')"><a href="#"><img src="/images/sample/sample_m_04.jpg" alt=""></a></span></li>
				<li data-index="5"><span style="background-image: url('/images/sample/sample_m_05.jpg')"><a href="#"><img src="/images/sample/sample_m_05.jpg" alt=""></a></span></li>
				<li data-index="6"><span style="background-image: url('/images/sample/sample_m_06.jpg')"><a href="#"><img src="/images/sample/sample_m_06.jpg" alt=""></a></span></li>
			</ul>
		</div></div>
	</div></div>
<!-- download-pic 結束 -->