//框架

.sys-root {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: $body-font-size-m; //預設大小，應與font-size-medium同大
	font-family: $base-font-style;
	color: $body-font-color;
	position: relative;

	@include js(false) {

		&:before {
			display: block;
			content: '您的瀏覽器似乎不支援 JavaScript 語法，但沒關係，這並不會影響到內容的陳述。如需要選擇適合您的字級大小，可利用鍵盤 Ctrl + (+)放大 (-)縮小。如需要回到上一頁，可使用瀏覽器提供的 Alt + 左方向鍵(←)。如需要列印，可利用鍵盤 Ctrl + p 使用瀏覽器提供的列印功能。';
			padding: $interval-m;
			line-height: $line-height-m;
			background-color: $deep;
			color: $white;
		}
	}

	@include media('mobile') {

		&:before {
			display: block;
			content: $content;
			height: $rwd-btn-size;
			background-color: deeper($major-color);
		}
	}

	> .inner {

		> .header {

			h3 {

			}

			span {

			}
		}

		> .content {

		}

		> .footer {

		}
	}

	@include hack('ie6-7-8') {
		min-width: $pc-width;
	}

	&.font-size-large { //大字
		font-size: $body-font-size-l;
	}

	&.font-size-medium { //中字
		font-size: $body-font-size-m;
	}

	&.font-size-small { //小字
		font-size: $body-font-size-s;
	}

	a {
		color: $link-color;
		text-decoration: none;

		&:link {
			color: $link-color;
		}

		&:visited {
			color: $visited-color;
		}

		&:hover {
			color: $hover-color;
		}

		&:active {
			color: $active-color;
		}

		&.divition {
			display: block;
			color: $body-font-color;
		}
	}

	i {

		&.mark {
			font-style: normal;
		}
	}

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;
	}

	input{

		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			@extend %btn;
		}

		&[type="text"],
		&[type="email"],
		&[type="number"],
		&[type="password"],
		&[type="search"],
		&[type="number"] {
			@extend %input;
		}

		&[type="radio"] {

		}
	}

	select {
		@extend %input;

		option {

		}
	}

	button {
		@extend %btn;
	}

	label {
		cursor: pointer;
	}

//行動載具================================================================

	.base-mobile {
		@extend %area-mobile;
		z-index: 3;

		&.is-open {
			right: 0;
		}

		@include js(false) {
			display: none !important;
		}

		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 100%;
		height: 100vh;
		transition: $transition;

		@include media('pad') {
			max-width: 350px;
		}

		@include media('phone') {
			max-width: 320px - $rwd-btn-size;
		}

		@include media('mobile') {
			display: block;
		}

		> .inner {

			> .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//額外資訊================================================================

	.base-extend {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;

		> .inner {

			> .header {
				display: none;

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//固定佈局================================================================

	.base-wrapper {
		background-color: $light;

		> .inner {
			margin: 0;

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//頁首資訊================================================================

	.base-header {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//主要內容================================================================

	.base-content {
		margin-bottom: $interval-l;

		> .inner {
			@extend %center;
			background-color: $white;
			border: $border;

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//頁尾資訊================================================================

	.base-footer {

		> .inner {

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//模組區塊================================================================

	.base-module-area {
		@extend %area-module;
		margin: $interval-m;

		> .inner {

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//內頁區塊================================================================

	.base-page-area {
		margin: $interval-m $interval-m $interval-l;

		> .inner {

			&:after {
				@extend %clear;
			}

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//內頁側欄區塊================================================================

	.base-aside {
		@extend %area-module;
		width: 190px;
		float: left;

		> .inner {

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//內頁內容區塊================================================================

	.base-section {
		overflow: hidden;
		position: relative;

		> .inner {
			margin: $interval-s $interval-m;

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}

//文章================================================================

	.base-article{
		@extend %page;

		> .inner {

			> .header {

				> .inner {

				}

				h3 {

				}

				span {

				}
			}

			> .content {

				> .inner {

					// [data-index][data-type] {
					// 	@extend %part;
					// }
				}
			}

			> .footer {

				> .inner {

				}
			}
		}
	}
}
