<div class="group default" data-type="1" data-child="15">
    <div class="in">
        <div class="ct">
            <div class="in">
                <div class="area-customize page-myZone" data-index="1" data-type="0" data-child="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h4 data-index="0"><span><a href="#">會員資料管理</a></span></h4></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                            <ul>
                                <li>
                                <a title="個人資料" target="_blank" href="#">個人資料</a></li>
                                <li><a title="個人資料維護" target="_blank" href="#">個人資料維護</a></li>
                                <li><a title="密碼維護" target="_blank" href="#">密碼維護</a></li>
                                <li><a title="憑證上傳" target="_blank" href="#">憑證上傳</a></li>
                                <li><a title="刪除帳號" href="#">刪除帳號</a></li>
                                <li><a title="申請公務帳號" target="_blank" href="#">申請公務帳號</a></li>
                            </ul>
                                <div class="btn-more"><a href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=2">更多 國家民族</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第二筆 -->
                <div class="area-customize page-myZone" data-index="1" data-type="0" data-child="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h4 data-index="0"><span><a href="#">會員資料管理</a></span></h4></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                            <ul>
                                <li>
                                <a title="個人資料" target="_blank" href="#">個人資料</a></li>
                                <li><a title="個人資料維護" target="_blank" href="#">個人資料維護</a></li>
                                <li><a title="密碼維護" target="_blank" href="#">密碼維護</a>
                                    <ul>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                    </ul>
                                </li>
                                <li><a title="憑證上傳" target="_blank" href="#">憑證上傳</a></li>
                                <li><a title="刪除帳號" href="#">刪除帳號</a></li>
                                <li><a title="申請公務帳號" target="_blank" href="#">申請公務帳號</a>
                                <ul>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                    </ul></li>
                            </ul>
                                <div class="btn-more"><a href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=2">更多 國家民族</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 第三筆 -->
                <div class="area-customize page-myZone" data-index="1" data-type="0" data-child="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h4 data-index="0"><span><a href="#">會員資料管理</a></span></h4></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                            <ul>
                                <li>
                                <a title="個人資料" target="_blank" href="#">個人資料</a></li>
                                <li><a title="個人資料維護" target="_blank" href="#">個人資料維護</a></li>
                                <li><a title="密碼維護" target="_blank" href="#">密碼維護</a>
                                    <ul>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                    </ul>
                                </li>
                                <li><a title="憑證上傳" target="_blank" href="#">憑證上傳</a></li>
                                <li><a title="刪除帳號" href="#">刪除帳號</a></li>
                                <li><a title="申請公務帳號" target="_blank" href="#">申請公務帳號</a>
                                <ul>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                        <li><a href="#">文字列表</a></li>
                                    </ul></li>
                            </ul>
                                <div class="btn-more"><a href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=2">更多 國家民族</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
