<%
    img = lorem_image('150x110')
%>

<div class="area-essay message page-life" data-index="" data-type=""><div class="in">
    <% if header_text %>
        <div class="hd"><div class="in">
            <h4><span><a href="#"><%= header_text %></a></span></h4>
        </div></div>
    <% end %>
    <div class="ct"><div class="in">
    <!-- text -->

        <!-- 第一則 -->
<div class="div">
    <a title="106年農曆春節連續假期 南投地區代檢廠暫停驗車喔!" class="div" href="#" target="_self">
        <div class="img"><span style='background-image: url("http://2016gov-ws.hamastar.com.tw/001/Upload/ActivityImages/52007.jpg");'><img alt="" src="http://2016gov-ws.hamastar.com.tw/001/Upload/ActivityImages/52007.jpg"></span></div>
        <div class="essay">
            <div class="caption"><span>106年農曆春節連續假期 南投地區代檢廠暫停驗車喔!</span></div>
            <div class="label">
                <ul>
                    <li data-index="2"><span>活動時間：106-01-25~106-04-25</span></li>
                    <li data-index="2"><span>活動地點：南投縣</span></li>
                </ul>
            </div>
            <div class="p">
                <p><span>106年農曆春節連續假期期間，監理站及各汽車代檢廠暫停受理汽車檢驗服務，如果您的車輛應到檢日期最後一天剛好在連續假期期間(106年1月27日起至106年2月1日)，得順延至假期後第一個上班日(106年2月2日)辦理檢驗，南投監理站提醒車主，逾期未驗車者，將依道路交通管理處罰條例第17條規定裁處罰鍰。....<span>more</span></span>
                </p>
            </div>
        </div>
    </a>
    <div class="box">
        <a title="106年農曆春節連續假期 南投地區代檢廠暫停驗車喔!" class="collect" href="News_Content.aspx?n=24474215983F6554&amp;sms=997A8098571EF49A&amp;s=3043F1905E04929F"><i></i>收藏</a>
        <div class="date" href="#"><i></i><span class="count01">倒數</span><span class="no">36</span><span class="count02">天</span></div>
        </div>
</div>
        <!-- 第二則 -->
<div class="div">
    <a title="106年農曆春節連續假期 南投地區代檢廠暫停驗車喔!" class="div" href="News_Content.aspx?n=24474215983F6554&amp;sms=997A8098571EF49A&amp;s=3043F1905E04929F" target="_self">
        <div class="img"><span style='background-image: url("http://2016gov-ws.hamastar.com.tw/001/Upload/ActivityImages/52007.jpg");'><img alt="" src="http://2016gov-ws.hamastar.com.tw/001/Upload/ActivityImages/52007.jpg"></span></div>
        <div class="essay">
            <div class="caption"><span>106年農曆春節連續假期 南投地區代檢廠暫停驗車喔!</span></div>
            <div class="label">
                <ul>
                    <li data-index="2"><span>活動時間：106-01-25~106-04-25</span></li>
                    <li data-index="2"><span>活動地點：南投縣</span></li>
                </ul>
            </div>
            <div class="p">
                <p><span>106年農曆春節連續假期期間，監理站及各汽車代檢廠暫停受理汽車檢驗服務，如果您的車輛應到檢日期最後一天剛好在連續假期期間(106年1月27日起至106年2月1日)，得順延至假期後第一個上班日(106年2月2日)辦理檢驗，南投監理站提醒車主，逾期未驗車者，將依道路交通管理處罰條例第17條規定裁處罰鍰。....<span>more</span></span>
                </p>
            </div>
        </div>
    </a>
    <div class="box">
        <a title="106年農曆春節連續假期 南投地區代檢廠暫停驗車喔!" class="collect" href="News_Content.aspx?n=24474215983F6554&amp;sms=997A8098571EF49A&amp;s=3043F1905E04929F"><i></i>收藏</a><a class="date" href="#"><i></i><span class="count01">倒數</span><span class="no">60</span><span class="count02">天</span></a></div>
</div>
    </div></div>
</div></div>