<div class="area-customize page-fancyBox" data-index="1" data-type="0" data-child="1">
    <div class="in">
        <div class="ct">
            <div class="in">
                <div class="div">
                    <div class="img">
                    <div class="img-topic"><img src="../Images/app_img.jpg" alt="e等公務園"></div>
                    <div class="img-app_android"><a href="#"><img src="../Images/app_android.jpg" alt="e等公務園"></a></div>
                    <div class="img-app_ios"><a href="#"><img src="../Images/app_ios.jpg" alt="e等公務園"></a></div>
                    </div>

                    <div class="essay">
                        <div class="figcaption">e等公務園</div>
                        <div class="label">行政院</div>
                        <div class="p">
                            <p>
                                行政院人事行政總處公務人力中心整合「e等公務園學習網」服務，主要服務對象為全國公務人員，提供多元化行動學習，讓學習服務能夠帶著走！另為使學習數位化，納入實體研習填寫問卷及簽到機制，將實體學習結合行動裝置。
                            </p>
                        </div>
                    </div>
                    <div class="qrCode"><img src="../Images/app_qrCode.jpg" alt="e等公務園"></div>

                </div>
            </div>
        </div>
    </div>
</div>
