<div class="area-customize metaDeta">
    <div class="in">
        <div class="hd">
            <div class="in">
                <h3><span>MetaDeta檢測申請頁</span></h3>
            </div>
        </div>
        <div class="ct">
            <div class="in">
                <div class="box01">
                    <div class="hd">
                        <p class="attation">
                        <span class="alert"><i></i>注意!</span> 網址須為完整的URL，且若要檢測該目錄下所有的網頁，網址後須補上";"</p>
                        <p class="example">
                        <span class="alert"><i></i>例如：</span> 合法<a href="#">http://www.maioli.gov.tw/</a></p>
                    </div>
                    <div class="ct">
                        <div class="area-form page-search">
                                    <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <div class="fieldset input">
                                                            <span class="search" data-before="">
                                                            <input type="search" placeholder="請輸入想要檢測的網址..."></span>
                                                        </div>
                                                        <div class="fieldset">
                                                            <span class="submit"><input type="submit" value="提出申請"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                        </div>
                    </div>
                </div>
                <div class="box02">
                    <div class="hd">申請檢測記錄</div>
                    <table>
                        <thead data-index="1" data-child="1">
                            <tr data-index="1">
                                <th class="th-number"><span>編號</span></th>
                                <th class="th-dark"><span>檢測暗號</span></th>
                                <th class="th-time"><span>接受時間</span></th>
                                <th class="th-status"><span>檢測狀態</span></th>
                                <th class="th-web"><span>檢測網址</span></th>
                            </tr>
                        </thead>
                        <tbody data-index="2" data-child="">
                            <tr data-index="" data-child="">
                                <td><span>1</span></td>
                                <td><span>555</span></td>
                                <td><span>555</span></td>
                                <td><span>555</span></td>
                                <td><span><a href="#">http://getbootstrap.com/</a></span></td>
                            </tr>
                            <tr data-index="" data-child="">
                                <td><span>2</span></td>
                                <td><span>555</span></td>
                                <td><span>555</span></td>
                                <td><span>555</span></td>
                                <td><span><a href="#">http://getbootstrap.com/</a></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
