<div class="group default" data-type="1" data-child="15">
    <div class="in">
        <div class="ct">
            <div class="in">
                <div class="area-customize page-area-link" style="width:33%;clear:none;" data-index="1" data-type="0" data-child="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h4 data-index="0">		<span><a onkeypress="this.click();" href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=2" title="國家民族" target="_self" class="aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=2">國家民族</a></span></h4></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="6">
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=123'">外交
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=124'">聯合國事務
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=125'">國際組織
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn-more"><a href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=2" class="aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=2">更多 國家民族</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area-customize page-area-link" style="width:33%;clear:none;" data-index="2" data-type="0" data-child="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h4 data-index="0">		<span><a onkeypress="this.click();" href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3" title="科學技術" target="_self" class="aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3">科學技術</a></span></h4></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="6">
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=79'">地震工程
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=80'">自然科學
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=81'">地理
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn-more"><a href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3" class="aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3">更多 科學技術</a></div>
                            </div>
                        </div>
                    </div>
                </div>
<div class="area-customize page-area-link" style="width:33%;clear:none;" data-index="2" data-type="0" data-child="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h4 data-index="0">     <span><a onkeypress="this.click();" href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3" title="科學技術" target="_self" class="aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3">科學技術</a></span></h4></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="6">
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=79'">地震工程地震工程地震工程
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=80'">自然科學
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li style="width:100%;">
                                        <div class="d-text" onclick="location.href='News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=81'">地理
                                            <ul class="right-link">
                                                <li>
                                                    <a class="guide-link1" href="#"></a>
                                                </li>
                                                <li>
                                                    <a class="guide-link2" href="#"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <div class="btn-more"><a href="News_Organ.aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3" class="aspx?n=8A33013523400F35&amp;sms=E9F640ECE968A7E1&amp;cid=3">更多 科學技術</a></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
