<div class="group base-module-area" id="base-module-area" data-index="<%= index %>" data-type="<%= $row %>" data-child="1"><div class="in">
	<div class="ct"><div class="in">

	<!-- slider 輪播 -->
		<%= render partial: "/erb/list-pic_slider", locals: set({ index: 1, func_set: "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", header_text: "輪播(圖片)" }) %>
	<!-- slider 結束 -->

	</div></div>
</div></div>