<div class="group page-menu" id="" data-index="1" data-type="1" data-child="2">
<div class="in">
	<div class="ct">
	<div class="in">
	<!-- 左欄 -->
	<div class="group base-aside">
		<div class="in">
			<div class="ct">
				<div class="in">
					<%= render partial: "/erb/area-customize_group-tab", locals: set({ index: 9, class_set: "is-pad-hide is-phone-hide", func_set: "{'tab':{}}", header_text: "主選單", inner: "/erb/area-customize_group-list_message" }) %>
				</div>
			</div>
		</div>
	</div>

	<!-- 右欄 -->
		<div class="group base-section">
		<div class="in">
			<div class="ct">
				<div class="in">
					<%= render partial: "/erb/base-section", locals: set({ index: 1 }) %>
				</div>
			</div>
		</div>
	</div>

	</div></div>
</div></div>