<script src="js/pubu/modernizr.custom.js"></script>
<script src="js/pubu/masonry.pkgd.min.js"></script>
        <script src="js/pubu/imagesloaded.js"></script>
        <script src="js/pubu/classie.js"></script>
        <script src="js/pubu/AnimOnScroll.js"></script>
        <script>
            new AnimOnScroll( document.getElementById( 'grid' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
            } );
        </script>
<style>
/* Effect 3: Scale up */
.grid.effect-3 li.animate {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-animation: scaleUp 0.65s ease-in-out forwards;
    animation: scaleUp 0.65s ease-in-out forwards;
}

@-webkit-keyframes scaleUp {
    0% { }
    100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes scaleUp {
    0% { }
    100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}   
</style>
<div id="Group_2353_MS8FRaacvu grid" data-widthmobile="0" data-index="2" data-type="1" data-anchor="" data-widthdesktop="100" data-bgcolor="#0000ffff" class="group default serviceBox" data-groupsn="2353" data-widthpad="0" data-child="15" data-sort="4" data-isgroup="true" data-groupname="需要其他服務嗎" data-menuwidth="" data-bgclass="serviceBox" data-tabtype="1">
    <div class="in">
        <div class="hd">
            <div class="in">
                <h3 data-index="0">     <span><a onkeypress="this.click();" title="需要其他服務嗎">需要其他服務嗎</a></span></h3></div>
        </div>
        <div class="ct">
            <div class="in">
                <div id="Group_3725_RicXUFhgHy" data-sitesmodulesn="5" data-sort="2" data-bgcolor="#0000ffff" data-groupsn="3725" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider public" data-func="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}" data-type="4" data-bgclass="public" data-index="1" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">       <span><a onkeypress="this.click();" title="公共資訊">公共資訊</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="7">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="政府財政"> <i class="mark">106-01-04</i>政府財政</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="政府統計"> <i class="mark">106-01-04</i>政府統計</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="政府採購"> <i class="mark">106-01-04</i>政府採購</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="政府新聞"> <i class="mark">106-01-04</i>政府新聞</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="政府出版"> <i class="mark">106-01-04</i>政府出版</a></span></li>
                                                            <li data-index="6"> <span><a onkeypress="this.click();" href="#" title="資訊服務"> <i class="mark">106-01-04</i>資訊服務</a></span></li>
                                                            <li data-index="7"> <span><a onkeypress="this.click();" href="#" title="法律服務"> <i class="mark">106-01-04</i>法律服務</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ft">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1" class="more"> <span><a onkeypress="this.click();" href="News_Link.aspx?n=5C28A0E32DF925F9&amp;sms=2FB568D1A7B39AD2" title="更多 公共資訊" target="_self">更多 公共資訊</a></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2355_aLbrWBoHxa" data-sitesmodulesn="5" data-sort="4" data-bgcolor="#0000ffff" data-groupsn="2355" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider born" data-type="4" data-bgclass="born" data-index="2" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="生育、收養">生育、收養</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="6">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="懷孕"> <i class="mark">106-01-04</i>懷孕</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="生產"> <i class="mark">106-01-04</i>生產</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="流產"> <i class="mark">106-01-04</i>流產</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="新生兒"> <i class="mark">106-01-04</i>新生兒</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="收養"> <i class="mark">106-01-04</i>收養</a></span></li>
                                                            <li data-index="6"> <span><a onkeypress="this.click();" href="#" title="身分認定"> <i class="mark">106-01-04</i>身分認定</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2355_aLbrWBoHxa {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2356_wJqVjivWbM" data-sitesmodulesn="5" data-sort="6" data-bgcolor="#0000ffff" data-groupsn="2356" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider learn" data-type="4" data-bgclass="learn" data-index="3" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="求學及進修">求學及進修</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="9">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="幼兒教育"> <i class="mark">106-01-04</i>幼兒教育</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="國民中小學"> <i class="mark">106-01-04</i>國民中小學</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="高中及高職"> <i class="mark">106-01-04</i>高中及高職</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="大學及研究所"> <i class="mark">106-01-04</i>大學及研究所</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="出國留學"> <i class="mark">106-01-04</i>出國留學</a></span></li>
                                                            <li data-index="6"> <span><a onkeypress="this.click();" href="#" title="特殊教育"> <i class="mark">106-01-04</i>特殊教育</a></span></li>
                                                            <li data-index="7"> <span><a onkeypress="this.click();" href="#" title="補習教育"> <i class="mark">106-01-04</i>補習教育</a></span></li>
                                                            <li data-index="8"> <span><a onkeypress="this.click();" href="#" title="終身學習"> <i class="mark">106-01-04</i>終身學習</a></span></li>
                                                            <li data-index="9"> <span><a onkeypress="this.click();" href="#" title="教育補助及生活協助"> <i class="mark">106-01-04</i>教育補助及生活協助</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2356_wJqVjivWbM {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2357_QpvsVQqfaP" data-sitesmodulesn="5" data-sort="8" data-bgcolor="#0000ffff" data-groupsn="2357" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider lifeSafe" data-type="4" data-bgclass="lifeSafe" data-index="4" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="生活安全及品質">生活安全及品質</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="5">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="人身及財物安全"> <i class="mark">106-01-04</i>人身及財物安全</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="食品安全"> <i class="mark">106-01-04</i>食品安全</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="居家及社區生活"> <i class="mark">106-01-04</i>居家及社區生活</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="環境品質"> <i class="mark">106-01-04</i>環境品質</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="消費者權益"> <i class="mark">106-01-04</i>消費者權益</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2357_QpvsVQqfaP {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2358_cviEWeTDSs" data-sitesmodulesn="5" data-sort="10" data-bgcolor="#0000ffff" data-groupsn="2358" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider live" data-type="4" data-bgclass="live" data-index="5" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="生命禮儀">生命禮儀</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="4">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="往生"> <i class="mark">106-01-04</i>往生</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="器官捐贈"> <i class="mark">106-01-04</i>器官捐贈</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="殯葬服務"> <i class="mark">106-01-04</i>殯葬服務</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="遺產繼承"> <i class="mark">106-01-04</i>遺產繼承</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2358_cviEWeTDSs {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2359_cFqMrLThsN" data-sitesmodulesn="5" data-sort="12" data-bgcolor="#0000ffff" data-groupsn="2359" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider traffic" data-type="4" data-bgclass="traffic" data-index="6" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="交通及通訊">交通及通訊</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="6">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="鐵路運輸"> <i class="mark">106-01-04</i>鐵路運輸</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="公路運輸"> <i class="mark">106-01-04</i>公路運輸</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="航空運輸"> <i class="mark">106-01-04</i>航空運輸</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="河運及海運"> <i class="mark">106-01-04</i>河運及海運</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="監理"> <i class="mark">106-01-04</i>監理</a></span></li>
                                                            <li data-index="6"> <span><a onkeypress="this.click();" href="#" title="通訊電信"> <i class="mark">106-01-04</i>通訊電信</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2359_cFqMrLThsN {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2360_gNRUHmY6cI" data-sitesmodulesn="5" data-sort="14" data-bgcolor="#0000ffff" data-groupsn="2360" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider tour" data-type="4" data-bgclass="tour" data-index="7" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="休閒旅遊">休閒旅遊</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="5">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="國內旅遊"> <i class="mark">106-01-04</i>國內旅遊</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="國外旅遊"> <i class="mark">106-01-04</i>國外旅遊</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="休閒娛樂"> <i class="mark">106-01-04</i>休閒娛樂</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="運動體育"> <i class="mark">106-01-04</i>運動體育</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="藝術文化"> <i class="mark">106-01-04</i>藝術文化</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2360_gNRUHmY6cI {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2361_AtAWvoxmYK" data-sitesmodulesn="5" data-sort="16" data-bgcolor="#0000ffff" data-groupsn="2361" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider job" data-type="4" data-bgclass="job" data-index="8" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="求職就業、創業">求職就業、創業</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="9">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="求職準備"> <i class="mark">106-01-04</i>求職準備</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="求才情報"> <i class="mark">106-01-04</i>求才情報</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="身心障礙者及原住民就業保障"> <i class="mark">106-01-04</i>身心障礙者及原住民就業保障</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="勞工權益"> <i class="mark">106-01-04</i>勞工權益</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="職場安全及性別平等"> <i class="mark">106-01-04</i>職場安全及性別平等</a></span></li>
                                                            <li data-index="6"> <span><a onkeypress="this.click();" href="#" title="創業準備"> <i class="mark">106-01-04</i>創業準備</a></span></li>
                                                            <li data-index="7"> <span><a onkeypress="this.click();" href="#" title="公司設立"> <i class="mark">106-01-04</i>公司設立</a></span></li>
                                                            <li data-index="8"> <span><a onkeypress="this.click();" href="#" title="商標專利"> <i class="mark">106-01-04</i>商標專利</a></span></li>
                                                            <li data-index="9"> <span><a onkeypress="this.click();" href="#" title="稅務及人力招募"> <i class="mark">106-01-04</i>稅務及人力招募</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2361_AtAWvoxmYK {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2362_iGWMXQkpCf" data-sitesmodulesn="5" data-sort="18" data-bgcolor="#0000ffff" data-groupsn="2362" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider money" data-type="4" data-bgclass="money" data-index="9" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="投資理財">投資理財</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="2">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="財務管理"> <i class="mark">106-01-04</i>財務管理</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="投資工具"> <i class="mark">106-01-04</i>投資工具</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2362_iGWMXQkpCf {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2363_f5LDq8HCKR" data-sitesmodulesn="5" data-sort="20" data-bgcolor="#0000ffff" data-groupsn="2363" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider soldier" data-type="4" data-bgclass="soldier" data-index="10" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="服兵役">服兵役</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="5">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="志願役"> <i class="mark">106-01-04</i>志願役</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="義務役"> <i class="mark">106-01-04</i>義務役</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="國防役"> <i class="mark">106-01-04</i>國防役</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="後備軍人"> <i class="mark">106-01-04</i>後備軍人</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="退伍軍人"> <i class="mark">106-01-04</i>退伍軍人</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2363_f5LDq8HCKR {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2364_7Ly584mxkv" data-sitesmodulesn="5" data-sort="22" data-bgcolor="#0000ffff" data-groupsn="2364" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider hospital" data-type="4" data-bgclass="hospital" data-index="11" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="就醫">就醫</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="6">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="全民健康保險"> <i class="mark">106-01-04</i>全民健康保險</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="醫療院所及衛生所"> <i class="mark">106-01-04</i>醫療院所及衛生所</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="緊急醫療"> <i class="mark">106-01-04</i>緊急醫療</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="用藥安全"> <i class="mark">106-01-04</i>用藥安全</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="傳染病"> <i class="mark">106-01-04</i>傳染病</a></span></li>
                                                            <li data-index="6"> <span><a onkeypress="this.click();" href="#" title="罕見疾病"> <i class="mark">106-01-04</i>罕見疾病</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2364_7Ly584mxkv {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2365_vAN83jrEFT" data-sitesmodulesn="5" data-sort="24" data-bgcolor="#0000ffff" data-groupsn="2365" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider old" data-type="4" data-bgclass="old" data-index="12" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="退休、老年安養">退休、老年安養</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="3">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="退休準備"> <i class="mark">106-01-04</i>退休準備</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="老年津貼"> <i class="mark">106-01-04</i>老年津貼</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="老人養護"> <i class="mark">106-01-04</i>老人養護</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2365_vAN83jrEFT {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2366_5YmWDEyoPg" data-sitesmodulesn="5" data-sort="26" data-bgcolor="#0000ffff" data-groupsn="2366" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider marriage" data-type="4" data-bgclass="marriage" data-index="13" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="婚姻">婚姻</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="4">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="婚姻準備及福利"> <i class="mark">106-01-04</i>婚姻準備及福利</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="結婚方式"> <i class="mark">106-01-04</i>結婚方式</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="結婚登記"> <i class="mark">106-01-04</i>結婚登記</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="離婚"> <i class="mark">106-01-04</i>離婚</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2366_5YmWDEyoPg {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2367_P4VjHoidk9" data-sitesmodulesn="5" data-sort="28" data-bgcolor="#0000ffff" data-groupsn="2367" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider vote" data-type="4" data-bgclass="vote" data-index="14" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="選舉及投票">選舉及投票</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="7">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="總統選舉"> <i class="mark">106-01-04</i>總統選舉</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="立法委員選舉"> <i class="mark">106-01-04</i>立法委員選舉</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="直轄市長、縣市長及議員選舉"> <i class="mark">106-01-04</i>直轄市長、縣市長及議員選舉</a></span></li>
                                                            <li data-index="4"> <span><a onkeypress="this.click();" href="#" title="鄉鎮市長及鄉鎮市民代表選舉"> <i class="mark">106-01-04</i>鄉鎮市長及鄉鎮市民代表選舉</a></span></li>
                                                            <li data-index="5"> <span><a onkeypress="this.click();" href="#" title="村里長選舉"> <i class="mark">106-01-04</i>村里長選舉</a></span></li>
                                                            <li data-index="6"> <span><a onkeypress="this.click();" href="#" title="全國性公民投票"> <i class="mark">106-01-04</i>全國性公民投票</a></span></li>
                                                            <li data-index="7"> <span><a onkeypress="this.click();" href="#" title="地方性公民投票"> <i class="mark">106-01-04</i>地方性公民投票</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2367_P4VjHoidk9 {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="Group_2368_Bjgmree9qo" data-sitesmodulesn="5" data-sort="30" data-bgcolor="#0000ffff" data-groupsn="2368" data-widthdesktop="33" data-anchor="" data-tabtype="0" class="group-list slider house" data-type="4" data-bgclass="house" data-index="15" data-widthmobile="0" data-groupname="" data-widthpad="0" data-menuwidth="" data-isgroup="true" data-child="1" data-funclog="{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}">
                    <div class="in">
                        <div class="hd">
                            <div class="in">
                                <h3 data-index="0">     <span><a onkeypress="this.click();" title="購屋及遷徙">購屋及遷徙</a></span></h3></div>
                        </div>
                        <div class="ct">
                            <div class="in">
                                <ul data-index="1" data-child="1">
                                    <li data-index="1">
                                        <div class="list-text link" data-index="1" data-type="0" data-child="1">
                                            <div class="in">
                                                <div class="ct">
                                                    <div class="in">
                                                        <ul data-index="1" data-child="3">
                                                            <li data-index="1"> <span><a onkeypress="this.click();" href="#" title="買賣房屋"> <i class="mark">106-01-04</i>買賣房屋</a></span></li>
                                                            <li data-index="2"> <span><a onkeypress="this.click();" href="#" title="搬家"> <i class="mark">106-01-04</i>搬家</a></span></li>
                                                            <li data-index="3"> <span><a onkeypress="this.click();" href="#" title="移民"> <i class="mark">106-01-04</i>移民</a></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <style>
                                @media (min-width: 960px) {
                                    #Group_2368_Bjgmree9qo {
                                        width: 33%;
                                    }
                                }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>
                <style>
                @media (min-width: 960px) {
                    #Group_2353_MS8FRaacvu {
                        width: 100%;
                    }
                }
                </style>
            </div>
        </div>
    </div>
</div>


        <script>
            new AnimOnScroll( document.getElementById( 'grid' ), {
                minDuration : 0.4,
                maxDuration : 0.7,
                viewportFactor : 0.2
            } );
        </script>