//表單區塊

.area-form {

//預設================================================================

	&.default {

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//搜尋================================================================

	&.search {

		.base-mobile & {

			> .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				.fieldset {
					position: relative;

					span {
						$icon-width: 36px;

						display: block;

						&.search {
							display: block;
							padding-right: $icon-width;

							input {
								display: block;
								width: 100%;
							}
						}

						&.submit {

							a {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: $icon-width;
								background-color: $btn-bg-color;
								@extend %hide-text;
								@include bg-to-pic('icon-pic/icon-w-search.png' ,false)
							}
						}
					}
				}

				.list {
					display: none;
					
					ul {

					}

					li {

					}

					span {

					}

					a {

					}
				}
			}

			.ft {

				> .in {

				}

				ul {
					margin-top: $interval-m;
				}

				li {
					@extend %btn;
					display: block;
					text-align: center;

					&.advanced {

					}
				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			position: absolute;
			top: 36px;
			right: 10px;
			z-index: 3;

			@include js(false) {
				top: 40px;
			}

			@include media('mobile') {
				display: none;
			}

			&.is-open {

				.ct {

					.list {
						display: block;
					}
				}
			}

			> .in {
				margin: 0;
			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {
				display: inline-block;

				> .in {

				}

				.fieldset {
					position: relative;

					@include js(false) {
						display: none;
					}

					span {
						$icon-width: 36px;

						display: block;

						&.search {
							display: block;
							padding-right: $icon-width;

							input {
								display: block;
								width: 100%;
							}
						}

						&.submit {

							a {
								position: absolute;
								top: 0;
								right: 0;
								bottom: 0;
								width: $icon-width;
								background-color: $btn-bg-color;
								transition: $transition;
								@extend %hide-text;
								@include bg-to-pic('icon-pic/icon-w-search.png' ,false);

								&:hover {
									background-color: $btn-hover-bg-color;
								}
							}
						}
					}
				}

				.list {
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					display: none;
					
					ul {
						@extend %reset;
						margin-top: $interval-m;
					}

					li {

						+ li {
							margin-top: $interval-s;
						}
					}

					span {
						display: block;
					}

					a {
						@extend %list;
						@extend %list-hover;
						box-shadow: $box-shadow;
					}
				}
			}

			.ft {
				display: inline-block;
				padding-left: $interval-s;

				> .in {

				}

				ul {
					display: inline;
				}

				li {
					display: inline;

					&.advanced {
						
					}
				}

				span {
					color: $white;
				}

				a {
					color: inherit;

					@include js(false) {
						@extend %btn;
					}
				}
			}
		}
	}

//連結================================================================

	&.link {

		@include js(false) {
			display: none;
		}

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('public');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			.select {

			}

			select {
				width: 100%;
			}

			option {
				width: 100%;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//投票================================================================

	&.vote {

		.base-extend &, .base-module-area &, .base-aside & {

			> .in {

			}

			.hd {

				> .in {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('radio_button_checked');
					}
				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				.essay {

				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark;
				}

				.p {
					@extend %paragraph;

					p {

					}

					span {

					}
				}

				.form {
					padding: $interval-m;
					background-color: $light;
				}

				.fieldset {

					+ .fieldset {
						margin-top: $interval-m;
						border-top: $border;
						border-top-color: $light-gray;
						padding-top: $interval-m;
						text-align: right;
					}

					span {

						&.radio {
							display: block;
							margin-top: $interval-s;
						}

						&.checkbox {
							display: block;
							margin-top: $interval-s;
						}

						&.submit {
							display: inline-block;
						}

						&.reset {
							display: inline-block;
						}

						&.button {
							display: inline-block;
						}
					}

					input {

						&[type="radio"] {

						}

						&[type="checkbox"] {
							
						}

						&[type="submit"] {
							@extend %btn-imp;
						}

						&[type="reset"] {
							
						}

						&[type="button"] {
							
						}
					}

					label {

					}
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-section & {

			> .in {

			}

			.hd {

				> .in {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('radio_button_checked');
					}
				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				.essay {

				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark;
				}

				.p {
					@extend %paragraph;

					p {

					}

					span {

					}
				}

				.form {
					@extend %article-extend;
					margin-top: $interval-l;
				}

				.fieldset {

					+ .fieldset {
						margin-top: $interval-m;
						border-top: $border;
						border-top-color: $light-gray;
						padding-top: $interval-m;
						text-align: right;
					}

					span {

						&.radio {
							display: block;
							margin-top: $interval-s;
						}

						&.checkbox {
							display: block;
							margin-top: $interval-s;
						}

						&.submit {
							display: inline-block;
						}

						&.reset {
							display: inline-block;
						}

						&.button {
							display: inline-block;
						}
					}

					input {

						&[type="radio"] {

						}

						&[type="checkbox"] {
							
						}

						&[type="submit"] {
							@extend %btn-imp;
						}

						&[type="reset"] {
							
						}

						&[type="button"] {
							
						}
					}

					label {

					}
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//電子報================================================================

	&.epaper {

		@include js(false) {
			display: none;
		}

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('email');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {

			}

			.fieldset{

				+ .fieldset {
					margin-top: $interval-s;
					text-align: right;
				}

				span {

					&.text {
						display: block;
					}

					&.submit {
						display: inline-block;
					}

					&.reset {
						display: inline-block;
					}
				}

				input {

					&[type="text"] {
						display: block;
						width: 100%;
					}

					&[type="submit"] {
						@extend %btn-imp;
					}

					&[type="reset"] {

					}
				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//送出================================================================

	&.submit {

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('font_download');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article-extend;

			> .in {

			}

			.fieldset {
				$height: 26px;

				+ .fieldset {
					margin-top: $interval-m;
					border-top: $border;
					border-top-color: $light-gray;
					padding-top: $interval-m;
					text-align: right;
				}

				span {
					display: block;

					&.is-error {

						label {
							color: $title-color;

							&:before {
								content: '* ';
							}
						}

						input {
							border-color: $title-color;
						}

						select {
							border-color: $title-color;
						}

						textarea {
							border-color: $title-color;
						}
					}

					label {
						display: block;
						margin-bottom: $interval-xs;

						&:after {
							content: '： ';
						}
					}

					&.select {
						margin-top: $interval-m;
					}

					&.text {
						margin-top: $interval-m;
					}

					&.email {
						margin-top: $interval-m;
					}

					&.textarea {
						margin-top: $interval-m;
					}

					&.button {
						display: inline-block;
					}

					&.submit {
						display: inline-block;
					}

					&.reset {
						display: inline-block;
					}
				}

				select {
					width: 100%;
					line-height: $height;

					option {

					}
				}

				input {

					&[type="text"] {
						width: 100%;
						line-height: $height;
					}

					&[type="email"] {
						width: 100%;
						line-height: $height;
					}

					&[type="submit"] {
						@extend %btn-imp;
					}

					&[type="reset"] {
						
					}

					&[type="button"] {
						background-color: transparent;
						color: $body-font-color;
					}
				}

				textarea {
					width: 100%;
				}

				.img {
					display: inline-block;
					vertical-align: top;

					span {
						display: block;
					}

					img {
						display: block;
						border: $border;
						border-color: $gray;
						margin: 0;
					}
				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

				&.advanced {
					
				}
			}

			span {

			}

			a {

			}
		}
	}

//登入與申請帳號================================================================

	&.sign-in {

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('person');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article-extend;

			> .in {

			}

			.form {

			}

			.fieldset {

				+ .fieldset {
					margin-top: $interval-m;
				}

				span {
					display: block;

					&.is-error {

						label {
							color: $title-color;

							&:before {
								content: '* ';
							}
						}

						input {
							border-color: $title-color;
						}
					}

					label {
						display: block;
						margin-bottom: $interval-xs;

						&:after {
							content: '： ';
						}
					}

					&.email {
						display: block;
						margin-top: $interval-m;
					}

					&.password {
						display: block;
						margin-top: $interval-m;
					}

					&.text {
						display: block;
						margin-top: $interval-m;
					}

					&.submit {

					}

					&.button {
						display: inline-block;
						vertical-align: top;
					}
				}

				.img {
					display: inline-block;
					vertical-align: top;

					span {
						display: block;
					}

					img {
						display: block;
						border: $border;
						border-color: $gray;
						margin: 0;
					}
				}

				input {
					$line-height: 25px;

					line-height: $line-height;
					width: 100%;

					&[type="email"] {

					}

					&[type="password"] {

					}

					&[type="text"] {

					}

					&[type="submit"] {
						@extend %btn-imp;
					}

					&[type="button"] {
						background-color: transparent;
						color: $body-font-color;
					}
				}
			}

			.list {
				margin-top: $interval-l;
				border-top: $border;
				border-top-color: $light-gray;
				padding-top: $interval-l;

				ul {
					@extend %reset;
				}

				li {

					+ li {
						margin-top: $interval-s;
					}

					@each $key, $map in $share-map {

						$pic: map-get($map, 'pic');
						$color: map-get($map, 'color');
						$deep-color: deeper($color);;

						&.#{$key}{

							span {

							}

							a {
								background-color: $color;
								border: $border-width $border-style $deep-color;
								text-decoration: none;

								&:before {
									@include icon-pic('#{$pic}');
									background-color: $deep-color;
								}

								&:hover {
									background-color: $deep-color;
								}
							}
						}
					}
				}

				span {
					display: block;
				}

				a {
					display: block;
					color: $white;
					transition: $transition;

					&:before {
						margin-right: $interval-l;
					}
				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

				&.forget-password {

				}
			}

			span {

			}

			a {

			}
		}
	}

//內頁搜尋================================================================

	&.page-search {
		@extend %area-page-no-header;

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {
			$height: 30px;

			background-color: $light;
			padding: $interval-s;

			> .in {

			}

			.fieldset {
				display: inline-block;
				margin: $interval-s;

				span {
					display: inline-block;
					vertical-align: middle;

					&:before {
						content: attr(data-before);
					}

					&:after {
						content: attr(data-after);
					}

					&.select {

					}

					&.date {

					}

					&.search {

					}

					&.submit {

					}

					&.reset {

					}
				}

				select {
					line-height: $height;
					height: $height;
					max-width: 120px;

					option {

					}
				}

				input {

					&[type="search"] {
						line-height: $height;
						height: $height;
					}

					&[type="date"] {
						line-height: $height;
						height: $height;
					}

					&[type="submit"] {
						@extend %btn-imp;
					}

					&[type="reset"] {
						
					}
				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

				&.advanced {
					
				}
			}

			span {

			}

			a {

			}
		}
	}

//內頁表單================================================================

	&.page-form {

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('view_comfortable');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {
			@extend %article-extend;

			> .in {

			}

			.fieldset {
				$height: 26px;

				+ .fieldset {
					margin-top: $interval-m;
					border-top: $border;
					padding-top: $interval-m;
					text-align: right;
				}

				span {
					display: block;

					&.select {
						margin-top: $interval-s;
					}

					&.text {
						margin-top: $interval-s;
					}

					&.password {
						margin-top: $interval-s;
					}

					&.date {
						margin-top: $interval-s;
					}
					
					&.number {
						margin-top: $interval-s;
					}
					
					&.search {
						margin-top: $interval-s;
					}

					&.email {
						margin-top: $interval-s;
					}

					&.radio {
						margin-top: $interval-s;
					}

					&.checkbox {
						margin-top: $interval-s;
					}

					&.textarea {
						margin-top: $interval-s;
					}

					&.submit {
						display: inline-block;
					}

					&.reset {
						display: inline-block;
					}

					&.button {
						display: inline-block;
					}
				}

				select {
					max-width: 100%;
					line-height: $height;

					option {

					}
				}

				input {
					max-width: 100%;

					&[type="text"] {
						line-height: $height;

						@include media('phone') {
							display: block;
							width: 100%;
						}
					}

					&[type="password"] {
						line-height: $height;

						@include media('phone') {
							display: block;
							width: 100%;
						}
					}

					&[type="date"] {
						line-height: $height;

						@include media('phone') {
							display: block;
							width: 100%;
						}
					}
					
					&[type="number"] {
						line-height: $height;

						@include media('phone') {
							display: block;
							width: 100%;
						}
					}
					
					&[type="search"] {
						line-height: $height;

						@include media('phone') {
							display: block;
							width: 100%;
						}
					}

					&[type="email"] {
						line-height: $height;

						@include media('phone') {
							display: block;
							width: 100%;
						}
					}

					&[type="radio"] {
						line-height: $height;
					}

					&[type="checkbox"] {
						line-height: $height;
					}

					&[type="submit"] {
						@extend %btn-imp;
					}

					&[type="reset"] {
						
					}

					&[type="button"] {

					}
				}

				textarea {
					max-width: 100%;
				}

				label {
					line-height: $height;
				}

				.img {
					display: inline-block;
					vertical-align: middle;

					span {
						display: block;
					}

					img {
						display: block;
						border: $border;
						border-color: $gray;
						margin: 0;
					}
				}
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

				&.advanced {
					
				}
			}

			span {

			}

			a {

			}
		}
	}
}