//編輯區塊

.area-editor {

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&::before {
					@include icon-font('mode_edit');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//聯絡資訊編輯================================================================

	&.address {
		@extend %area-mobile-no-header;

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			a {
				@extend %a;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//使用者編輯================================================================

	&.user-edit {
		@extend %area-page-no-header;

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {
			@extend %article-extend;

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//系統資訊================================================================

	&.system-info {
		@extend %area-page-no-header;

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {
			@extend %article;

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//錯誤訊息================================================================

	&.error-info {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				$color: #c40;

				@extend %title;
				color: $color;
				font-size: $font-size-xl;

				&::before {
					@include icon-font('error');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {
			@extend %article-extend;

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}