//客製區塊

.area-customize {

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				
			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {

			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//視訊================================================================

	&.video {

		.base-extend &, .base-module-area &, .base-aside & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('movie');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				.video {
					margin-bottom: $interval-s;

					video {
						width: 100%;
					}

					source {

					}

					object {
						min-height: 45px;
						width: 100%;
						margin-bottom: $interval-s;
					}

					span {
						display: block;
						padding: $interval-s;
						background-color: $light;
					}

					a {
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark;
				}

				.paragraph {
					@extend %paragraph;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-page-area & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('movie');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				.video {
					margin-bottom: $interval-s;

					video {
						width: 100%;
					}

					source {

					}

					object {
						min-height: 45px;
						width: 100%;
						margin-bottom: $interval-s;
					}

					span {
						display: block;
						padding: $interval-s;
						background-color: $light;
					}

					a {
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark-1;
				}

				.paragraph {
					@extend %article-extend;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//音訊================================================================

	&.audio {

		.base-extend &, .base-module-area &, .base-aside & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('audiotrack');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				.audio {
					margin-bottom: $interval-s;

					audio {
						width: 100%;
					}

					source {

					}

					object {
						min-height: 45px;
						width: 100%;
						margin-bottom: $interval-s;
					}

					span {
						display: block;
						padding: $interval-s;
						background-color: $light;
					}

					a {
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark;
				}

				.paragraph {
					@extend %paragraph;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-page-area & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('audiotrack');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				.audio {
					margin-bottom: $interval-s;

					audio {
						width: 100%;
					}

					source {

					}

					object {
						min-height: 45px;
						width: 100%;
						margin-bottom: $interval-s;
					}

					span {
						display: block;
						padding: $interval-s;
						background-color: $light;
					}

					a {
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark-1;
				}

				.paragraph {
					@extend %article-extend;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//框架================================================================

	&.iframe {

		.base-extend &, .base-module-area &, .base-aside & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('public');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				.iframe {
					margin-bottom: $interval-s;

					iframe {
						display: block;
						width: 100%;
					}
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark;
				}

				.paragraph {
					@extend %paragraph;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-page-area & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('public');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				.iframe {
					margin-bottom: $interval-s;

					iframe {
						display: block;
						width: 100%;
					}
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark-1;
				}

				.paragraph {
					@extend %article-extend;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//地圖================================================================

	&.map {

		@include js(false) {
			display: none;
		}

		.base-extend &, .base-module-area &, .base-aside & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('place');
					}
				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {

				}

				.divition {
					margin-bottom: $interval-s;
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark;
				}

				.paragraph {
					@extend %paragraph;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-page-area & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('place');
					}
				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {

				}

				.divition {
					margin-bottom: $interval-s;
				}

				.essay {
					
				}

				.caption {
					@extend %caption;

					span {
						
					}

					a {

					}
				}

				.label {
					@extend %label;

					ul {

					}

					li {

					}

					span {

					}
				}

				/*i*/.mark {
					@extend %mark-1;
				}

				.paragraph {
					@extend %article-extend;

					p {

					}

					span {

					}
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}
}