//視訊區塊

.area-video {
	$type: 0; //類型代碼

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('movie');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			.video {
				margin-bottom: $interval-s;

				video {
					width: 100%;
				}

				source {

				}

				object {
					min-height: 45px;
					width: 100%;
					margin-bottom: $interval-s;
				}

				span {
					display: block;
					padding: $interval-s;
					background-color: $light;
				}

				a {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}

			.essay {
				
			}

			.caption {
				@extend %caption;

				span {
					
				}

				a {

				}
			}

			.label {
				@extend %label;

				ul {

				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark;
			}

			.paragraph {
				@extend %paragraph;

				p {

				}

				span {

				}
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}