//文章區塊

.area-essay {
	$type: 0; //類型代碼

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//訊息================================================================

	&.message {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('message');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			/*a*/.divition {
				padding: $interval-s;
				background-color: $light;
				transition: $transition;
				
				&:after {
					@extend %clear;
				}

				&:hover {
					background-color: $light-gray;
				}
			}

			.image {
				float: left;
				margin-right: $interval-m;

				span {
					@extend %bg-cover;
					display: block;
					width: 80px;
					height: 80px;
				}

				img {
					display: none;
				}
			}

			.essay {

			}

			.caption {
				@extend %caption;

				span {
					
				}

				a {

				}
			}

			.label {
				@extend %label;

				ul {

				}

				li {

				}

				span {

				}
			}

			/*i*/.mark {
				@extend %mark;
			}

			.paragraph {
				@extend %paragraph;

				p {

				}

				span {

				}
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//說明文字================================================================

	&.captions {

		> .inner {

		}

		.header {

			> .inner {

			}

			h3 {

			}

			span {
					
			}

			a {

			}
		}

		.content {
			@extend %article;

			> .inner {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}