//圖片列表

.list-pic {

//設定================================================================

	.ct {

		ul {
			@extend %reset;
		}
	}

//預設================================================================

	&.default {

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}

			/*i*/.mark {
				
			}

			img {
				
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//輪播================================================================

	&.slider {

		> .in {
			
		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('slideshow');
				}
			}

			span {

			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

			}

			li {

				+ li {
					display: none;

					@include js(false) {
						display: block;
						margin-top: $interval-m;
					}
				}
			}

			span {
				display: block;
				background-image: none !important;
			}

			a {
				display: block;
			}

			/*i*/.mark {
				@extend %mark-absolute;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}
				}

				&.prev {

				}

				&.next {

				}

				&.more {

				}
			}

			span {

			}

			a {

			}
		}
	}

//跑馬燈輪播================================================================

	&.page-marquee {
		$btn-width: 30px; //設定按鈕寬度
		$max-li-len: 50; //設定 li 的最大數量
		$show-li-len: 4; //設定一次要秀的數量
		$max-show-li-len: 10; //設定一次要秀的範圍數量，給 alinelwngth 用

		> .in {

		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {
			background-color: $light;

			> .in {
				overflow: hidden;
				// margin: 0 $btn-width; //如果要與圖不重疊

				@include js(false) {
					margin: 0;
				}
			}

			ul {
				width: $max-li-len * 100% / $show-li-len;

				@include set-len-rwd('pad', 2, $max-li-len * 100%);
				@include set-len-rwd('phone', 1, $max-li-len * 100%);

				@include js(false) {
					width: 100%;
				}

				&:after {
					@extend %clear;
				}
			}

			li {
				width: 100% / $max-li-len;
				float: left;

				@include js(false) {
					width: 100% / $show-li-len;
				}
			}

			span {
				@extend %bg-cover;
				position: relative;
				display: block;
				margin: $interval-xs;
				border: $interval-xs solid $light-gray;
				height: 80px;

				@include media('phone') {
					height: 160px;
				}
			}

			a {
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($black, $opacity-m);
				transition: $transition;

				&:hover {
					opacity: 0;
				}

				@include media('mobile') {
					background-color: transparent;
				}
			}

			/*i*/.mark {
				@extend %mark-absolute;
			}

			img {
				display: none;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}

					a {
						@extend %hide-text;
						position: absolute;
						top: 0;
						bottom: 0;
						display: block;
						width: $btn-width;
						transition: $transition;
						background-color: $light;
						background-color: rgba($light, $opacity-h);

						&:hover {
							background-color: rgba($light, $opacity-vh);
						}
					}
				}

				&.prev {

					a {
						left: 0;
						@include bg-to-pic('icon-pic/away-b-left.png', false);
					}
				}

				&.next {

					a {
						right: 0;
						@include bg-to-pic('icon-pic/away-b-right.png', false);
					}
				}

				&.more {
					display: none;
				}
			}

			span {

			}

			a {

			}
		}
	}

//連結================================================================

	&.link {
		$default-len: 3;

		@include default-len(0, $default-len);
		@include set-len(0);
		margin-top: 0;

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('public');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {
				
			}

			span {
				margin: $interval-xs;
				display: block;
			}

			a {
				@extend %mask;
			}

			/*i*/.mark {
				@extend %mark-absolute;
			}

			img {
				width: 100%;
				display: block;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//相簿================================================================

	&.album {
		$default-len: 3;

		@include default-len(0, $default-len);
		@include set-len(0);
		margin-top: 0;

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('public');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {
				
			}

			span {
				margin: $interval-xs;
				display: block;
			}

			a {
				@extend %mask;
			}

			/*i*/.mark {
				@extend %mark-absolute;
			}

			img {
				width: 100%;
				display: block;
			}
		}

		.ft {
			@extend %footer-btns;

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//各種標章================================================================

	&.icon {

		.base-content & {
			@extend %area-page-no-header;

			@include media('mobile') {
				display: none;
			}

			> .in {

			}

			.hd {

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				ul {
					text-align: right;
				}

				li {
					display: inline-block;
					vertical-align: top;

					&.qrcode {

					}
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				/*i*/.mark {
					
				}

				img {
					display: block;
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {
			margin-top: 0;
			float: right;

			@include media('mobile') {
				display: none;
			}

			> .in {

			}

			.hd {
				display: none;

				> .in {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.ct {

				> .in {
					
				}

				ul {

				}

				li {
					display: inline-block;
					vertical-align: top;

					&.wcag {

					}

					&.egov {

					}

					&.qrcode {

					}
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				/*i*/.mark {
					
				}

				img {
					display: block;
				}
			}

			.ft {

				> .in {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//圖片下載================================================================

	&.pic-download {
		@include default-len(4, 5);

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('cloud_download');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {
				@include set-len-rwd('pad', 3);
				@include set-len-rwd('phone', 1);

				&.is-img {
					
					a {
						@include bg-to-pic('icon-pic/icon-w-img.png', false);
						background-position: top $interval-s left $interval-s;
					}
				}

				&.is-vedio {
					
					a {
						@include bg-to-pic('icon-pic/icon-w-vedio.png', false);
						background-position: top $interval-s left $interval-s;
					}
				}
			}

			span {
				@extend %bg-cover;
				position: relative;
				display: block;
				margin: $interval-xs;
				border: $interval-xs solid $light-gray;
				height: 100px;

				@include media('phone') {
					height: 180px;
				}
			}

			a {
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($black, $opacity-m);
				transition: $transition;

				&:hover {
					opacity: 0;
				}

				@include media('mobile') {
					background-color: transparent;
				}
			}

			/*i*/.mark {
				@extend %mark-absolute;
			}

			img {
				display: none;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片列表================================================================

	&.page-list {
		@include default-len(4, 5);

		> .in {

		}

		.hd {

			> .in {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('photo');
				}
			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {
				@include set-len-rwd('pad', 3);
				@include set-len-rwd('phone', 1);
			}

			span {
				@extend %bg-cover;
				position: relative;
				display: block;
				margin: $interval-xs;
				border: $interval-xs solid $light-gray;
				height: 100px;

				@include media('phone') {
					height: 180px;
				}
			}

			a {
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($black, $opacity-m);
				transition: $transition;

				&:hover {
					opacity: 0;
				}

				@include media('mobile') {
					background-color: transparent;
				}
			}

			/*i*/.mark {
				@extend %mark-absolute;
			}

			img {
				display: none;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁圖片區塊列表================================================================

	&.page-block {
		$btn-width: 45px; //設定按鈕寬度

		> .in {
			position: relative;
		}

		.hd {
			display: none;

			> .in {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.ct {

			> .in {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {

				+ li {
					display: none;
				}
			}

			span {
				display: block;
				background-image: none !important;
			}

			a {
				display: block;
			}

			/*i*/.mark {
				@extend %mark-absolute;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.ft {

			> .in {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}

					a {
						@extend %hide-text;
						position: absolute;
						top: 20%;
						bottom: 20%;
						display: block;
						width: $btn-width;
						transition: $transition;
						background-color: $light;
						background-color: rgba($light, $opacity-h);

						&:hover {
							background-color: rgba($light, $opacity-vh);
						}
					}
				}

				&.prev {

					a {
						left: 0;
						@include bg-to-pic('icon-pic/away-b-left.png', false);
					}
				}

				&.next {

					a {
						right: 0;
						@include bg-to-pic('icon-pic/away-b-right.png', false);
					}
				}

				&.more {
					display: none;
				}
			}

			span {

			}

			a {

			}
		}
	}
}