//圖片列表

.list-pic {
	$type: 0; //類型代碼

//設定================================================================
		
	.content {

		ul {
			@extend %reset;
		}
	}

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}

			img {
				
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//各種標章================================================================

	&.icon {
		margin-top: 0;

		.base-article & {

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {
					text-align: right;
				}

				li {
					display: inline-block;
					vertical-align: top;

					&.qrcode {

					}
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				img {
					display: block;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {
			float: right;

			@include media('mobile') {
				display: none;
			}

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {

				}

				li {
					display: inline-block;
					vertical-align: top;

					&.wcag {

					}

					&.egov {

					}

					&.qrcode {

					}
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				img {
					display: block;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//圖片下載================================================================

	&.pic-download {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {
				$li-len: 5;

				width: 100% / $li-len;
				float: left;
			}

			span {
				@extend %bg-cover;
				position: relative;
				display: block;
				margin: $interval-xs;
				border: $interval-xs solid $light-gray;
				height: 100px;
			}

			a {
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($black, $opacity-m);
				transition: $transition;

				&:hover {
					opacity: 0;
				}

				@include media('mobile') {
					background-color: transparent;
				}
			}

			img {
				display: none;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//展開圖片列表================================================================

	&.extend {

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {
				$li-len: 5;

				width: 100% / $li-len;
				float: left;
			}

			span {
				@extend %bg-cover;
				position: relative;
				display: block;
				margin: $interval-xs;
				border: $interval-xs solid $light-gray;
				height: 100px;
			}

			a {
				@extend %mask;

				@include media('mobile') {
					background-color: transparent;
				}
			}

			img {
				display: none;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//輪播圖片列表================================================================

	&.marqee {
		$btn-width: 36px;
		$max-li-len: 20; //設定 li 的最大數量
		$show-li-len: 5; //設定一次要秀的數量

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {
			margin: 0 $btn-width + $interval-xs;

			@include js(false) {
				margin: 0;
			}

			> .inner {
				overflow: hidden;
			}

			ul {
				overflow: hidden;
				width: $max-li-len / $show-li-len * 100%;

				@include js(false) {
					width: 100%;
				}


				&:after {
					@extend %clear;
				}
			}

			li {
				width: 100% / $show-li-len / ( $max-li-len / $show-li-len );
				float: left;

				@include js(false) {
					width: 100% / $show-li-len;

					&:nth-child(#{$show-li-len}n+1) {
						clear: left;
					}
				}
			}

			span {
				@extend %bg-cover;
				position: relative;
				display: block;
				margin: $interval-xs;
				border: $interval-xs solid $light-gray;
				height: 80px;
			}

			a {
				position: absolute;
				display: block;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($black, $opacity-m);
				transition: $transition;

				&:hover {
					opacity: 0;
				}

				@include media('mobile') {
					background-color: transparent;
				}
			}

			img {
				display: none;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}

					a {
						@extend %hide-text;
						position: absolute;
						top: 0px;
						display: block;
						width: $btn-width;
						height: 100%;
						transition: $transition;

						&:hover {
							background-color: $light;
						}
					}
				}

				&.prev {

					a {
						left: $layout-interval;
						@include bg-to-pic('icon-pic/away-b-left.png', false);
					}
				}

				&.next {

					a {
						right: $layout-interval;
						@include bg-to-pic('icon-pic/away-b-right.png', false);
					}
				}

				&.more {
					display: none;
				}
			}

			span {

			}

			a {

			}
		}
	}

//圖片區塊列表================================================================

	&.block {
		$btn-width: 45px; //設定按鈕寬度

		> .inner {
			position: relative;
		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {

				+ li {
					display: none;
				}
			}

			span {
				display: block;
				background-image: none !important;
			}

			a {
				display: block;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}

					a {
						@extend %hide-text;
						position: absolute;
						top: 20%;
						bottom: 20%;
						display: block;
						width: $btn-width;
						transition: $transition;
						background-color: $light;
						background-color: rgba($light, $opacity-h);

						&:hover {
							background-color: $light-gray;
							background-color: rgba($light-gray, $opacity-h);
						}
					}
				}

				&.prev {

					a {
						left: 0;
						@include bg-to-pic('icon-pic/away-b-left.png', false);
					}
				}

				&.next {

					a {
						right: 0;
						@include bg-to-pic('icon-pic/away-b-right.png', false);
					}
				}

				&.more {
					display: none;
				}
			}

			span {

			}

			a {

			}
		}
	}

//輪播================================================================

	&.slider {

		> .inner {
			
		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('slideshow');
				}
			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {

				+ li {
					display: none;

					@include js(false) {
						display: block;
						margin-top: $interval-m;
					}
				}
			}

			span {
				display: block;
				background-image: none !important;
			}

			a {
				display: block;
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}
				}

				&.prev {

				}

				&.next {

				}

				&.more {

				}
			}

			span {

			}

			a {

			}
		}
	}

//連結================================================================

	&.link {
		$default-len: 3;

		@include default-len($type, $default-len);
		@include set-len($type);
		margin-top: 0;

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('link');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

				&:after {
					@extend %clear;
				}
			}

			li {
				
			}

			span {
				margin: $interval-xs;
				display: block;
			}

			a {
				@extend %mask;
			}

			img {
				width: 100%;
				display: block;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}
}