//文字列表

.list-text {
	$type: 0; //類型代碼

//設定================================================================
		
	.content {

		ul {
			@extend %reset;
		}
	}

//預設================================================================

	&.default {

		> .inner {
			
		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark-1;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//內頁列表================================================================

	&.page-list {

		> .inner {
			
		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('list');
				}
			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark-1;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//選單================================================================

	&.nav {

		.base-mobile & {

			&.is-open {

				.header {
					$icon: 'icon-pic/away-b-bottom.png';

					a {

						&:after {
							@include bg-to-pic($icon, false);
						}
					}
				}

				.content {
					display: block;
				}
			}

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.content {
				display: none;

				> .inner {
					
				}

				ul {
					padding-left: $interval-l;
				}

				li {

				}

				span {
					display: block;
					border-bottom: $border;
				}

				a {
					display: block;
					padding: $interval-m;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('menu');
					}
				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {

				}

				ul {

					&:after {
						@extend %clear;
					}
				}

				li {
					float: left;
					width: 100%;
				}

				span {
					display: block;
					margin: 0 $interval-xs;
					padding: $interval-xs 0;
				}

				a {
					@extend %ellipsis;
					display: block;
					padding: $interval-s;
					text-align: center;
					transition: $transition;

					&:hover {
						background-color: $minor-color;
						color: $white;
					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {

			> .inner {
				padding: 0 $interval-s;
			}

			.header {
				margin-bottom: $interval-s;

				> .inner {

				}

				h4 {
					padding-bottom: $interval-s;
					border-bottom: $border;
					font-size: $font-size-l;
				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {

				}

				li {
					margin: $interval-xs 0;
				}

				span {
					display: block;
				}

				a {
					display: block;
					padding: $interval-xs;
					transition: $transition;

					&:hover {
						background-color: $minor-color;
						color: $white;
					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-module-area &, .base-aside & {

			> .inner {
				
			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('menu');
					}
				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {

				}

				li {

					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %list;
					@extend %list-hover;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-section & {

			> .inner {
				
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
					display: block;
				}

				a {
					@extend %list;
					@extend %list-hover;
				}
			}

			.content {


				> .inner {
					
				}

				ul {

				}

				li {

					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %list;
					@extend %list-hover;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//次選單================================================================

	&.minor-nav {

		> .inner {
			background-color: $major-color;
		}

		.header {

			> .inner {

			}

			h4 {
				@extend %reset;
				padding: $interval-m;
				color: $white;

				&:before {
					@include icon-font('menu');
					margin-right: $interval-xs;
				}
			}

			span {
				color: inherit;
			}

			a {
				color: inherit;
			}
		}

		.content {
			overflow: hidden;

			> .inner {
				
			}

			ul {
				margin: 0 $interval-s $interval-s;
				background-color: $white;
			}

			li {

				&.is-active {

					a {
						background-color: $minor-color;
						color: $white;
					}
				}

				+ li {
					border-top: $border;
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $interval-m;
				transition: $transition;

				&:before {
					@include icon-font('keyboard_arrow_right');
					margin-right: $interval-xs;
				}

				&:hover {
					background-color: $light;
					color: currentColor;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//頁籤================================================================

	&.tab {

		@include js(false) {
			display: none;
		}

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {
				border-bottom-style: $border-style;
				border-bottom-width: $border-width;
				border-bottom-color: $minor-color;
			}

			li {
				display: inline-block;

				&.is-active {

					span {

					}

					a {
						background-color: $minor-color;
						color: $white;
					}
				}
			}

			span {
				display: block;
			}

			a {
				display: block;
				padding: $btn-padding;
				background-color: $light;
				color: $body-font-color;
				transition: $transition;

				&:hover {
					background-color: $light-gray;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//使用者工具================================================================

	&.user-tool {

		.group-page-header & {
			float: right;
		}

		.base-extend & {
			position: fixed;
			right: $interval-l;
			top: 0;

			@include admin('false') {
				display: none;
			}

			@include hack('ie6-7-8') {
				position: absolute;
			}

			> .inner {
				margin: 0;
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {

				}

				li {
					display: inline-block;
				}

				span {
					display: block;
				}

				a {
					@extend %btn;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-section & {
			position: relative;
			z-index: 1;

			&:hover {

				.content {
					display: block;
				}
			}

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %reset;
				}

				span {
					display: block;
				}

				a {
					@extend %btn;

					&:before {
						@include icon-font('settings');
					}
				}
			}

			.content {
				position: absolute;
				display: none;
				top: 100%;
				right: 0;

				> .inner {
					padding: $interval-m;
					border: $border;
					background-color: $white;
				}

				ul {

				}

				li {
					display: block;

					+ li {
						margin-top: $interval-xs;
					}

					&.login {

						a {

							&:before {
								@include icon-font('person');
							}
						}
					}

					&.logout {

						a {

							&:before {
								@include icon-font('person_outline');
							}
						}
					}

					&.edit {

						a {

							&:before {
								@include icon-font('mode_edit');
							}
						}
					}

					&.print {

						a {

							&:before {
								@include icon-font('print');
							}
						}
					}

					&.nav-edit {

						a {

							&:before {
								@include icon-font('mode_edit');
							}
						}
					}

					&.index-edit {

						a {

							&:before {
								@include icon-font('mode_edit');
							}
						}
					}

					&.article-edit {

						a {

							&:before {
								@include icon-font('mode_edit');
							}
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %btn;
					display: block;
					white-space: nowrap;

					&:before {
						margin-right: $interval-xs;
					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//分享================================================================

	&.share {

		.base-extend & {
			position: fixed;
			top: 200px;
			left: $interval-l;

			@include media('mobile') {
				display: none;
			}

			> .inner {
				margin: 0;
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {

				}

				li {

					@each $key, $map in $share-map {

						$pic: map-get($map, 'pic');
						$color: map-get($map, 'color');

						&.#{$key}{

							span {
							}

							a {
								@include icon-pic('#{$pic}');
								background-color: $color;

								&:hover {
									width: 120%;
									background-color: deeper($color);
								}
							}
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %hide-text;
					display: block !important;
					transition: $transition;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-mobile & {

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				ul {

					&:after {
						@extend %clear;
					}
				}

				li {
					width: 100% / length($share-map);
					float: left;

					@each $key, $map in $share-map {

						$pic: map-get($map, 'pic');
						$color: map-get($map, 'color');

						&.#{$key}{

							span {
								display: block;
							}

							a {
								@include icon-pic('#{$pic}', false);
								height: 40px;
								background-color: $color;
							}
						}
					}
				}

				span {
					display: block;
				}

				a {
					@extend %hide-text;
					display: block !important;
					transition: $transition;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//連結================================================================

	&.link {

		.base-mobile & {

			&.is-open {

				.header {
					$icon: 'icon-pic/away-b-bottom.png';

					a {

						&:after {
							@include bg-to-pic($icon, false);
						}
					}
				}

				.content {
					display: block;
				}
			}

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.content {
				display: none;

				> .inner {
					
				}

				ul {
					padding-left: $interval-l;
				}

				li {

				}

				span {
					display: block;
					border-bottom: $border;
				}

				a {
					display: block;
					padding: $interval-m;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			position: absolute;
			top: 7px;
			right: 90px;

			@include js(false) {
				right: 10px;
			}

			@include media('mobile') {
				display: none;
			}

			> .inner {
				margin: 0;
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {

				}

				ul {

				}

				li {
					display: inline;
					color: $white;
					
					+ li {

						&:before {
							content: ' | ';
						}
					}
				}

				span {
					color: inherit;
				}

				a {
					color: inherit;
				}
			}

			.footer {
				display: none;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-content & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('public');
					}
				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {

				}

				ul {

				}

				li {

					+ li {
						margin-top: $interval-s;
					}
				}

				span {
					display: block;
				}

				a {
					@extend %ellipsis;
					@extend %list;
					@extend %list-hover;
				}

				/*i*/.mark {
					@extend %mark-2;
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {

			@include media('mobile') {
				display: none;
			}

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.content {

				> .inner {

				}

				ul {

				}

				li {
					display: inline;
					
					+ li {

						&:before {
							content: ' | ';
						}
					}
				}

				span {
					color: inherit;
				}

				a {
					color: inherit;
				}
			}

			.footer {
				display: none;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//訂閱================================================================

	&.rss {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('star');
				}
			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {

			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}

			/*i*/.mark {
				@extend %mark-2;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//字級================================================================

	&.font-size {
		position: absolute;
		top: 6px;
		right: 10px;

		@include js(false) {
			display: none;
		}

		@include media('mobile') {
			display: none;
		}

		> .inner {
			margin: 0;
		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.content {


			> .inner {

			}

			ul {

			}

			li {
				display: inline-block;
				color: $white;

				&.small {

					span {

						a {
							@include icon-pic-btn('font-smail');
						}
					}
				}

				&.medium {

					span {

						a {
							@include icon-pic-btn('font-medium');
						}
					}
				}

				&.large {

					span {

						a {
							@include icon-pic-btn('font-large');
						}
					}
				}

				&.is-active {

					span {

						a {
							border-color: $minor-color;
							background-color: $minor-color;
						}
					}
				}
			}

			span {
				display: block;
			}

			a {
				border-width: 2px;
				border-style: solid;
				border-color: transparent;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//熱門關鍵字================================================================

	&.hot-key-word {

		.base-mobile & {

			&.is-open {

				.header {
					$icon: 'icon-pic/away-b-bottom.png';

					a {

						&:after {
							@include bg-to-pic($icon, false);
						}
					}
				}

				.content {
					display: block;
				}
			}

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {

				}

				span {

				}

				a {

				}
			}

			.content {
				display: none;

				> .inner {
					
				}

				ul {
					padding-left: $interval-l;
				}

				li {

				}

				span {
					display: block;
					border-bottom: $border;
				}

				a {
					display: block;
					padding: $interval-m;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-header & {
			position: absolute;
			top: 43px;
			right: 325px;

			@include js(false) {
				right: 100px;
			}

			@include media('mobile') {
				display: none;
			}

			> .inner {
				margin: 0;
			}

			.header {
				display: inline;

				> .inner {
					display: inline;
				}

				h4 {
					display: inline;
					color: $white;

					&:after {
						content: ' : ';
					}
				}

				span {
					color: inherit;
				}

				a {
					color: inherit;
				}
			}

			.content {
				display: inline;

				> .inner {
					display: inline;
				}

				ul {
					display: inline;
				}

				li {
					display: inline;
					color: $white;
					
					+ li {

						&:before {
							content: ' , ';
						}
					}
				}

				span {
					color: inherit;
				}

				a {
					color: inherit;
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//網站地圖================================================================

	&.sitemap {

		.group-page-header & {
			clear: both;
		}

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {
				padding: $interval-s;
				background-color: $light;
			}

			li {
				display: inline;

				&:before {
					@include icon-font('home');
				}

				+ li {

					&:before {
						@include icon-font('navigate_next');
					}
				}
			}

			span {

			}

			a {

			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//詳細資訊================================================================

	&.detail {
		margin: $interval-m 0 !important;

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {

			}

			ul {
				text-align: right;
				color: $gray;
			}

			li {
				display: inline;
				font-size: $font-size-s;
				
				+ li {

					&:before {
						content: ' | ';
						color: $light-gray;
					}
				}
			}

			span {
				color: inherit;
			}

			a {
				color: inherit;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//跳轉導航列================================================================

	&.jump-tool {
		margin: $interval-l 0;

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {
				text-align: right;
			}

			li {
				display: inline-block;
			}

			span {
				display: block;
			}

			a {
				@extend %btn;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//檔案下載================================================================

	&.file-download {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('cloud_download');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {

				+ li {
					margin-top: $interval-s;
				}

				@each $key, $map in $file-type-map {
					$pic: map-get($map, 'pic');
					$color: map-get($map, 'color');

					&.#{$key} {

						a {
							border-left-color: $color;

							&:before {
								@include icon-pic($pic);
							}
						}
					}
				}
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
				border-left-width: $interval-xs;
				border-left-style: solid;

				&:before {
					margin-right: $interval-xs;
				}

				&:hover {
					border-left-width: $interval-m;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//多重檔案下載================================================================

	&.file-download-multiple {
		@extend %list;
		border-left-width: $interval-xs;
		border-left-style: solid;
		border-left-color: $gray;

		> .inner {

		}

		.header {
			display: inline-block;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

				&:hover {
					color: currentColor;
				}
			}
		}

		.content {
			display: inline-block;
			margin-left: $interval-m;

			> .inner {

			}

			ul {

			}

			li {
				display: inline-block;

				+ li {

					&:before {
						content: ' | ';
						color: $gray;
					}
				}

				@each $key, $map in $file-type-map {
					$pic: map-get($map, 'pic');
					$color: map-get($map, 'color');

					&.#{$key} {

						a {

							&:before {
								@include icon-pic($pic);
							}

							&:hover {
								border-color: $color;
							}
						}
					}
				}
			}

			span {

			}

			a {
				padding: $interval-xs $interval-s;
				border-width: $border-width;
				border-style: $border-style;
				border-color: transparent;
				transition: $transition;

				&:before {
					margin-right: $interval-xs;
				}

				&:hover {
					border-left-width: $interval-m;
					background-color: $white;
					color: currentColor;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//列表按鈕================================================================

	&.btn {
		margin: $interval-m 0 !important;

		&.right {

			.content {

				ul {
					text-align: right;
				}
			}
		}

		&.center {

			.content {

				ul {
					text-align: center;
				}
			}
		}

		&.justify {

			.content {

				ul {
					text-align: justify;
					line-height: 0;

					&:after {
						content: $content;
						display: inline-block;
						width: 100%;
						height: 0;
					}
				}
			}
		}

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {
				display: inline-block;
			}

			span {
				display: block;
			}

			a {
				@extend %btn;

				&:before {
					margin-right: $interval-xs;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//錨點================================================================

	&.anchor {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('explore');
				}
			}

			span {

			}

			a {

			}
		}

		.content {
			$li-max-len: 10; // li的最大數量

			> .inner {
				
			}

			ul {
				border: $border;

				&:after {
					@extend %clear;
				}

				@for $i from 2 through $li-max-len { //ul的child

					&[data-child="#{$i}"] {

						> li {
							width: 100% / $i; //均分li
							float: left;
						}
					}
				}
			}

			li {
				position: relative;

				+ li {

					&:before {
						content: $content;
						display: block;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						width: 1px;
						background-color: $border-color;
					}
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				display: block;
				padding: $interval-s;
				text-align: center;
				transition: $transition;

				&:hover {
					background-color: $minor-color;
					color: $white;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//輪播================================================================

	&.slider {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('slideshow');
				}
			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {

			}

			li {

				+ li {
					display: none;

					@include js(false) {
						display: block;
						margin-top: $interval-m;
					}
				}
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}

			.mark {
				display: inline-block;
				padding: $interval-xs $interval-s;
				margin-right: $interval-s;
				background-color: $span-color;
				color: $white;
				font-size: $font-size-s;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}
				}

				&.prev {

				}

				&.next {

				}

				&.more {

				}
			}

			span {

			}

			a {

			}
		}
	}

//標籤================================================================

	&.label {
		margin: $interval-m 0 !important;

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {
				
			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			ul {
				text-align: right;

				&:before {
					content: '標籤 : ';
					margin-right: $interval-s;
					color: $gray;
				}
			}

			li {
				display: inline-block;
			}

			span {
				display: block;
			}

			a {
				@extend %mark-1;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {

				&.next, &.prev {

					@include js(false) {
						display: none;
					}
				}

				&.prev {

				}

				&.next {

				}

				&.more {

				}
			}

			span {

			}

			a {

			}
		}
	}
}