//簡單圖片

.simple-pic {
	$type: 0; //類型代碼

//預設================================================================

	&.default {

		.base-module-area &, .base-aside & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('photo');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				img {
					display: block;
					width: 100%;
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-page-area & {

			> .inner {

			}

			.header {

				> .inner {

				}

				h4 {
					@extend %title;

					&:before {
						@include icon-font('photo');
					}
				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				span {
					display: block;
				}

				a {
					display: block;
				}

				img {
					display: block;
					width: 100%;
				}
			}

			.footer {
				@extend %footer-btns;

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}
}