//簡單文字

.simple-text {
	$type: 0; //類型代碼

//預設================================================================

	&.default {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('comment');
				}
			}

			span {

			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			span {
				display: block;
			}

			a {
				@extend %ellipsis;
				@extend %list;
				@extend %list-hover;
			}
		}

		.footer {
			@extend %footer-btns;

			> .inner {

			}

			ul {

			}

			li {


				&.prev {

				}

				&.next {

				}

				&.more {

				}
			}

			span {

			}

			a {

			}
		}
	}

//主要標誌================================================================

	&.major-logo {
		float: left;

		@include media('mobile') {
			float: none;
		}

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			h1 {
				@extend %reset;
			}

			span {
				display: block;

				@include media('mobile') {
					padding: $interval-s;
				}
			}

			a {
				$pic: 'major_logo.png';
				$pic-w: image-width($pic);
				$pic-h: image-height($pic);

				@include bg-to-pic($pic, false);
				@extend %bg-contain;
				@extend %hide-text;
				display: block;
				width: $pic-w;
				padding-bottom: ( $pic-h / $pic-w ) * 100%;

				@include media('mobile') {
					width: 100%;
					padding-bottom: $pic-h;
				}
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//次要標誌================================================================

	&.minor-logo {
		float: left;

		@include media('mobile') {
			display: none;
		}

		> .inner {

		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			span {
				display: block;
			}

			a {
				$pic: 'minor_logo.png';
				$pic-w: image-width($pic);
				$pic-h: image-height($pic);

				@include bg-to-pic($pic, false);
				@extend %bg-contain;
				@extend %hide-text;
				display: block;
				width: $pic-w;
				padding-bottom: ( $pic-h / $pic-w ) * 100%;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//導盲磚================================================================

	&.accesskey {

		> .inner {
			margin: 0;
		}

		.header {
			display: none;

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {
			height: 0;

			> .inner {
				
			}

			span {
				color: $light-gray;
			}

			a {
				color: inherit;
			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//頁面標題================================================================

	&.heading {
		overflow: hidden;

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			h3 {
				@extend %reset;
				padding-bottom: $interval-s;
				font-size: $font-size-xl;
				font-weight: $font-weight-n;
				color: $title-color;
			}

			span {
				
			}

			a {

			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//文章標題================================================================

	&.title {

		> .inner {

		}

		.header {

			> .inner {

			}

			h4 {

			}

			span {
					
			}

			a {

			}
		}

		.content {

			> .inner {
				
			}

			h1 {
				font-size: $font-size-l;
				padding-bottom: $interval-s;
				border-bottom-color: $border-color;
				border-bottom-width: $interval-xs;
				border-bottom-style: double;
				margin-bottom: $interval-s;
			}

			span {
				
			}

			a {

			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//瀏覽人次================================================================

	&.visit-count {
		margin: $interval-m 0;

		> .inner {

		}

		.header {
			display: inline;

			> .inner {
				display: inline;
			}

			h4 {
				display: inline;

				&:after {
					content: ' : ';
				}
			}

			span {
				color: inherit;
			}

			a {
				color: inherit;
			}
		}

		.content {
			display: inline;

			> .inner {
				display: inline;
			}

			span {

			}

			a {

			}
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//天氣================================================================

	&.weather {

		@include js(false) {
			display: none;
		}

		> .inner {

		}

		.header {


			> .inner {

			}

			h4 {
				@extend %title;

				&:before {
					@include icon-font('cloud_queue');
				}
			}

			span {
					
			}

			a {

			}
		}

		.content {


			> .inner {
				
			}

			span {
				display: block;
			}

			a {
				@extend %list;
				@extend %list-hover;
			}
		}

		.mark {
			@extend %mark-1;
		}

		.footer {

			> .inner {

			}

			ul {

			}

			li {

			}

			span {

			}

			a {

			}
		}
	}

//收合按鈕================================================================

	&.toogle-btn {

		.base-mobile & {
			position: absolute;
			left: 100%;
			margin: 0 !important;

			@include js(false) {
				display: none;
			}

			&.is-active {

				.content {

					a {
						width: auto;
						background-color: transparent;
						
						&:before {
							@include icon-font('close');
							line-height: $rwd-btn-size;
							color: $white;
						}

						&:after {
							content: $content;
						}
					}
				}
			}

			> .inner {
				margin: 0 !important;
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {

				> .inner {
					
				}

				span {
					display: block;
				}

				a {
					display: block;
					width: 100vw;
					font-size: $font-size-xl;
					background-color: deeper($major-color);
					
					&:before {
						@include icon-font('menu');
						display: block;
						width: $rwd-btn-size;
						text-align: center;
						line-height: $rwd-btn-size;
						color: $white;
					}

					&:after {
						position: fixed;
						top: 0;
						right: 0;
						width: 100vw;
						height: 100vh;
						background-color: rgba($deep, $opacity-m);
						z-index: -1;
					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}

		.base-footer & {
			border-bottom: $interval-xs solid $deep-gray;

			@include js(false) {
				display: none;
			}

			@include media('mobile') {
				display: none;
			}

			&.is-active {

				.content {

					a {

						&:before {
							@include icon-font('keyboard_arrow_up');
						}

						&:after {
							content: '展開選單';
						}
					}
				}
			}

			> .inner {

			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {
				@extend %center;

				> .inner {
					text-align: right;
				}

				span {
					display: inline-block;
					margin-right: $layout-interval;
				}

				a {
					@extend %btn;

					&:before {
						@include icon-font('keyboard_arrow_down');
						margin-right: $interval-xs;
					}

					&:after {
						content: '收合選單';
					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}

//目標按鈕================================================================

	&.target-btn {

		.base-extend & {
			position: fixed;
			right: 0;
			bottom: 0;
			left: 0;

			@include media('mobile') {
				display: none;
			}

			> .inner {
				@extend %center;
				position: relative;
			}

			.header {
				display: none;

				> .inner {

				}

				h4 {

				}

				span {
						
				}

				a {

				}
			}

			.content {
				$pic: 'icon-pic/away-w-top.png'; //圖片
				$btn-w: 50px;
				$btn-h: 30px;

				> .inner {

				}

				span {
					display: block;
				}

				a {
					@include bg-to-pic($pic, false);
					position: absolute;
					bottom: 0;
					right: $layout-interval;
					display: block;
					width: $btn-w;
					height: $btn-h;
					background-color: $btn-bg-color;
					transition: $transition;

					&:hover {
						height: $btn-h + $interval-m;
						background-color: $btn-hover-bg-color;
					}
				}
			}

			.footer {

				> .inner {

				}

				ul {

				}

				li {

				}

				span {

				}

				a {

				}
			}
		}
	}
}