<div class="list-text user-tool" data-index="<%= index %>" data-type="<%= $module %>" <% if func_set %> data-function="<%= func_set %>"<% end %> ><div class="inner">
	<div class="header"><div class="inner">
		<h4><span><a><% if header_text %><%= header_text %><% end %></a></span></h4>
	</div></div>
	<div class="content"><div class="inner">
		<ul data-index="1" data-child="6">
			<li class="login" data-index="1"><span><a href="#">登入</a></span></li>
			<li class="nav-edit" data-index="2"><span><a href="#">選單編輯</a></span></li>
			<li class="index-edit" data-index="3"><span><a href="#">首頁編輯</a></span></li>
			<li class="article-edit" data-index="4"><span><a href="#">文章編輯</a></span></li>
			<li class="logout" data-index="5"><span><a href="#">登出</a></span></li>
		</ul>
	</div></div>
</div></div>