//排版框架

	// type 0 模組(module)
	// type 1 分割(cell)
	// type 2 頁籤(tab)
	// type 3 單欄(row)
	// type 4 清單(list)

@import 'sys/variable'; //系統變數

@import 'base/variable'; //變數

@for $i from $min-child through $max-child { //算自然分割

	[data-type="1"][data-child="#{$i}"] {

		> .inner{

			> .content {

				> .inner {

					> [data-index][data-type] {
						width: 100% / $i;

						@include media('pad') {
							width: 50%;

							&:nth-of-type(odd){
								clear: left;
							}

							[data-index][data-type] {
								width: 100%;
							}
						}

						@include media('phone') {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

@for $i from $min-setLen through $max-setLen { //算設定分割

	[data-type="1"][data-setLen="#{$i}"] {

		> .inner{

			> .content {

				> .inner {

					> [data-index][data-type] {
						width: 100% / $i;

						&:nth-of-type(#{$i}n+1) {
							clear: left;
						}

						@include media('pad') {
							width: 50%;

							&:nth-of-type(#{$i}n+1) {
								clear: none;
							}

							&:nth-of-type(odd){
								clear: left;
							}

							[data-index] {
								width: 100%;
							}
						}

						@include media('phone') {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

[data-index][data-type] { //模組與群組

	> .inner {
		position: relative;
		min-height: 1px;
	}
}

[data-type="0"] { //模組

	> .inner {
		margin: 0 $layout-interval;
	}

	.header {

		h1, h2, h3, h4, h5, h6 {
			@extend %reset;
		}
	}

	.footer {

		ul {
			@extend %reset;
		}
	}
}

[data-type="1"], [data-type="2"], [data-type="3"], [data-type="4"] { //群組

	> .inner {
		
		> .header {

			h1, h2, h3, h4, h5, h6 {
				@extend %reset;
			}
		}

		> .footer {

			ul {
				@extend %reset;
			}
		}
	}
}

[data-type="1"] { //分割

	> .inner {

		> .content {

			> .inner {

				> [data-index][data-type] {
					float: left
				}

				&:after{
					@extend %clear;
				}
			}
		}
	}
}

[data-type="2"] { //頁籤

	> .inner {

		> .content {

			> .inner {

				> [data-index][data-type] {

					> .container {
						margin: 0;
					}
				}
			}
		}
	}
}

[data-type="3"] { //單欄

	> .inner {

	}
}

[data-type="4"] { //清單

	> .inner {
		margin: 0 $layout-interval;
	}

	[data-index][data-type] { //模組

		> .inner {
			margin: 0;
		}
	}
}