<div class="base-module-area" data-index="<%= index %>" data-type="3" data-child="1"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">

	</div></div>
</div></div>