<div class="base-extend" data-index="<%= index %>" data-type="3" data-child="2"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">

	<!-- user-tool 使用者工具 -->
		<%= render :partial => '/Module/list-text_user-tool', :locals => { :index => 1 } %>
	<!-- user-tool 結束 -->

	<!-- share 分享 -->
		<%= render :partial => '/Module/list-text_share', :locals => { :index => 2 } %>
	<!-- share 結束 -->

	</div></div>
</div></div>