<div class="base-page-area" data-index="<%= index %>" data-type="3" data-child="2"><div class="inner">
	<div class="header"><div class="inner">
	</div></div>
	<div class="content"><div class="inner">

		<!-- base-aside 內頁側欄區塊 -->
			<%= render :partial => '/Base/base-aside', :locals => { :index => 1 } %>
		<!-- base-aside 結束 -->

		<!-- base-section 內頁內容區塊 -->
			<%= render :partial => '/Base/base-section', :locals => { :index => 2 } %>
		<!-- base-section 結束 -->

	</div></div>
</div></div>