<div class="base-module-area" data-index="<%= index %>" data-type="<%= $row %>" data-child="3"><div class="inner">
	<div class="header"><div class="inner">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="content"><div class="inner">

	<!-- accesskey 導盲磚 -->
		<%= render :partial => "/Erb/module/simple-text_accesskey", :locals => { :access_key => "C", :access_title => "中間主要內容區，此區塊呈現網頁的網頁內容", :header_text => '導盲磚' } %>
	<!-- accesskey 結束 -->

	<!-- 首頁內容開始 -->
		<%= yield %>
	<!-- 首頁內容結束 -->

	</div></div>
</div></div>