<div class="group base-module-area" data-index="<%= index %>" data-type="<%= $row %>" data-child="1"><div class="in">
	<div class="hd"><div class="in">
		<h3><span><a></a></span></h3>
	</div></div>
	<div class="ct"><div class="in">

	<!-- accesskey 導盲磚 -->
		<%= render partial: "/Erb/module/simple-text_accesskey", locals: set() %>
	<!-- accesskey 結束 -->

	<!-- slider 主輪播 -->
		<%= render partial: "/Erb/group/group-list_major-slider", locals: set({ index: 1, func_set: "{'fadeSlider':{'auto':false,'delay':5000,'speed':300}}", header_text: "主輪播" }) %>
	<!-- slider 結束 -->
	
	</div></div>
</div></div>