<!-- base-article 文章 -->
	<div class="base-article" data-index="2" data-type="3" data-child="4"><div class="inner">
		<div class="header"><div class="inner">
		</div></div>
		<div class="content"><div class="inner">

		<!--title 文章標題 -->
			<%= render :partial => '/Module/simple-text_title', :locals => { :index => 1 } %>
		<!-- title 結束 -->

		<!-- detail 詳細資訊 -->
			<%= render :partial => '/Module/list-text_detail', :locals => { :index => 2 } %>
		<!-- detail 結束 -->

		<!-- editor 文章編輯 -->
			<%= render :partial => '/Module/area-editor_editor', :locals => { :index => 3 } %>
		<!-- editor 結束 -->

		<!-- icon 各種標章 -->
			<%= render :partial => '/Module/list-pic_icon', :locals => { :index => 4 } %>
		<!-- icon 結束 -->

		</div></div>
	</div></div>
<!-- base-article 結束 -->