<%= render partial: "/erb/sys_variable" %>

<link rel="stylesheet" media="screen" href="/css/cp.css"> <!-- cp 頁 -->

<div class="area-editor user-edit" data-index="1" data-type="0" data-func="{'imgMapRwd':{},'tableImgRwd':{}}"><div class="in">
	<div class="hd"><div class="in">
		<h4><span><a href="#">cp 頁框架</a></span></h4>
	</div></div>
	<div class="ct"><div class="in">

		//...

	</div></div>
</div></div>